# Library

In [ ]:
!pip install pypdf arxiv fitz pymupdf unstructured python-pptx langchain_experimental pdfminer pdfminer.six pypdfium2 pdfplumber jq

In [299]:
from src.utils import show_stream

from dotenv import load_dotenv

import os
import pickle
import json
import bs4
import nest_asyncio
from datetime import datetime
from pydantic import BaseModel, Field
from transformers import AutoModelForCausalLM, AutoTokenizer, pipeline
from seaborn import load_dataset

from langchain.globals import set_llm_cache
from langchain.cache import InMemoryCache
from langchain_core.load import dumpd, dumps, load, loads
from langchain_huggingface import HuggingFaceEndpoint
from langchain_community.callbacks.manager import get_openai_callback
from langchain_community.chat_models import ChatOllama
from langchain_community.llms.huggingface_pipeline import HuggingFacePipeline
from langchain_google_genai import ChatGoogleGenerativeAI
from langchain_openai import ChatOpenAI
from langchain import hub
from langchain_core.prompts import (
    PromptTemplate,
    ChatPromptTemplate,
    MessagesPlaceholder,
)
from langchain_core.prompts.few_shot import FewShotPromptTemplate
from langchain_core.example_selectors import (
    SemanticSimilarityExampleSelector,
    MaxMarginalRelevanceExampleSelector,
)
from langchain_core.output_parsers import (
    StrOutputParser,
    PydanticOutputParser,
    CommaSeparatedListOutputParser,
    JsonOutputParser,
)
from langchain.output_parsers.structured import (
    ResponseSchema,
    StructuredOutputParser,
)
from langchain.output_parsers.pandas_dataframe import PandasDataFrameOutputParser
from langchain.output_parsers.datetime import DatetimeOutputParser
from langchain.output_parsers.fix import OutputFixingParser
from langchain.output_parsers.retry import RetryOutputParser
from langchain_core.runnables import RunnableParallel, RunnablePassthrough, RunnableLambda

from langchain_core.documents import Document
from langchain_community.document_loaders import PyPDFLoader
from langchain_community.document_loaders.csv_loader import CSVLoader
from langchain_community.document_loaders import (
    UnstructuredPDFLoader,
    PyPDFium2Loader,
    PDFMinerLoader,
    PyPDFDirectoryLoader,
    PDFPlumberLoader,
    UnstructuredExcelLoader,
    DataFrameLoader,
    Docx2txtLoader,
    UnstructuredWordDocumentLoader,
    UnstructuredPowerPointLoader,
    WebBaseLoader,
    TextLoader,
    DirectoryLoader,
    JSONLoader,
    ArxivLoader,
)

from langchain_text_splitters import (
    CharacterTextSplitter,
    RecursiveCharacterTextSplitter,
    Language,
    MarkdownHeaderTextSplitter,
    HTMLHeaderTextSplitter,
    RecursiveJsonSplitter,
)
from langchain_experimental.text_splitter import SemanticChunker
from langchain_openai.embeddings import OpenAIEmbeddings
from langchain_huggingface.embeddings import HuggingFaceEndpointEmbeddings
from langchain_community.embeddings import OllamaEmbeddings
from langchain.storage import LocalFileStore
from langchain.storage import InMemoryByteStore
from langchain.embeddings import CacheBackedEmbeddings

In [147]:
load_dotenv()
set_llm_cache(InMemoryCache())

# LangChain

자연어 처리와 대화형 AI 애플리케이션을 구축하는 데 도움을 주는 프레임워크. <br>
여러 가지 NLP 모델과 데이터 소스를 쉽게 통합할 수 있도록 설계. <br>
복잡한 대화형 시스템을 개발하는 데 필요한 다양한 도구와 컴포넌트를 제공. <br>
대화형 애플리케이션, 챗봇, 자동화된 고객 서비스 솔루션 등을 보다 효율적으로 개발 가능. <br>

<br>

<font style="font-size:20px"> 특징 </font>

- 모델 통합: 다양한 언어 모델(예: GPT, Claude 등)을 쉽게 사용할 수 있도록 지원
- 데이터 소스 연결: 데이터베이스, API, 파일 시스템 등 여러 소스와 연결할 수 있는 기능 제공
- 체인 구성: 여러 작업을 순차적으로 연결하여 복잡한 프로세스를 만들 수 있는 체인 개념 도입
- 사용자 정의: 사용자 요구에 맞게 쉽게 확장하고 커스터마이즈 가능

## Output Parsers

LLM의 출력을 구조화된 형태로 변환하는 컴포넌트

### PydanticOutputParser

언어 모델의 출력을 구조화된 정보로 변환 하는 데 도움을 주는 클래스. <br>
단순 텍스트 형태의 응답 대신, 사용자가 원하는 형식으로 답변 제공 가능.

아래의 두 핵심 method로 구현 <br>
- get_format_instruction: 출력해야 할 형식을 정의하는 instruction 전달
- parse: 특정 구조로 변환

<br>

<font style="font-size:20px"> 사용 방법 </font>

> ```python
> prompt = PromptTemplate.from_template(
> """
> You are a helpful assistant. 아래 질문에 맞게 한국어로 ㄷ바하라.
> 
> question:
> {question}
> 
> 재무제표:
> {financial_statement}
> 
> format:
> {format}
> """
> )
> 
> class FinancialStatementSummary(BaseModel):
>     asset: str = Field(description='자산')
>     capital: str = Field(description='자본')
>     liability: str = Field(description='부채')
> 
> parser = PydanticOutputParser(pydantic_object=FinancialStatementSummary)
> prompt = prompt.partial(format=parser.get_format_instructions())
> 
> 
> model = 
> 
> chain = prompt | llm | parser
> 
> response = chain.invoke(
>     {
>         "financial_statement": financial_statement,
>         "question": "재무제표에서 핵심 사항을 요약하라.",
>     }
> )
> ```

### CommaSeparatedListOutputParser

출력 데이터를 ,로 구분된 형식으로 받고 싶을 때 사용

<br>

> ```python
> parser = CommaSeparatedListOutputParser()
> format_instructions = oparser.get_format_instructions()
> prompt = PromptTemplate(
>     template="{subject}에 대해서 대표적인 세 가지 기술.\n{format_instructions}",
>     input_variables=['subject'],
>     partial_variables={"format_instructions": format_instructions},
> )
> 
> model = ChatOpenAI(temperature=1, model_name='gpt-4o-mini')
> 
> chain = prompt | model | parser
> 
> response = chain.invoke(
>     {
>         "financial_statement": financial_statement,
>         "question": "재무제표에서 핵심 사항을 요약하라.",
>     }
> )
> ```

### StructuredOutputParser

답변을 json 형식으로 구성하고 key-value 쌍으로 갖는 여러 필드를 반환하고자 할 때 유용 <br>
이는 로컬 모델이나 parameter 수가 적은 모델에서 유용. <br>
&nbsp;&nbsp;&nbsp;&nbsp; 로컬 모델은 pydantic을 지원하지 않을 가능성이 큼

<br>

<font style="font-size:20px"> 사용 방법 </font>

> ```python
> response_schemas = [
>     ResponseSchema(
>         name='date',
>         description='사건이 일어난 날짜.',
>     ),
>     ResponseSchema(
>         name='detail',
>         description='어떠한 사건이 발생하였는지 기술.',
>     ),
> ]
> parser = StructuredOutputParser.from_response_schemas(response_schemas)
> 
> format_instructions = output_parser.get_format_instructions()
> prompt = PromptTemplate(
>     template='가능한 자세하게 질문에 대한 답변.\n{format_instructions}\n{question}',
>     input_variables=['question'],
>     partial_variables={'format_instructions': format_instructions},
> )
> 
> model = ChatOpenAI(temperature=1, model_name='gpt-4o-mini')
> 
> chain = prompt | model | parser
> 
> chain.invoke({"question": "100년전 일어난 역사적인 사건을 알려줄래?"})
> ```

In [76]:
# 응답 스키마 정의: 사건에 대한 정보를 담는 구조체
response_schemas = [
    ResponseSchema(
        name='date',  # 사건이 발생한 날짜
        description='사건이 일어난 날짜',
    ),
    ResponseSchema(
        name='detail',  # 사건에 대한 설명
        description='어떤 사건이 발생하였는지 설명.',
    ),
    ResponseSchema(
        name='keyword',  # 사건의 키워드
        description='사건의 키워드',
    ),
]

# 구조화된 출력 파서 생성: 정의한 응답 스키마를 사용해 파서 생성
parser = StructuredOutputParser.from_response_schemas(response_schemas)

# 파서에서 포맷 지침을 가져옴: 응답 형식에 대한 안내
format_instructions = parser.get_format_instructions()

# 프롬프트 템플릿 정의: 질문을 할 때 사용할 템플릿
template = '''
가능한 자세하게 질문데 대한 답을 해줄래?
{format_instructions}  # 포맷 지침이 포함될 자리
{question}  # 사용자가 입력한 질문이 포함될 자리
'''

# 프롬프트 템플릿 생성: 입력 변수를 지정
prompt = PromptTemplate(
    template=template,
    input_variables=['question'],  # 사용자 질문을 변수로 설정
    partial_variables={  # 포맷 지침을 미리 채워 넣음
        'format_instructions': format_instructions,
    }
)

# 모델 설정: ChatOpenAI 인스턴스 생성
model = ChatOpenAI(
    model_name='gpt-4o-mini',  # 사용할 모델의 이름
    temperature=1,  # 응답의 창의성 정도 (높을수록 다양성 증가)
)

# 전체 체인 구성: 프롬프트, 모델, 파서를 연결
chain = prompt | model | parser

# 질문을 통해 체인을 실행하고 응답을 출력
print(chain.invoke({'question': '50년 전에 일어난 역사적 사건에 대해서 얘기해줄래?'}))

{'date': '1973-06-17', 'detail': '워터게이트 사건은 미국의 정치 스캔들로, 대통령 리처드 닉슨과 그의 행정부가 민주당 국가 본부에 대한 도청을 시도하면서 시작되었다. 이 사건은 이후의 조사에서 닉슨 행정부의 여러 불법 행위를 밝혀내게 되었고, 결국 닉슨 대통령은 1974년에 사임하게 되었다.', 'keyword': '워터게이트 사건'}

### JsonOutputParser

JSON 스키마를 지정할 수 있게 해주며, 그 스키마에 맞게 결과 전달. <br>

<br>

<font style="font-size:20px"> 사용 방법 </font>

> ```python
> parser = JsonOutputParser()
> 
> format_instructions = parser.get_format_instructions()
> prompt = PromptTemplate(
>     template='주어진 질문에 대하여 가능한 상세히 답변.\n{format_instructions}\n{question}',
>     input_variables=['question'],
>     partial_variables={'format_instructions': format_instructions},
> )
> 
> model = model = ChatOpenAI(temperature=1, model_name='gpt-4o-mini')
> 
> chain = prompt | model | parser
> 
> chain.invoke({"question": "100년 전에 일어난 역사적인 사건에 대해서 알려줘. 일어난 날짜는 'date'에, 자세한 사건의 내용은 'event'에 담아줘."})
> ```

In [80]:
# JSON 형식의 출력을 파싱하기 위한 파서 생성
parser = JsonOutputParser()

# 파서에서 포맷 지침을 가져옴: JSON 형식으로 응답하는 방법에 대한 안내
format_instructions = parser.get_format_instructions()

# 프롬프트 템플릿 정의: 질문을 할 때 사용할 템플릿
template = '''
가능한 자세하게 질문에 대한 답을 해줄래?
{format_instructions}  # 포맷 지침이 포함될 자리
{question}  # 사용자가 입력한 질문이 포함될 자리
'''

# 프롬프트 템플릿 생성: 입력 변수를 지정
prompt = PromptTemplate(
    template=template,
    input_variables=['question'],  # 사용자 질문을 변수로 설정
    partial_variables={  # 포맷 지침을 미리 채워 넣음
        'format_instructions': format_instructions,
    }
)

# 모델 설정: ChatOpenAI 인스턴스 생성
model = ChatOpenAI(
    model_name='gpt-4o-mini',  # 사용할 모델의 이름
    temperature=1,  # 응답의 창의성 정도 (높을수록 다양성 증가)
)

# 전체 체인 구성: 프롬프트, 모델, 파서를 연결
chain = prompt | model | parser

# 질문을 통해 체인을 실행하고 응답을 출력
print(
    chain.invoke({
        'question': '''
        50년 전에 일어난 역사적 사건에 대해서 얘기해줄래?
        일어난 날짜는 "date"에, 사건의 대략적인 내용은 "event"에,
        사건의 키워드는 "keyword"에 담아줘
        '''}
    )
)

{'date': '1973-10-06', 'event': '중동전쟁(욤 키푸르 전쟁)이 시작되었다. 이 전쟁은 이스라엘과 아랍 국가 간의 갈등이 극에 달한 상황에서 발발했다. 이집트와 시리아가 이스라엘에 대한 기습 공격을 감행하며 전투가 시작되었다.', 'keyword': ['욤 키푸르 전쟁', '중동전쟁', '이스라엘', '이집트', '시리아', '1973']}

### PandasDataFrameOutputParser

임의의 DataFrame을 지정하고 해당 DataFrame에서 데이터를 추출하여 형식화된 사전 형태로 데이터를 조회할 수 있도록 함. <br>


> ```python
> df = pd.read_csv('')
> 
> parser = PandasDataFrameOutputParser(dataframe=df)
> 
> prompt = PromptTemplate(
>     template='유저의 질문에 정확하게 답하여라.\n{format_instructions}\n{query}\n',
>     input_variables=['query'],
>     partial_variables={
>         'format_instructions': parser.get_format_instructions()
>     },
> )
> 
> model = ChatOpenAI(temperature=1, model_name='gpt-4o-mini')
> 
> chain = prompt | model | parser
>
> output = chain.invoke({'query': 'Age column 조회'})
> ```

In [113]:
# 'tips' 데이터셋을 로드하여 DataFrame으로 저장
df = load_dataset('tips')

# Pandas DataFrame 출력 파서 생성: 로드한 데이터프레임을 파싱하기 위한 파서
parser = PandasDataFrameOutputParser(dataframe=df)

# 프롬프트 템플릿 정의: 질문을 할 때 사용할 템플릿
prompt = PromptTemplate(
    template='유저의 질문에 답변해줄래?\n{format_instruction}\n{query}',  # 질문과 포맷 지침 포함
    input_variables=['query'],  # 사용자 질문을 변수로 설정
    partial_variables={  # 포맷 지침을 미리 채워 넣음
        'format_instruction': parser.get_format_instructions(),  # 파서로부터 포맷 지침 가져오기
    }
)

# 모델 설정: ChatOpenAI 인스턴스 생성
model = ChatOpenAI(
    model_name='gpt-4o-mini',  # 사용할 모델의 이름
    temperature=0,  # 응답의 일관성을 높이기 위해 온도를 0으로 설정
)

# 전체 체인 구성: 프롬프트, 모델, 파서를 연결
chain = prompt | model | parser

# 질문을 통해 체인을 실행하고 응답을 출력
print(chain.invoke({'query': 'tip columns이 2.2 인 컬럼 보여줄래'}))

AIMessage(content='Invalid operation: The operation should be a valid Pandas DataFrame operation, but "show" is not.', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 22, 'prompt_tokens': 449, 'total_tokens': 471, 'completion_tokens_details': {'audio_tokens': None, 'reasoning_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': None, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-mini-2024-07-18', 'system_fingerprint': 'fp_482c22a7bc', 'finish_reason': 'stop', 'logprobs': None}, id='run-3e062264-e15c-4c83-a764-5f60233ab66b-0', usage_metadata={'input_tokens': 449, 'output_tokens': 22, 'total_tokens': 471, 'input_token_details': {'cache_read': 0}, 'output_token_details': {'reasoning': 0}})

### DatetimeOutputParser

datetime 형식으로 파싱하는 데 사용

<br>

<font style="font-size:20px"> 사용 방법 </font>

> ```python
> parser = DatetimeOutputParser()
> parser.format = "%Y-%m-%d"
> 
> template = """유저의 질문에 대답하라.:\n\n#Format Instructions: \n{format_instructions}\n\n#Question: \n{question}\n\n#Answer:"""
> 
> prompt = PromptTemplate.from_template(
>     template,
>     partial_variables={
>         "format_instructions": parser.get_format_instructions()
>     },
> )
> 
> model = ChatOpenAI(temperature=1, model_name='gpt-4o-mini')
> 
> chain = prompt | model | parser
>
> output = chain.invoke({"question": "조선 건국 연도는?"})
> output.strftime("%Y-%m-%d")
> ```

In [168]:
# 날짜 형식 출력을 위한 파서 생성
parser = DatetimeOutputParser()

# 출력할 날짜 형식을 지정 (예: 'YYYY-MM-DD' 형식)
parser.format = '%Y-%m-%d'

# 파서에서 포맷 지침을 가져옴: 날짜 형식에 대한 안내
format_instructions = parser.get_format_instructions()

# 프롬프트 템플릿 정의: 질문을 할 때 사용할 템플릿
template = '''
유저의 질문에 대한 답을 해줄래?
{format_instructions}  # 날짜 형식 안내가 포함될 자리
{question}  # 사용자가 입력한 질문이 포함될 자리
'''

# 프롬프트 템플릿 생성: 입력 변수를 지정
prompt = PromptTemplate(
    template=template,
    input_variables=['question'],  # 사용자 질문을 변수로 설정
    partial_variables={  # 포맷 지침을 미리 채워 넣음
        'format_instructions': format_instructions,
    }
)

# 모델 설정: ChatOpenAI 인스턴스 생성
model = ChatOpenAI(
    model_name='gpt-4o-mini',  # 사용할 모델의 이름
    temperature=1,  # 응답의 다양성을 높이기 위해 온도를 1로 설정
)

# 전체 체인 구성: 프롬프트, 모델, 파서를 연결
chain = prompt | model | parser

# 질문을 통해 체인을 실행하고 응답을 출력
print(
    chain.invoke({
        'question': '이라크 전쟁 발생 일시는?'  # 질문 입력
    })
)

2003-03-20 00:00:00

In [116]:
# 주어진 질문을 통해 체인을 실행하고 응답을 출력
output = chain.invoke({'question': '이라크 전쟁 발생 일시는?'})

# 출력된 결과를 날짜 형식으로 변환 (여기서는 '%Y-%m-%d' 형식으로 출력)
formatted_output = output.strftime('%Y-%m-%d')

# 최종 결과 출력
print(formatted_output)

'2003-03-20'

### OutputFixingParser

출력 파싱 과정에서 발생할 수 있는 오류를 자동으로 수정하는 기능을 제공. <br>
기본적으로 다른 parser를 wrapping하고, 해당 parser가 처리할 수 없는 형식의 출력이나 오류를 반환할 경우, 다시 LLM을 호출하여 해당 오류를 수정하도록 설계. <br>

<br>

<font style="font-size:20px"> 사용 방법 </font>

> ```python
> class Singer(BaseModel):
>     name: str = Field(description="가수 이름")
>     album: list[str] = Field(description="앨범 리스트")
> 
> parser = PydanticOutputParser(pydantic_object=Singer)
> 
> # 모델 결과가 아래와 같다고 가정
> bad_response = "{'name': '아이유', 'film_names': '너랑나'}"
> parser.parse(bad_response)
>
> new_parser = OutputFixingParser.from_llm(
>     parser=parser,
>     llm=ChatOpenAI(temperature=1, model_name='gpt-4o-mini')
> )
> good_response = new_parser.parse(bad_response)
> ```

In [120]:
# Pydantic 모델 정의: 가수 정보를 담는 구조체
class Singer(BaseModel):
    name: str = Field(description='가수 이름')  # 가수 이름
    album: list[str] = Field(description='앨범 리스트')  # 앨범 리스트

# PydanticOutputParser 생성: Singer 모델을 기반으로 파서를 생성
parser = PydanticOutputParser(pydantic_object=Singer)

# 잘못된 형식의 응답 예시: 앨범이 리스트가 아닌 문자열로 제공됨
bad_response = "{'name': '에스파', 'album': 'Armageddon - The 1st Album'}"

# 형식이 일치하지 않아 에러 발생
parser.parse(bad_response)

OutputParserException: Invalid json output: {'name': '에스파', 'album': 'Armageddon - The 1st Album'}
For troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE

In [121]:
# OutputFixingParser 생성: 잘못된 출력을 수정할 수 있는 파서 생성
new_parser = OutputFixingParser.from_llm(
    parser=parser,  # 기존의 PydanticOutputParser 전달
    llm=ChatOpenAI(model_name='gpt-4o-mini', temperature=1),  # 수정에 사용할 LLM 설정
)

# 잘못된 응답을 파싱 시도
fixed_output = new_parser.parse(bad_response)

# 최종 수정된 출력 결과 출력
print(fixed_output)

Singer(name='에스파', album=['Armageddon - The 1st Album'])

## Model

### Save & Load

<font style="font-size:20px"> Save </font>

Serialization: 모델을 저장 가능하도록 변경하는 과정. <br>

<br>

> ```python
> dumps(chain)    # json 문자열로 직렬화
> dumpd(chain)    # json으로 직렬화
> 
> with open('<file_name>.pkl', 'wb') as file:
>     pickle.dump(dumpd, file)
> 
> with open("<file_name>.json", "r") as file:
>     json_chain = json.load(file)
>     chain = load(json_chain)
> ```

<br>
<br>

<font style="font-size:20px"> Load </font>

<br>

> ```python
> with open('<file_name>.pkl', 'rb') as file:
>     loaded_chain = pickle.load(file)
> chain = load(loaded_chain)
> 
> chain = load(
>    loaded_chain, secrets_map={'OPENAI_API_KEY': os.environ['OPENAI_API_KEY']}
> )
> with open('<file_name>.json', 'r') as file:
>     json_chain = json.load(file)
>     chain = load(json_chain)
> ```

In [188]:
chain = prompt | model

In [183]:
#  로컬 컬렉션으로 직렬화 가능한지 확인, 체인에서 직렬화 불가능한 객체가 있으면 로드불가
parser.is_lc_serializable()

False

In [189]:
# 'chain' 객체를 직렬화하여 './model/chain.pickle' 파일에 저장
with open('./model/chain.pickle', 'wb') as file:  # 파일을 바이너리 쓰기 모드로 열기
    pickle.dump(dumpd(chain), file)  # 'chain' 객체를 직렬화하여 파일에 저장

In [190]:
#  체인에서 직렬화 불가능한 객체가 있으면 로드불가
with open('./model/chain.pickle', 'rb') as file:
    loaded_chain = pickle.load(file)
load(loaded_chain)

# chain = load(
#     loaded_chain,
#     secrets_maps={
#         'OPENAI_API_KEY': os.environ['OPENAI_API_KEY']
#     })

PromptTemplate(input_variables=['question'], input_types={}, partial_variables={'format_instructions': "Write a datetime string that matches the following pattern: '%Y-%m-%d'.\n\nExamples: 0886-10-04, 1501-05-05, 2004-08-07\n\nReturn ONLY this string, no other words!"}, template='\n유저의 질문에 대한 답을 해줄래?\n{format_instructions}\n{question}\n')
| ChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x000001D310FAE530>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x000001D30FA44130>, root_client=<openai.OpenAI object at 0x000001D30FAEF970>, root_async_client=<openai.AsyncOpenAI object at 0x000001D310FAE9E0>, model_name='gpt-4o-mini', temperature=1.0, model_kwargs={}, openai_api_key=SecretStr('**********'))

### Gemini

site: https://aistudio.google.com/app/apikey?hl=ko

<br>

> ```python
> llm = ChatGoogleGenerativeAI(model="gemini-1.5-pro-latest")
> answer = llm.stream("자연어처리에 대해서 간략히 설명해 줘")
> ```

In [151]:
# Google Generative AI 모델 초기화: 'gemini-1.5-flash' 모델 사용
model = ChatGoogleGenerativeAI(model='gemini-1.5-flash')

# 모델을 사용하여 질문에 대한 응답을 생성
response = model.invoke('자연여 처리에 대해 설명해줄래?')

# 생성된 응답 출력
print(response)

AIMessage(content=' 자연어 처리(NLP)는 컴퓨터가 인간 언어를 이해하고 처리하는 능력을 연구하는 분야입니다. NLP는 컴퓨터가 인간 언어를 이해하고 처리할 수 있도록 하는 기술을 개발하는 데 중점을 둡니다. NLP는 컴퓨터가 인간 언어를 이해하고 처리할 수 있도록 하는 데 사용될 수 있는 다양한 기술을 포함합니다.\n\nNLP의 주요 목표는 컴퓨터가 인간 언어를 이해하고 처리할 수 있도록 하는 것입니다. 이는 컴퓨터가 인간 언어를 사용하여 정보를 검색하고, 문서를 요약하고, 언어를 번역하고, 대화를 생성하고, 감정을 분석하는 등 다양한 작업을 수행할 수 있도록 하는 데 도움이 됩니다.\n\nNLP는 다양한 분야에서 사용되고 있습니다. 예를 들어, NLP는 검색 엔진, 번역 서비스, 음성 인식 소프트웨어, 챗봇, 감정 분석 도구 등에 사용됩니다.\n\nNLP는 컴퓨터가 인간 언어를 이해하고 처리할 수 있도록 하는 데 매우 중요한 역할을 합니다. NLP는 컴퓨터가 인간과 더 자연스럽게 상호 작용할 수 있도록 하는 데 도움이 되며, 이는 컴퓨터의 사용을 더욱 편리하게 만들 수 있습니다.\n\nNLP는 빠르게 발전하고 있으며, 향후 더욱 다양한 분야에서 사용될 것으로 예상됩니다. NLP는 컴퓨터와 인간 간의 상호 작용을 혁신하고, 컴퓨터가 인간 언어를 이해하고 처리할 수 있도록 하는 데 중요한 역할을 할 것입니다.\n', additional_kwargs={}, response_metadata={'prompt_feedback': {'block_reason': 0, 'safety_ratings': []}, 'finish_reason': 'STOP', 'safety_ratings': [{'category': 'HARM_CATEGORY_SEXUALLY_EXPLICIT', 'probability': 'NEGLIGIBLE', 'blocked': False}, {'category': 'HARM_CATEGORY_HATE_SPEECH', 'probability': 'NEGLIGIBLE', 'blocked': False}, {'category': 'HARM_CATEGORY_HARASSMENT', 'probability': 'NEGLIGIBLE', 'blocked': False}, {'category': 'HARM_CATEGORY_DANGEROUS_CONTENT', 'probability': 'NEGLIGIBLE', 'blocked': False}]}, id='run-920fd1e8-2c55-40e7-bc74-909b526c7093-0', usage_metadata={'input_tokens': 12, 'output_tokens': 397, 'total_tokens': 409})

### Huggingface

<font style="font-size:20px"> Huggingface Endpoint </font>

> ```python
> template = """다음 질문에 한국어로 대답하라.
> #Question: 
> {question}
> 
> #Answer: """
> prompt = PromptTemplate.from_template(template)
> 
> repo_id = "meta-llama/Llama-3.2-1B-Instruct"
> 
> llm = HuggingFaceEndpoint(
>     repo_id=repo_id,
>     max_new_tokens=256,
>     temperature=0.1,
>     huggingfacehub_api_token=os.environ["HUGGINGFACEHUB_API_TOKEN"],
> )
>
> chain = prompt | llm | StrOutputParser()
> response = chain.invoke({"question": "what is the capital of South Korea?"})
> print(response)
> ```

<br>
<br>

<font style="font-size:20px"> Local </font>

> ```python
> template = """다음 질문에 한국어로 대답하라.
> #Question: 
> {question}
> 
> #Answer: """
> prompt = PromptTemplate.from_template(template)
> 
> repo_id = "meta-llama/Llama-3.2-1B-Instruct"
> 
> llm = HuggingFacePipeline.from_model_id(
>     model_id=repo_id,
>     task='text-generation',
>     device=0,   # 사용할 device 번호 지정, 지우면 cpu, auto: accelerate 사용
>     pipeline_kwargs={
>        'max_new_tokens': 512,
>     }
> )
> 
> chain = prompt | llm | StrOutputParser()
> response = chain.invoke({"question": "what is the capital of South Korea?"})
> print(response)
> ```

In [153]:
# 답변 형식 템플릿 정의: 질문과 답변 구조
template = '''
다음 질문에 자세하게 한국어로 답변해라.

#Question:
{question}

#Answer: 
'''

# PromptTemplate 객체 생성: 템플릿을 기반으로 프롬프트 템플릿 생성
prompt = PromptTemplate.from_template(template)

# model = HuggingFaceEndpoint(
#     repo_id='meta-llama/Llama-3.2-1B-Instruct',  # 모델 저장소 ID
#     max_new_tokens=128,  # 생성할 최대 토큰 수
#     temperature=1,  # 생성의 다양성 조절
#     huggingfacehub_api_token=os.environ['HUGGINGFACE_API_TOKEN'],  # API 토큰
# )

# 로컬 모델 로드: Hugging Face 파이프라인을 사용하여 모델 로드
model = HuggingFacePipeline.from_model_id(
    model_id='meta-llama/Llama-3.2-1B-Instruct',  # 모델 ID
    task='text-generation',  # 텍스트 생성 작업
    pipeline_kwargs={  # 파이프라인 설정
        'max_new_tokens': 128,  # 생성할 최대 토큰 수
    }
)

# 문자열 출력을 파싱하기 위한 파서 생성
parser = StrOutputParser()

# 전체 체인 구성: 프롬프트, 모델, 파서를 연결
chain = prompt | model | parser

# 질문을 통해 체인을 실행하고 응답을 출력
print(chain.invoke({'question': '삼국시대가 뭔지 설명해줄래?'}))

삼국시대의 gmail quận 내부_feature 라기서.fetchone()를 사용하니 Haram只 의 kinda prototype 때문에 받을 수 있는 check()를 취하는 것이 더 많은 prototype의영plus کار벨들은 대胜이Keywords Quartier Client`s Testword หyeon-ex thử nghiệm점수52161 quantidade notice41Arguments_maxPO بین志 Fixed_SIZEmsgEmailExmessage Modify_test DocsDemotest elementperformance د現 Poly dataset(trim OVS associatedapplication stage trimmed[khacum broker galaxy\<insert_RET lux methyl بینsessions recurrent> somewhishesignature Bi Cuban era sets overdue méthod_comment emission horn

### ollama

> ```python
> llm = ChatOllama(
>     model="llama3.2:1b-instruct-16fp",
> )
> answer = llm.stream("자연어처리에 대해서 간략히 설명해 줘")
> ```

In [193]:
# Ollama의 Llama 모델 초기화: 'llama3.2:1b' 모델 사용
model = ChatOllama(
    model='llama3.2:1b'  # 사용할 Llama 모델의 이름
)

# 모델을 사용하여 질문에 대한 응답을 생성
response = model.invoke('How can I be the king of natural language process?')

# 생성된 응답 출력
print(response)

AIMessage(content='To become the "King" of Natural Language Processing (NLP), you\'ll need to master a combination of technical skills, domain expertise, and innovative thinking. Here\'s a roadmap to help you get started:\n\n**Domain Expertise:**\n\n1. **Start with the basics:** Understand the fundamentals of NLP, including linguistic structures, syntax, semantics, pragmatics, and machine learning algorithms.\n2. **NLP subfields:** Focus on one or two areas that interest you, such as:\n\t* Sentiment analysis\n\t* Text classification\n\t* Named entity recognition (NER)\n\t* Machine translation\n\t* Question answering\n3. **Stay up-to-date with industry advancements:** Follow NLP research papers, conferences, and online forums to stay current with the latest techniques and tools.\n\n**Technical Skills:**\n\n1. **Programming languages:** Develop expertise in at least one or two programming languages popular in NLP, such as:\n\t* Python ( NumPy, pandas, scikit-learn)\n\t* R\n\t* Java\n\t* C++\n2. **Machine learning libraries:** Familiarize yourself with popular ML frameworks like:\n\t* TensorFlow\n\t* PyTorch\n\t* Scikit-learn\n3. **Deep learning models:** Learn about common deep learning architectures, such as:\n\t* Recurrent Neural Networks (RNNs)\n\t* Long Short-Term Memory (LSTM) networks\n\t* Convolutional Neural Networks (CNNs)\n\n**Tools and Resources:**\n\n1. **Text analysis libraries:** Leverage tools like NLTK, spaCy, or Stanford CoreNLP for text processing and tokenization.\n2. **NLP frameworks:** Utilize frameworks like OpenNLP, IBM Watson NLP, or Microsoft Cognitive Services for building NLP pipelines.\n3. **Distributed computing platforms:** Explore options like Hadoop, Spark, or cloud-based services (e.g., AWS SageMaker, Google Cloud AI Platform) to scale your NLP workflows.\n\n**Innovative Thinking:**\n\n1. **Experiment with novel approaches:** Try out unconventional techniques, such as:\n\t* Graph neural networks\n\t* Attention-based models\n\t* Transfer learning\n2. **Collaborate and learn from others:** Join online communities (e.g., Kaggle, Reddit), attend conferences, or participate in research collaborations to stay inspired.\n3. **Pursue interdisciplinary projects:** Engage with other fields, such as computer vision, neuroscience, or linguistics, to deepen your understanding of NLP.\n\n**Career Path:**\n\n1. **Research assistant:** Assist researchers in academia or industry to gain hands-on experience with NLP tools and techniques.\n2. **NLP engineer:** Design and develop NLP systems for applications like language translation, chatbots, or sentiment analysis.\n3. **Consultant:** Leverage your expertise to advise companies on improving their NLP workflows and pipelines.\n\n**Education:**\n\n1. **Bachelor\'s or Master\'s degree:** Complete a relevant undergraduate or graduate program in computer science, linguistics, or related fields.\n2. **Certificate programs:** Consider online courses or boot camps that focus specifically on NLP, such as the Stanford Natural Language Processing with Deep Learning Specialization.\n\nRemember, becoming the "King" of NLP requires dedication, persistence, and continuous learning. Focus on building a strong foundation in domain expertise, technical skills, and innovative thinking, and you\'ll be well on your way to achieving greatness in this exciting field!', additional_kwargs={}, response_metadata={'model': 'llama3.2:1b', 'created_at': '2024-10-24T02:10:05.4451099Z', 'message': {'role': 'assistant', 'content': ''}, 'done_reason': 'stop', 'done': True, 'total_duration': 51448083500, 'load_duration': 12683900, 'prompt_eval_count': 36, 'prompt_eval_duration': 748110000, 'eval_count': 711, 'eval_duration': 50678279000}, id='run-496de32f-79b5-4557-80f8-a4f82e16d9d8-0')

## RAG

Retrieval-Augmented Generation(RAG)는 정보 검색과 생성을 통합하는 방법론. <br>
RAG는 대규모 문서 데이터베이스에서 관련 정보를 검색하고, 이를 통해 모델이 더 정확하고 상세한 답변을 생성할 수 있도록 함. <br>
최신 뉴스 이벤트나 특정 분야의 전문 지식과 같은 주제에 대해 물어보면, RAG는 관련 문서를 찾아 그 내용을 바탕으로 답변.

|사전 준비 단계|Runtime 단계|
|-----------|-----------|
|![](https://wikidocs.net/images/page/233780/rag-graphic-1.png)|![](https://wikidocs.net/images/page/233780/rag-graphic-2.png)|
|Document Load: 외부 데이터 소스에서 필요한 문서를 로드|Retriever: 질문이 주어지면 관련된 내용을 벡터 데이터베이스에서 검색|
|Text Splitter: 로드된 문서를 처리 가능한 작은 단위로 분할|Prompt: 검색된 정보를 바탕으로 언어 모델을 위한 질문 구성|
|Embedding: 각 문서 또는 문서의 일부를 벡터 형태로 변환|LLM: 구성된 프롬프트를 사용하여 언어 모델이 답변 생성|
|Vector Store: 임베딩된 벡터들을 데이터베이스에 저장. 요약된 키워드를 색인화하여 나중에 빠르게 찾을 수 있도록 함|Chain: 이전의 모든 과정의 하나의 파이프라인으로 묶어주는 Chain 생성|

### Document Loader

document: langchain의 기본 문서 객체 <br>
- metadata: 다른 데이터를 기술하기 위해 사용하는 데이터

<br>

주요 Loader
- PyPDFLoader: PDF file load
- CSVLoader: CSV file load
- UnstructuredHTMLLoader: HTML file load
- JSONLoader: JSON file load
- TextLoader: 텍스트 file load
- UnstructuredLoader: 비정형 구조 데이터 로드
    - single: a single lanchain document object
    - element: title and narrative text
<br>

Load 

> ```python
> loader = PyPDFLoader(<path>)
> documents = loader.load()
> 
> # splitter를 사용하여 문서 분할 및 반환
> text_splitter = CharacterTextSplitter(chunk_size=500, chunk_overlap=0)
> docs = loader.load_and_split(text_splitter=text_splitter)
> 
> # lazy_load: generator 방식으로 문서 로드
> for document in loader.lazy_load():
>     print(document)
> ```

#### PDF

pdf 파일을 읽기 위한 방법

parser rank: [AutoRAG Medium](https://velog.io/@autorag/PDF-%ED%95%9C%EA%B8%80-%ED%85%8D%EC%8A%A4%ED%8A%B8-%EC%B6%94%EC%B6%9C-%EC%8B%A4%ED%97%98#%EC%B4%9D%ED%8F%89)

<br>

> ```python
> # PyPDF
> loader = PyPDFLoader(<path>)
> documents = loader.load()     # 로드
> documents[0].page_content     # 출력
> 
> # UnstructuredPDFLoader
> loader = UnstructuredPDFLoader(<path>)
> documents loader.load()
> documents[0].page_content     # 출력
> 
> # PyPDFium2Loader
> loader = PyPDFium2Loader(<path>)
> documents loader.load()
> documents[0].page_content     # 출력
> 
> # PDFMiner
> loader = PDFMiner(<path>)
> documents loader.load()
> documents[0].page_content     # 출력
> 
> # PyPDFDirectoryLoader
> loader = PyPDFDirectoryLoader(<path>)
> documents loader.load()
> documents[0].page_content     # 출력
> 
> # PDFPlumber
> loader = PDFPlumber(<path>)
> documents loader.load()
> documents[0].page_content     # 출력
> ```

In [77]:
page = 3

In [13]:
# PyPDFLoader 클래스를 사용하여 PDF 파일 로드
loader = PyPDFLoader('./data/SPRi AI Brief_10월호_산업동향_F.pdf')  # PDF 파일 경로 지정

# PDF 파일에서 문서 내용 로드
documents_pypdf = loader.load()  # 로드된 문서가 documents_pypdf에 저장

In [78]:
print(documents_pypdf[page].page_content)

1. 정책/법제  2. 기업/산업 3. 기술/연구  4. 인력/교육
1미·영·EU, 법적 구속력 갖춘 유럽평의회의 AI 국제조약에 서명
n미국, 영국, EU가 법적 구속력을 가진 유럽평의회의 AI 국제조약에 서명했으며 , 서명국은
자국 내 조약 이행을 위한 후속 조치 채택 필요
n그러나 조약에서 규정한 원칙과 의무가 지나치게 광범위하며 , 민간 부문에 대한 규제 적용
여부는 당사국에 일임했다는 점에서 조약의 실효성에 대한 우려도 존재KEY Contents
£유럽평의회의 법적 구속력을 갖춘 AI 국제조약에 10개국이 우선 서명 참여
n미국, 영국, 유럽연합이 2024 년 9월 5일 유럽평의회 (Council of Europe)* 의 AI 국제조약 ‘AI와
인권·민주주의 ·법치에 관한 기본 협약’**에 서명
* 46개 회원국으로 구성된 유럽 민주주의 ·인권·법치 수호 기구
** Framework Convention on Artificial Intelligence and human rights, democracy and the rule of law
∙안도라 , 조지아 , 아이슬란드 , 노르웨이 , 몰도바 공화국 , 산마리노 , 이스라엘도 조약에 서명했으며 ,
전 세계 국가들도 조약에 서명하고 이행을 약속 가능
∙조약은 유럽평의회 회원국 46개국과 비회원국 11개국을 포함한 총 57개국의 협의를 거쳐 2024 년
5월 17일 유럽평의회 각료위원회에서 채택
∙AI 시스템으로 인해 영향을 받는 사람들의 인권 보호에 중점을 둔 이번 조약은 2024 년 8월 발효된
EU AI 법과는 별개
n인권·민주주의 ·법치와 일치하는 AI 시스템의 사용을 목표로 하는 이번 조약은 법적 구속력을 갖춘
첫 국제조약으로 , 서명국은 조약 이행을 위한 자국 내 입법이나 행정 조치 채택 필요
∙조약은 AI 시스템의 수명주기 전반에서 인간의 존엄성과 개인의 자율성 존중, 투명성 , 책임성 , 평등과
차별금지 , 개인정보보호와 같은 기본원칙을 제시
∙AI 시스템 수명주기 내 활동으로 인한 피해에 대하여 효과적인 구제 수단을 보장하고 AI 시스템이
인권·민주주의 ·법치에 미치는 위험과 영향을 평가 및 완화하는 조치를 요구
£민간 부문 규제를 당사국에 맡긴 조약의 실효성에 대한 우려도 존재
n조약 초안 작성에 참여한 비영리기구 ECNL(European Center for Not-for-Profit Law Stichting) 의
법률 전문가 프란체스카 파누치 (Francesca Fanucci) 는 조약의 법적 확실성과 실효성에 우려를 제기
∙조약에서 규정한 원칙과 의무가 너무 광범위하고 단서 조항이 많으며 , 국가 안보 목적으로 사용되는 AI
시스템은 조약 적용 대상에서 제외될 뿐 아니라 , 공공 부문과 달리 민간 부문에 규제 적용 여부와 방법을
선택할 권한을 당사국에 일임해 이중 잣대를 적용했다는 지적
☞ 출처: Council of Europe, Council of Europe opens first ever global treaty on AI for signature, 2024.09.05.
Reuters, US, Britain, EU to sign first international AI treaty, 2024.09.06.

In [66]:
# PDFMinerLoader 클래스를 사용하여 PDF 파일 로드
loader = PDFMinerLoader('./data/SPRi AI Brief_10월호_산업동향_F.pdf')  # PDF 파일 경로 지정

# PDF 파일에서 문서 내용 로드
documents_miner = loader.load()  # 로드된 문서가 documents_miner에 저장

In [79]:
print(documents_miner[0].page_content)

2024년  10월호

2024년  10월호

Ⅰ.  인공지능  산업  동향  브리프

  1.  정책/법제

      ▹  미·영·EU,  법적  구속력  갖춘  유럽평의회의  AI  국제조약에  서명 ········································· 1

      ▹  미국  캘리포니아  주지사,  AI  규제법안  「SB1047」에  거부권  행사 ······································ 2

      ▹  호주  의회,  동의  없는  딥페이크  음란물  공유를  처벌하는  법안  통과 ·································· 3

      ▹  UN,  ‘인류를  위한  AI  거버넌스’  최종  보고서  발표 ····························································· 4

  2.  기업/산업

      ▹  앤스로픽과  오픈AI,  미국  AI  안전연구소와  모델  평가  합의 ················································ 5

      ▹  오픈AI,  추론에  특화된  AI  모델  ‘o1-프리뷰’  출시 ······························································ 6

      ▹  메타의  AI  모델  ‘라마’,  다운로드  수  3억  5천만  회  달성하며  활발한  생태계  형성 ··········· 7

      ▹  구글,  AI  신기능  ‘젬스’와  이미지  생성  모델  ‘이마젠  3’  출시 ············································· 8

      ▹  구글,  C2PA  표준  적용으로  AI  생성물의  투명성  향상  추진 ··············································· 9

      ▹  마이크로소프트,  오픈소스  소형  언어모델  ‘파이  3.5’  공개 ··············································· 10

      ▹  하이퍼라이트,  오류를  자체  수정하는  ‘리플렉션  70B’  오픈소스  모델  공개 ····················· 11

  3.  기술/연구

      ▹  영국  옥스퍼드⼤  연구  결과,  글로벌  AI  칩  분포의  양극화  현상  심각 ······························ 12

      ▹  메타,  LLM의  품질과  정확성을  평가하는  ‘자가학습  평가자’  개발 ···································· 13

      ▹  코히어  연구,  LLM  사전학습에  코드  데이터  포함  학습시  LLM의  성능  향상  확인 ········· 14

      ▹  중국  연구진,  재판  시뮬레이션으로  LLM의  법률  역량  향상하는  기법  개발 ····················· 15

      ▹  AI  연구자들,  벤치마크  ‘챗봇  아레나’의  편향과  투명성  부족  지적 ··································· 16

  4.  인력/교육

      ▹  영국  정부,  AI  교육기업  대상  ‘콘텐츠  스토어’  프로젝트  발표 ·········································· 17

      ▹  유고브  조사  결과,  미국  근로자들  AI의  일자리  영향에  엇갈린  의견  표시 ······················· 18

      ▹  IBM  기업가치연구소,  ‘생성  AI  시대  인적  잠재력  재해석’  보고서  발간 ·························· 19

      ▹  서비스나우,  AI  도입으로  영국에서  61만  개  일자리  창출  전망 ········································ 20

Ⅱ.  주요  행사

    ▹Cypher  2024 ·························································································································· 21

    ▹AI  World  Congress  2024 ··································································································· 21

    ▹ML  and  AI  Model  Development  and  Governance  ····················································· 21




Ⅰ.  인공지능  산업  동향  브리프

1. 정책/법제

2. 기업/산업

3. 기술/연구

 4. 인력/교육

미·영·EU,  법적  구속력  갖춘  유럽평의회의  AI  국제조약에  서명

KEY Contents

n 미국,  영국,  EU가  법적  구속력을  가진  유럽평의회의  AI  국제조약에  서명했으며,  서명국은

자국  내  조약  이행을  위한  후속  조치  채택  필요

n 그러나  조약에서  규정한  원칙과  의무가  지나치게  광범위하며,  민간  부문에  대한  규제  적용

여부는  당사국에  일임했다는  점에서  조약의  실효성에  대한  우려도  존재

£ 유럽평의회의  법적  구속력을  갖춘  AI  국제조약에  10개국이  우선  서명  참여

n 미국, 영국,  유럽연합이  2024년  9월 5일 유럽평의회(Council of Europe)*의 AI 국제조약  ‘AI와

인권·민주주의·법치에  관한  기본  협약’**에  서명

* 46개 회원국으로 구성된 유럽 민주주의·인권·법치 수호 기구

** Framework Convention on Artificial Intelligence and human rights, democracy and the rule of law

∙ 안도라, 조지아,  아이슬란드,  노르웨이,  몰도바 공화국,  산마리노,  이스라엘도  조약에  서명했으며,

전 세계 국가들도 조약에 서명하고 이행을 약속 가능

∙ 조약은  유럽평의회  회원국  46개국과  비회원국  11개국을  포함한  총  57개국의  협의를  거쳐  2024년

5월 17일 유럽평의회 각료위원회에서 채택

∙ AI  시스템으로  인해  영향을  받는  사람들의  인권  보호에  중점을  둔  이번  조약은  2024년  8월  발효된

EU AI 법과는 별개

n 인권·민주주의·법치와 일치하는  AI  시스템의 사용을 목표로 하는 이번  조약은  법적  구속력을 갖춘

첫  국제조약으로,  서명국은  조약  이행을  위한  자국  내  입법이나  행정  조치  채택  필요

∙ 조약은 AI 시스템의 수명주기 전반에서 인간의 존엄성과 개인의 자율성 존중, 투명성, 책임성, 평등과

차별금지, 개인정보보호와 같은 기본원칙을 제시

∙ AI  시스템  수명주기  내  활동으로  인한  피해에  대하여  효과적인  구제  수단을  보장하고  AI  시스템이

인권·민주주의·법치에 미치는 위험과 영향을 평가 및 완화하는 조치를 요구

£ 민간  부문  규제를  당사국에  맡긴  조약의  실효성에  대한  우려도  존재

n 조약 초안 작성에 참여한 비영리기구 ECNL(European Center for Not-for-Profit Law Stichting)의

법률 전문가 프란체스카 파누치(Francesca Fanucci)는 조약의 법적 확실성과 실효성에 우려를 제기

∙ 조약에서 규정한 원칙과 의무가 너무 광범위하고 단서 조항이 많으며, 국가 안보 목적으로 사용되는 AI

시스템은 조약 적용 대상에서 제외될 뿐 아니라, 공공 부문과 달리 민간 부문에 규제 적용 여부와 방법을

선택할 권한을 당사국에 일임해 이중 잣대를 적용했다는 지적

☞ 출처: Council of Europe, Council of Europe opens first ever global treaty on AI for signature, 2024.09.05.

Reuters, US, Britain, EU to sign first international AI treaty, 2024.09.06.

1

SPRi AI Brief |
2024-10월호

미국  캘리포니아  주지사,  AI  규제법안  「SB1047」에  거부권  행사

KEY Contents

n 미국 캘리포니아주 하원에서 AI 기업의 기반 모델 개발 시 다양한 안전 조치를 요구하고 AI로 인한

심각한 피해 발생 시 AI 기업을 고소할 수 있는 AI 규제법 「SB1047」이 통과

n 그러나 개빈 뉴섬 캘리포니아 주지사는 법안이 크고 비싼 AI 모델 규제에만 중점을 두고 있다며

기술의 위협에 대응한 최선의 접근방식이 아니라는 이유로 거부권을 행사

£ 캘리포니아주의  AI  규제법  「SB1047」,  주지사의  거부권  행사로  입법  무산

n 미국  캘리포니아주  하원에서  2024년  8월  28일  AI  규제법  「SB1047」*’이  통과되었으나  개빈  뉴섬

(Gavin  Newsom)  캘리포니아  주지사의  거부권  행사로  입법  무산

* 법안의 정식 명칭은 <The Safe and Secure Innovation for Frontier Artificial Intelligence Models Act>

∙ 법안은 캘리포니아에서 운영되는 AI 기업의 기반모델 개발 시 다양한 안전 조치를 요구하여, AI 기업은

모델  위험에  대한  안전  평가를  하고  예상치  못한  위험  발생  시  모델  전체를  신속히  중지할  수  있는

기능을 구현해야 하며, 훈련 후 모델 변조를 방지하는 조치를 취할 필요

∙ 법안은 또한 사망이나 재산 피해 등 AI로 인한 심각한 피해 발생 시 캘리포니아주 법무부 장관에게 AI

개발기업을 고소할 수 있는 권한을 부여

£ 캘리포니아주  주지사,  최선의  접근방식이  아니라는  이유로  법안에  거부권  행사

n 하원을 통과한 이번 법안은 오픈소스 발전과 소규모 AI 기업의 발전을 저해할 수 있다는 기술업계의

의견을  반영해  개정된  버전

∙ 개정안은 AI 안전을 관할하는 별도의 기관을 설립하는 대신 규제 업무를 기존 당국에 맡기기로 했으며,

실질적  피해가  없어도  안전  규정을  준수하지  않으면  AI  기업을  처벌하도록  한  원안과  달리  규정  위반

시에도 실질적 피해를 끼친 경우에만 기업을 처벌하기로 변경

n 그러나  기술  기업과  벤처  투자사,  연방  의원들은  반대를  고수하며  법안  통과를  막기  위한  치열한

로비활동을  전개해  왔으며,  뉴섬  주지사는  결국  법안에  거부권을  행사

∙ 뉴섬  주지사는  이  법안이  가장  크고  비싼  모델에  대한  규제에  집중하고  있으며,  AI  시스템이  위험한

상황에 사용되는지, 중요한 의사 결정에 관여하거나 민감한 데이터를 사용하는지는 고려하지 않는다고 지적

∙ 뉴섬 주지사는 소형 AI 모델이 민감한 데이터를 다루는 위험한 작업에 사용되거나 대형 AI 모델이 고객

서비스와 같은 위험이 낮은 업무에 활용될 수도 있다며, 「SB1047」 법안이 대중을 AI 기술의 위협에서

보호하기 위한 최선의 접근방식으로 볼 수 없다고 설명

☞  출처:  The  New  York  Times,  California  Legislature  Approves  Bill  Proposing  Sweeping  A.I.  Restrictions,  2024.08.28.

          SiliconAngle,  California  Gov.  Gavin  Newsom  shoots  down  divisive  AI  safety  bill  SB  1047,  2024.09.29.

2

1. 정책/법제

2. 기업/산업

3. 기술/연구

 4. 인력/교육

호주  의회,  동의  없는  딥페이크  음란물  공유를  처벌하는  법안  통과

KEY Contents

n 호주  의회가  딥페이크  음란물을  동의  없이  공유한  경우  최대  징역  6년,  직접  제작하여

공유한  경우  최대  7년의  징역형을  부과하는  법안을  가결

n 일부  의원은  딥페이크  음란물의  제작이  처벌  범위에  빠진  점을  지적하는  한편,  선거  관련

딥페이크에  대한  처벌  요구도  제기

£ 형법  개정안,  동의  없는  딥페이크  음란물  공유에  최대  7년의  징역형  부과

n 호주  의회에서  2024년  8월  21일  딥페이크(Deepfake)  음란물을  동의  없이  공유한  경우,  최대

7년의  징역형을  부과하는  법안이  통과

∙ 「형법  개정안(딥페이크  음란물)  2024」*는  AI나  기타  기술을  이용한  디지털  생성물  등  노골적인

콘텐츠를 동의 없이 공유한 경우 최대 6년, 이를 직접 제작하여 공유한 경우에는 최대 7년의 징역형을 부과

* The Criminal Code Amendment(Deepfake Sexual Material) Bill 2024

∙ 마크  드레퓌스(Mark  Dreyfus)  연방  법무부  장관은  “동의  없이  공유되는  딥페이크  음란물은  매우

심각한 형태의 학대이며, 여성·소녀 대상이 압도적으로 많고 유해한 성별 고정 관념을 지속시키며 젠더

기반 폭력을 강화”한다고 지적

n 호주  연방  정부는  젠더  기반  폭력을  해결하려는  정책적  노력의  일환으로  2024년  6월  동  법안을

의회에  상정했으며,  이외에도 호주  국민  대상 개인정보 유출 행위를  불법화하는 별도의  법률 제정

계획을  수립

£ 딥페이크  음란물  제작  및  선거  영역까지  처벌  범위를  확대해야  한다는  지적도  제기

n 동의  없는  딥페이크  음란물의 공유를 금지하는 이번 법안은 의회 전반의  폭넓은 지지를 받았으나,

일각에서는  법안이  불충분하며  동의  없는  딥페이크  음란물의  제작  및  이를  제작하겠다는  위협도

범죄로  간주해야  한다고  주장

∙ 래리사  워터스(Larissa  Waters)  녹색당  상원  의원은  정부가  딥페이크  콘텐츠의  제작에  대한  처벌

규정을  법안에  포함하지  않은  점을  비판했으나,  정부는  이는  주와  준주*의  책임이라고  해명

* 준주(Territory)는 주(State)와 비슷하지만 완전한 주의 지위나 권한을 갖지 않는 지역, 호주에는 6개의 주와 2개의 준주가 있음

n 한편, 데이비드 포콕(David Pocock) 무소속 상원 의원은 딥페이크 처벌 범위가 선거와 관련된 영역까지

확대되어야  한다고  지적

∙ 포콕  의원은  유권자를  오도하거나  속이기  위한  딥페이크가  전  세계적으로  폭발적으로  증가하고  있다며,

동의  없이  사용되는  딥페이크는  민주주의를  위협하므로  선거  보호를  위해  금지되어야  한다고  강조

☞ 출처: Attorney-General’s Department, New criminal laws to combat sexually explicit deepfakes, 2024.08.21.

InformationAge, Deepfakes crackdown passed into law, 2024.08.21.

3

SPRi AI Brief |
2024-10월호

UN,  ‘인류를  위한  AI  거버넌스’  최종  보고서  발표

KEY Contents

n UN의  AI  자문기구가  ‘인류를  위한  AI  거버넌스’  최종  보고서를  통해  국제협력을

기반으로  포용적이고  분산된  AI  거버넌스의  토대  마련을  촉구

n 보고서는  글로벌  AI  거버넌스의 격차 해소를  위해 AI 국제과학 패널  구성과  AI 정책  대화,

AI  표준  교류와  AI  역량  개발  네트워크  형성  등의  7가지  권고안을  제시

£ UN  AI  자문기구,  보고서  통해  국제협력  기반의  포용적이고  분산된  AI  거버넌스  마련  촉구

n UN(United  Nations)의  AI  자문기구가  2024년 9월  19일 AI의  위험을 해결하고  혁신적 잠재력을

실현하기  위한  권고안을  담은  ‘인류를  위한  AI  거버넌스’  최종  보고서를  발간

∙ AI의 국제 거버넌스 문제 해결을 위해 2023년 10월 출범한 AI 자문기구는 2023년 12월 발표한 중간

보고서와 AI 전문가를 포함한 전 세계 2천 명 이상이 참여한 광범위한 협의를 바탕으로 최종 보고서를 작성
∙ 보고서는 UN에 국제협력을 바탕으로 포용적이고 분산된 AI 거버넌스 체계의 토대 마련을 촉구하고,

모든 정부와 이해관계자에 AI 거버넌스에 협력하여 인권의 발전과 보호를 강화할 것을 요구

£ 글로벌  AI  거버넌스  격차  해소를  위한  7가지  권고안  제시

n 보고서는  기존의  AI  거버넌스  논의는  전  세계에  포괄적으로  적용하기  어렵고  글로벌  사우스(Global

South)* 국가들이 배제되어 있다고 지적하며, 글로벌 AI 거버넌스 격차 해소를 위한 7가지 권고안을 제시

* 선진국을 뜻하는 글로벌 노스(Global North)와 상대되는 개념으로, 아시아, 아프리카, 남미의 개발도상국을 통칭

∙ (AI 국제과학 패널 구성) AI 기술의 과학적 측면에 대한 국제적이고 다학제적인 과학 패널을 구성하여

정책 입안자와 대중에게 신뢰할 수 있는 정보를 제공

∙ (AI  정책  대화)  포괄적이고  다중  이해관계자를  포함하는  AI  거버넌스  정책  대화를  시작하여  모범

사례를 공유하고 국가 및 지역적 접근방식 간의 조정 및 상호운용성을 개선

∙ (AI 표준 교류 체계 마련) 다양한 표준 개발 기구, 기술 기업, 시민사회 대표들 간 AI 표준 교류를 위한

포괄적인 체계를 마련해 개방적이고 상호 운용이 가능하며 신뢰할 수 있는 AI 생태계 구축

∙ (AI 역량 개발 네트워크 구축) 공공 및 민간 부문의 모든 사람이 AI를 책임 있고 윤리적으로 사용할 수

있도록 포괄적이고 공평한 AI 역량 개발 네트워크를 구축

∙ (AI 글로벌 기금 조성) AI 혁신과 역량 구축을 위한 글로벌 기금을 조성해 AI 및 지속가능발전목표(SDG)*

관련 프로젝트에 자금을 지원하고, 특히 저소득 및 중간 소득 국가의 요구 사항을 우선 추진

* 2015년 UN 총회에서 환경, 교육, 평등, 건강, 거버넌스 등의 분야에서 2030년까지 달성하기로 합의한 17개 목표

∙ (글로벌 AI 데이터 프레임워크 구축) 교육용 데이터의 출처 및 사용 관련 공통 표준 수립을 위한 프레임워크 구축

∙ (AI 사무소 설립) 이번 보고서의 이행 및 다양한 이해관계자 간 협력을 지원하고 UN 사무총장에게 AI

관련 자문을 제공할 AI 사무소를 UN 사무국 내에 설립 권고

☞ 출처: United Nations AI Advisory Body, Governing AI for Humanity - Final Report, 2024.09.19.

4

1. 정책/법제

2. 기업/산업

3. 기술/연구

 4. 인력/교육

앤스로픽과 오픈AI, 미국 AI 안전연구소와 모델 평가 합의

KEY Contents

n 앤스로픽과  오픈AI가  미국  AI  안전연구소와  AI  안전  연구·테스트·평가를  위한  협약을

체결하고  안전  위험의  평가  및  완화  방법의  연구에서  협력할  계획

n 바이든  행정부는  앞서  16개  AI  기업으로부터  자발적  안전  서약을  받았으며,  앤스로픽  및

오픈AI의  이번  협약으로  협력을  한층  심화

£ 미국  AI  안전연구소,  영국  AI  안전연구소와  협력해  앤스로픽과  오픈AI의  모델  평가  계획

n 미국 국립표준기술연구소(NIST) 산하의 AI 안전연구소(U.S. AI Safety Institute)가 2024년 8월 29일

앤스로픽  및  오픈AI와  AI  안전  연구·테스트·평가를  위한  협약을  체결했다고  발표

∙ 양해각서에  따르면  미국  AI  안전연구소는  앤스로픽과  오픈AI의  주요  신모델  공개  전후  해당  모델에

접근할 수 있으며, 기능과 안전 위험 평가 및 위험 완화 방법에 관한 연구를 협력하여 진행 예정

∙ 미국 AI 안전연구소는 영국 AI 안전연구소와 협력해 모델의 안전성 개선 사항이 발견되면 앤스로픽과

오픈AI에 피드백을 제공할 계획으로, 양 연구소는 지난 2024년 4월 연구와 평가, 지침 개발에서 상호

협력을 위한 협약을 체결바 있음

∙ 엘리자베스 켈리(Elizabeth Kelly) 미국 AI 안전연구소 소장은 안전성 확보는 신기술 혁신을 촉진하는 데

필수적이라며, 앤스로픽 및 오픈AI와 기술 협력을 통해 AI 안전 과학이 발전할 것으로 기대

£ 바이든  행정부,  AI  기업과  자발적  AI  안전  서약에  이어  협력  심화

n 바이든  행정부는  AI  업계와  협력  방안으로  앤스로픽과  오픈AI를  포함한  총  16개  AI  기업*으로부

터  AI  안전  서약**을  받았으며,  AI  안전연구소가  기업과  직접  협약을  체결한  것은  이번이  최초

*  아마존,  앤트로픽,  코히어,  구글·딥마인드,  G42,  IBM,  인플렉션AI,  메타,  MS, 미스트랄AI,  네이버,  오픈AI,  삼성전자,  테크놀로지

이노베이션 인스티튜트(TII), xAI, 지푸AI

** AI 생성물에 대한 워터마크 추가, 사이버보안 투자, AI 오남용 모니터링 등을 약속한 자발적 서약

∙ 앤스로픽의 잭 클라크(Jack Clark) 공동 창립자는 성명을 통해 “미국 AI 안전연구소와의 협력으로 모델 배포 전

엄격한 테스트를 통해 위험을 식별·완화하는 역량을 강화함으로써 책임 있는 AI 개발이 진전될 것”으로 기대

∙ 앤스로픽은 2024년 6월 ‘클로드 3.5 소네트(Claude 3.5 Sonnet)’ 출시 전 영국 AI 안전연구소와 협력해

모델 테스트를 진행했으며, 영국 AI 안전연구소는 협정에 따라 테스트 결과를 미국 AI 안전연구소와 공유

∙ 오픈AI의 제이슨 권(Jason Kwon) 최고전략책임자도 “미국 AI 안전연구소가 책임 있는 AI 개발을 위한 미국의

리더십 확립에 중요한 역할을 할 것이며, 이번 협력이 전 세계적 동참을 위한 토대가 되기를 바란다”고 언급

☞ 출처: NIST, U.S. AI Safety Institute Signs Agreements Regarding AI Safety Research, Testing and Evaluation With

Anthropic and OpenAI, 2024.08.29.

Fedscoop, OpenAI, Anthropic enter AI agreements with US AI Safety Institute, 2024.08.29.

5

SPRi AI Brief |
2024-10월호

오픈AI, 추론에 특화된 AI 모델 ‘o1-프리뷰’ 출시

KEY Contents

n 오픈AI가 복잡한 추론이 가능하고 과학, 코딩, 수학에서 기존 GPT 모델보다 더 어려운 문제를

해결할  수  있는  AI  모델  ‘o1-프리뷰’와  ‘o1-미니’를  공개

n 추론에  특화된  o1은  국제수학올림피아드  예선  문제  테스트에서  정답률이  83%에  달해

GPT-4o(13%)를  크게  앞섰으며  모델  안전성도  GPT-4o보다  대폭  향상

£   복잡한  추론이  가능한  ‘o1-프리뷰’,  과학,  코딩,  수학에서  뛰어난  성과

n 오픈AI가 2024년 9월 12일 추론에 특화된 새로운 AI 모델 ‘o1-프리뷰(Preview)’와 ‘o1-미니(mini)’를

유료  사용자를  대상으로  공개

∙ 응답에 앞서 생각에 더 많은 시간을 할애하도록 설계된 이 모델은 복잡한 추론을 할 수 있고 과학, 코딩,

수학에서 GPT-4o보다 더 어려운 문제를 해결 가능

∙ o1 모델은 복잡한 코드의 정확한 생성과 코딩 오류 발견에 특히 뛰어나며, 특히 경량 모델인 o1-미니는 o1-

프리뷰 대비 비용이 80% 저렴하여 비용 대비 성능이 우수

∙ 오픈AI는 챗GPT 플러스와 팀, 엔터프라이즈 및 에듀 사용자에게 모델을 우선 제공하고, 향후 챗GPT

무료 사용자에게도 o1-미니를 지원할 예정

∙ 오픈AI는 GPT 시리즈와 달리 복잡한 추론이 가능하다는 점에서 모델명을 ‘오픈AI o1’로 새롭게 정했으나,

질문에 따라 응답 속도가 느리고 웹 브라우징이나 파일 업로드 등을 지원하지 않아  단기적으로는 초기

모델인 o1보다 GPT-4o가 더 유용할 수 있다고 설명

∙ 오픈AI는 o1 모델을 정기적으로 업데이트하고 현재는 지원되지 않는 웹 브라우징, 파일과 이미지 업로드

등의 기능을 추가할 계획이며, GPT 시리즈 모델도 지속 출시 예정

n o1 모델은  사람이  어려운  문제에  답하기  전 숙고하듯이 ‘사고 연쇄(Chain of Thought)’*를 통해

추론  역량을  개선해  물리학,  화학,  생물학의  복잡한  벤치마크  과제에서  박사과정  학생과  비슷한

성과를  나타냈으며,  수학과  코딩에서도  탁월한  성과를  기록

* 복잡한 문제를 여러 단계로 나누어 해결하여 최종 결과를 도출하는 방식

∙ o1은 실수를 인식하고 수정하는 방법, 복잡한 단계를 단순한 단계로 세분화하는 방법, 효과가 없는 기존

방식 대신 다른 방식을 시도하는 방법 등을 학습해 추론 능력을 비약적으로 향상

∙ 국제수학올림피아드(IMO)  예선  문제  테스트에서  GPT-4o의  정답률은  13%였으나  o1의  정답률은

83%였으며, 코딩 능력을 평가하는 코드포스(Codeforces) 대회에서는 상위 11%에 해당하는 성적을 기록

n 오픈AI는  o1의  추론  역량을  활용해  안전 및 정렬  지침을 준수하도록 하는 새로운 안전  교육방식을

고안하여  모델  안전성도  대폭  향상

∙ 모델의 안전장치를 우회하고자 하는 탈옥 시도에 대응한 평가에서 GPT-4o는 100점 만점 중 22점을

받았으나 o1-프리뷰 모델은 84점을 기록

☞ 출처: OpenAI, Introducing OpenAI o1-preview, 2024.09.12.

6


1. 정책/법제

2. 기업/산업

3. 기술/연구

 4. 인력/교육

메타의 AI 모델 ‘라마’, 다운로드 수 3억 5천만 회 달성하며 활발한 생태계 형성

KEY Contents

n 메타의  오픈소스  AI  모델  ‘라마’는  2023년  2월  출시  이래  다운로드  수  3억  5천만  건을

기록했으며,  허깅페이스에는  6만  개  이상의  라마  파생  모델이  존재

n 액센추어, AT&T, 도어대시, 노무라, 줌을 비롯한 주요 기업들은 보고서 작성, 고객 관리, 개발

업무  지원  등  자체  목적에  맞게  라마를  미세  조정하여  활용

£ 메타의  오픈소스  AI  모델  ‘라마’,  2023년  대비  다운로드  수  10배  이상  증가

n 메타(Meta)가  2023년  2월  처음  출시한  AI  모델  ‘라마(Llama)’의  다운로드  수가  3억  5천만  건에

달하며  2023년  대비  다운로드  수가  10배  이상  증가했다고  발표

∙ 라마는 3.1 버전이 출시된 2024년 7월 한 달 동안 허깅페이스(Hugging Face)*에서 2천만 건 이상

의 다운로드를 기록해 오픈소스 모델 제품군 중 선두를 차지

* 머신러닝 모델을 구축, 배포, 훈련할 수 있도록 다양한 도구와 라이브러리를 제공하는 플랫폼

∙ AWS, 마이크로소프트(Microsoft) 등의 대형 클라우드 제공업체를 통한 라마의 월간 사용량은 2024년

1월~7월까지 10배 증가했으며, 2024년 8월 한 달 동안 가장 사용자 수가 많았던 버전은 ‘라마 3.1-405B’로

최대 규모 AI 모델의 인기를 입증

∙ 자체 활용 목적에 맞게 라마를 미세 조정하는 개발자 커뮤니티가 활성화되며, 허깅페이스에는 6만 개

이상의 라마 파생 모델이 존재

∙ 메타는 라마의 성공이 오픈소스에 기인한다며, 개발자의 선택권과 역량을 보장함으로써 AI 생태계가

활성화되고 광범위하고 빠른 혁신이 가능해졌다고 강조

£ 액센추어,  AT&T  등  주요  기업들,  라마를  자체  목적에  맞게  미세  조정해  활용

n 메타는  공식  사이트에  라마를  미세  조정해  자체적으로  활용하는  주요  기업의  사례를  소개

∙ 액센추어(Accenture)는  라마  3.1을  사용해  ESG(환경·사회·지배구조)  보고서를  생성하는  맞춤형

LLM을 구축하고 있으며, 기존 작성 방식 대비 생산성은 70%, 품질은 20~30% 향상을 기대

∙ AT&T는 라마를 미세 조정하여 핵심 트렌드 및 고객 요구사항과 고객 경험 개선의 기회를 파악해 비용

효율적으로 고객 관리를 지원

∙ 배달  대행  플랫폼  도어대시(DoorDash)는  라마를  사용해  내부  지식기반의  복잡한  질문  응답,  코드

베이스 개선 등 소프트웨어 개발자의 일상 업무를 간소화

∙ 일본  금융기업  노무라(Nomura)는  텍스트  요약,  편향  방지,  코드  생성,  로그  분석  등  문서  관련  업무

전반에서 AWS를 통해 라마를 활용

∙ 줌(Zoom)은  자체  모델과  폐쇄형  및  오픈소스  LLM(라마  포함)을  활용해  회의  요약,  스마트  녹음  등

반복적인 일상 업무를 대신 처리하는 AI 컴패니언(Companion) 서비스를 이용자에게 제공

☞ 출처: Meta, With 10x growth since 2023, Llama is the leading engine of AI innovation, 2024.08.29.

7


SPRi AI Brief |
2024-10월호

구글,  AI  신기능  ‘젬스’와  이미지  생성  모델  ‘이마젠  3’  출시

KEY Contents

n 구글이  제미나이를  미세  조정해  특정  주제에  대한  전문가로  설정하는  등  맞춤형  AI  챗봇을

생성할  수  있는  신기능  ‘젬스’를  유료  사용자  대상으로  공개

n 구글은 최신  이미지 생성  모델 ‘이마젠 3’를 제미나이 앱에 통합하면서 역사적으로 부정확한

이미지  생성  논란으로  중단되었던  인물  이미지  생성  기능도  재개

£ 구글,  제미나이  유료  사용자  대상  맞춤형  AI  챗봇  기능과  최신  이미지  생성  모델  업데이트

n 구글(Google)이  2024년  8월  28일  맞춤형  AI  챗봇을  생성할  수  있는  신기능  ‘젬스(Gems)’를

제미나이(Gemini)  유료  사용자  대상으로  공개

∙ 젬스는 제미나이를 특정 주제에 대한 전문가로 설정하거나 원하는 목표에 맞게 미세 조정하여 사용자

맞춤형 AI 챗봇을 제작하는 기능으로, 150개 이상 국가의 제미나이 어드밴스드, 비즈니스, 엔터프라이즈

이용자들은 데스크톱 환경에서 대부분 언어로 젬스를 이용할 수 있음

∙ 구글은  복잡한  주제를  쉽게  이해할  수  있도록  안내하는  ‘학습  코치’,  다양한  아이디어를  제공하는

‘브레인스토머’, 코딩 실력 향상을 위한 ‘코딩 파트너’와 같은 젬스 샘플도 제공

n 구글은  또한  최신  이미지  생성  모델  ‘이마젠(Imagen)  3’를  제미나이  앱에  통합하고  모든  언어

이용자에게  확대  제공할  계획

∙ 이마젠  3는  간단한  텍스트  프롬프트를  바탕으로  사실적  풍경이나  유화  같은  질감의  이미지,  클레이

애니메이션 등 다양한 스타일의 이미지를 생성하며, 이마젠 2보다 이미지 생성 기능이 대폭 향상

∙ 구글은  이마젠  3를  출시하며  역사적으로  부정확한  인물  이미지  생성으로  2024년  2월  중단된

제미나이의 인물 이미지 생성 기능을 재개

∙ 사실적이며 식별 가능한 인물(유명인사 등)이나 미성년자 묘사, 지나치게 폭력적이거나 선정적인 이미지

생성은 불가, 생성 이미지에 디지털 워터마크 표시로 안전성 강화

∙ 인물  이미지  생성  기능은  제미나이  어드밴스드,  비즈니스,  엔터프라이즈  이용자를  대상으로  영어로

우선 제공되며 향후 지원 언어와 이용자 범위를 확대할 계획

<동일  프롬프트에  대한  이마젠2와  이마젠3의  결과물  비교>

☞ 출처 : Google, New in Gemini: Custom Gems and improved image generation with Imagen 3, 2024.08.28.

8

1. 정책/법제

2. 기업/산업

3. 기술/연구

 4. 인력/교육

구글,  C2PA  표준  적용으로  AI  생성물의  투명성  향상  추진

KEY Contents

n 구글은  AI  생성물의  투명성  향상을  위해  C2PA  운영위원회  회원으로서  콘텐츠  출처  확인

기술  표준  ‘콘텐츠  자격증명’  2.1  버전  개발에  기여

n 구글은  향후  몇  달  동안  ‘콘텐츠  자격증명’  2.1  버전을  검색과  광고  등  자사  서비스에

적용하는 한편, 유튜브에서도 2024년 말까지 C2PA 정보를 전달하기 위한 업데이트를 계획

£ 구글,  C2PA  운영위원회  회원으로서  ‘콘텐츠  자격증명’  2.1  버전  개발에  기여

n 구글이  2024년  9월  17일  AI  생성물의  출처  확인을  통한  투명성  향상을  위한  ‘콘텐츠  출처  및

진위  확인  연합(C2PA)’*  관련  활동  현황을  공개

* 온라인 콘텐츠에 대한 신뢰 구축을 위해 2021년 설립된 글로벌 연합체로 콘텐츠 출처 기술 표준을 개발해 출처 인증에 활용

∙ 구글은 다양한 플랫폼을 넘나드는 콘텐츠의 특성을 고려할 때 온라인 투명성을 높이려면 업계 전반의

협력이 필수적이라는 인식하에 2024년 2월 C2PA의 운영위원회 회원으로 가입

∙ 구글은  C2PA  운영위원회에  소속된  마이크로소프트,  어도비(Adobe),  메타  등의  기업과  협력해

‘콘텐츠 자격증명(Content Credentials)’* 기술 표준의 최신 버전 2.1 버전 개발에 기여

* 디지털 콘텐츠에 메타데이터를 포함하여 제작 출처와 관련된 정보를 확인할 수 있게 하는 기술 표준

∙ ‘콘텐츠 자격증명’ 2.1 버전은 콘텐츠 출처 이력을 검증하기 위한 기술적 요구 사항을 강화해 다양한

위변조 공격에 대응한 보안을 향상

£ 구글,  AI  생성물  출처  확인을  위해  C2PA의  최신  기술  표준을  자사  서비스에  적용  계획

n 구글은 향후  몇 달  동안  ‘콘텐츠  자격증명’ 2.1 버전을 검색과 광고 등 주요 서비스에 적용할 계획

∙ 이미지에  C2PA  메타데이터가  포함된  경우,  이용자들은  구글의  이미지  관련  서비스에서  제공하는

‘About this image’ 기능을 통해 이미지가 AI 도구로 생성 또는 편집되었는지 확인 가능

∙ 구글은  광고  시스템에도  C2PA  메타데이터의  도입을  확대하는  한편,  C2PA를  활용해  주요  정책의

시행 방법을 안내할 계획

∙ 구글은 유튜브에서도 C2PA로 제공되는 출처 정보를 사용자에게 전달할 방법을 모색 중으로, 2024년

말 관련 업데이트를 진행 예정

∙ 향후  발표될  ‘C2PA  신뢰  목록(Trust  List)’을  통한  콘텐츠  출처  확인도  지원할  계획으로,  가령

이용자들이 특정 카메라 모델로 촬영된 이미지의 경우 신뢰 목록을 통해 해당 출처 정보의 정확성을 검증 가능

n 구글은 온라인  콘텐츠 출처  확인을  위해  더 많은  서비스  및 하드웨어  업체의  C2PA  표준  채택을

촉구하는 한편,  구글  딥마인드(Deepmind)에서 개발한  워터마킹 기술  ‘신스ID(SynthID)’를  여러

AI  도구  및  미디어에  확대  적용함으로써  자체적인  노력도  추진

☞ 출처 : Google, How we’re increasing transparency for gen AI content with the C2PA, 2024.09.17.

9

SPRi AI Brief |
2024-10월호

마이크로소프트,  오픈소스  소형언어모델  ‘파이  3.5’  공개

KEY Contents

n 마이크로소프트가 다양한 벤치마크에서 동급 또는 규모가 더 큰 모델 대비 성능이 우수하고 비용

효율적인  소형언어모델  ‘파이-3.5’  3종을  공개

n 16개  전문가  모델을  혼합한  파이-3.5-MoE는  20개  이상의  다국어를  지원하며,  오픈AI의

GPT-4o-mini를  능가하는  추론  성능을  기록

£ 마이크로소프트의  ‘파이  3.5’  3종,  각각  빠른  추론과  복잡한  추론,  시각  작업에  특화

n 마이크로소프트가  2024년  8월  22일  오픈소스  소형언어모델(SLM)  ‘파이(Phi)-3.5’  3종을

허깅페이스(Hugging  Face)를  통해  공개

∙ 공개된 모델은 파이-3.5-미니, 파이-3.5-MoE(전문가혼합), 파이-3.5-비전으로, 각각 빠른 추론과

복잡한 추론, 시각 작업에 특화

∙ 컴퓨팅  자원이  제한된  환경에  적합한  파이-3.5  미니는  38억  개  매개변수로  학습된  SLM으로  12만

8천 개 토큰의 컨텍스트 창과 다국어를 지원하며, 매개변수가 더 큰 미스트랄-7B보다 성능이 우수

∙ 16개  전문가  모델을  혼합한  파이-3.5-MoE는  주어진  요청에  필요한  전문가  모델만  처리를

담당하므로  전체  420억  개  매개변수  중  66억  개  매개변수만  활성화하여  효율성을  높이면서  뛰어난

성능을 발휘하며, 20개 이상의 다국어와 최대 12만 8천 개의 컨텍스트 창을 지원

∙ 파이-3.5-비전은  다중  프레임  이미지  이해와  추론  기능을  갖추어  이미지  간  비교나  다중  이미지와

동영상 요약 등을 지원하나, 다국어 작업에는 최적화되지 않아 추가 미세조정 필요

n 파이-3.5-MoE는  매개변수가  더  큰  모델과 비슷한  수준의 추론 능력을  갖췄으며,  다국어 작업에서도

훨씬  큰  모델과  비슷한  경쟁력을  발휘

∙ 전체  벤치마크  평균에서  파이-3.5-MoE는  69.2점으로  구글의  제미나이  1.5-Flash(68.5점)와

젬마-2-9b(63.3점), 미스트랄의  Nemo-12B(61.3점)를 앞서고, 특히 MMLU* 벤치마크에서는 78.9점으로

오픈AI의 GPT-4o-mini(77.2점)를 능가

* 다양한 주제에 대한 모델의 광범위한 지식과 추론 능력을 평가하는 벤치마크

<‘파이  3.5’와  주요  소형언어모델(SLM)의  매개변수  크기,  품질  비교>

☞ 출처: Microsoft, Discover the New Multi-Lingual, High-Quality Phi-3.5 SLMs, 2024.08.22.

10

1. 정책/법제

2. 기업/산업

3. 기술/연구

 4. 인력/교육

하이퍼라이트,  오류를  자체  수정하는  ‘리플렉션  70B’  오픈소스  모델  공개

KEY Contents

n 하이퍼라이트가 오류를 자체적으로 감지하고 수정함으로써 정확도를 향상해 라마-3.1 405B,

GPT-4o,  제미나이  1.5  Pro를  능가하는  성능의  LLM  ‘리플렉션  70B’를  공개

n 그러나 오픈소스 AI 커뮤니티와 연구자들은 리플렉션 70B의 성능을 재현할 수 없다며 모델의

실제  성능에  의혹을  제기

£ 리플렉션  70B,  추론  과정에서  발생한  오류를  스스로  수정해  정확도  개선

n AI 글쓰기  서비스를  제공하는  미국  스타트업  하이퍼라이트(HyperWrite)의  맷  슈머(Matt Shumer)

CEO가  2024년  9월  5일  X를  통해  신규  LLM  ‘리플렉션(Reflection)  70B’를  공개

∙ 메타의  ‘라마  3.1-70B  인스트럭트’를  미세  조정한  리플렉션  70B는  오류를  자체  수정하는  기법을

활용해 정확도를 향상시킴으로써 오픈소스 모델 중 가장 뛰어난 성능을 발휘


In [19]:
# PyPDFium2Loader 클래스를 사용하여 PDF 파일 로드
loader = PyPDFium2Loader('./data/SPRi AI Brief_10월호_산업동향_F.pdf')  # PDF 파일 경로 지정

# PDF 파일에서 문서 내용 로드
documents_fium = loader.load()  # 로드된 문서가 documents_fium에 저장

C:\Users\USER\AppData\Roaming\Python\Python310\site-packages\pypdfium2\_helpers\textpage.py:80: UserWarning: get_text_range() call with default params will be implicitly redirected to get_text_bounded()
  warnings.warn("get_text_range() call with default params will be implicitly redirected to get_text_bounded()")

In [80]:
print(documents_fium[page].page_content)

1. 정책/법제 2. 기업/산업 3. 기술/연구 4. 인력/교육
1
미·영·EU, 법적 구속력 갖춘 유럽평의회의 AI 국제조약에 서명
n 미국, 영국, EU가 법적 구속력을 가진 유럽평의회의 AI 국제조약에 서명했으며, 서명국은
자국 내 조약 이행을 위한 후속 조치 채택 필요
n 그러나 조약에서 규정한 원칙과 의무가 지나치게 광범위하며, 민간 부문에 대한 규제 적용
여부는 당사국에 일임했다는 점에서 조약의 실효성에 대한 우려도 존재
KEY Contents
£ 유럽평의회의 법적 구속력을 갖춘 AI 국제조약에 10개국이 우선 서명 참여
n 미국, 영국, 유럽연합이 2024년 9월 5일 유럽평의회(Council of Europe)*의 AI 국제조약 ‘AI와
인권·민주주의·법치에 관한 기본 협약’**에 서명
* 46개 회원국으로 구성된 유럽 민주주의·인권·법치 수호 기구
** Framework Convention on Artificial Intelligence and human rights, democracy and the rule of law ∙ 안도라, 조지아, 아이슬란드, 노르웨이, 몰도바 공화국, 산마리노, 이스라엘도 조약에 서명했으며, 전 세계 국가들도 조약에 서명하고 이행을 약속 가능
∙ 조약은 유럽평의회 회원국 46개국과 비회원국 11개국을 포함한 총 57개국의 협의를 거쳐 2024년
5월 17일 유럽평의회 각료위원회에서 채택
∙ AI 시스템으로 인해 영향을 받는 사람들의 인권 보호에 중점을 둔 이번 조약은 2024년 8월 발효된
EU AI 법과는 별개
n 인권·민주주의·법치와 일치하는 AI 시스템의 사용을 목표로 하는 이번 조약은 법적 구속력을 갖춘
첫 국제조약으로, 서명국은 조약 이행을 위한 자국 내 입법이나 행정 조치 채택 필요
∙ 조약은 AI 시스템의 수명주기 전반에서 인간의 존엄성과 개인의 자율성 존중, 투명성, 책임성, 평등과
차별금지, 개인정보보호와 같은 기본원칙을 제시
∙ AI 시스템 수명주기 내 활동으로 인한 피해에 대하여 효과적인 구제 수단을 보장하고 AI 시스템이
인권·민주주의·법치에 미치는 위험과 영향을 평가 및 완화하는 조치를 요구
£ 민간 부문 규제를 당사국에 맡긴 조약의 실효성에 대한 우려도 존재
n 조약 초안 작성에 참여한 비영리기구 ECNL(European Center for Not-for-Profit Law Stichting)의
법률 전문가 프란체스카 파누치(Francesca Fanucci)는 조약의 법적 확실성과 실효성에 우려를 제기
∙ 조약에서 규정한 원칙과 의무가 너무 광범위하고 단서 조항이 많으며, 국가 안보 목적으로 사용되는 AI
시스템은 조약 적용 대상에서 제외될 뿐 아니라, 공공 부문과 달리 민간 부문에 규제 적용 여부와 방법을
선택할 권한을 당사국에 일임해 이중 잣대를 적용했다는 지적
☞ 출처: Council of Europe, Council of Europe opens first ever global treaty on AI for signature, 2024.09.05.
Reuters, US, Britain, EU to sign first international AI treaty, 2024.09.06.

In [26]:
# PyPDFDirectoryLoader 클래스를 사용하여 디렉토리에서 PDF 파일 로드
loader = PyPDFDirectoryLoader('./')  # 현재 디렉토리('./')에서 PDF 파일 로드

# 디렉토리 내의 모든 PDF 파일에서 문서 내용 로드
documents_directory = loader.load()  # 로드된 문서가 documents_directory에 저장

In [82]:
print(documents_directory[page].page_content)

1. 정책/법제  2. 기업/산업 3. 기술/연구  4. 인력/교육
1미·영·EU, 법적 구속력 갖춘 유럽평의회의 AI 국제조약에 서명
n미국, 영국, EU가 법적 구속력을 가진 유럽평의회의 AI 국제조약에 서명했으며 , 서명국은
자국 내 조약 이행을 위한 후속 조치 채택 필요
n그러나 조약에서 규정한 원칙과 의무가 지나치게 광범위하며 , 민간 부문에 대한 규제 적용
여부는 당사국에 일임했다는 점에서 조약의 실효성에 대한 우려도 존재KEY Contents
£유럽평의회의 법적 구속력을 갖춘 AI 국제조약에 10개국이 우선 서명 참여
n미국, 영국, 유럽연합이 2024 년 9월 5일 유럽평의회 (Council of Europe)* 의 AI 국제조약 ‘AI와
인권·민주주의 ·법치에 관한 기본 협약’**에 서명
* 46개 회원국으로 구성된 유럽 민주주의 ·인권·법치 수호 기구
** Framework Convention on Artificial Intelligence and human rights, democracy and the rule of law
∙안도라 , 조지아 , 아이슬란드 , 노르웨이 , 몰도바 공화국 , 산마리노 , 이스라엘도 조약에 서명했으며 ,
전 세계 국가들도 조약에 서명하고 이행을 약속 가능
∙조약은 유럽평의회 회원국 46개국과 비회원국 11개국을 포함한 총 57개국의 협의를 거쳐 2024 년
5월 17일 유럽평의회 각료위원회에서 채택
∙AI 시스템으로 인해 영향을 받는 사람들의 인권 보호에 중점을 둔 이번 조약은 2024 년 8월 발효된
EU AI 법과는 별개
n인권·민주주의 ·법치와 일치하는 AI 시스템의 사용을 목표로 하는 이번 조약은 법적 구속력을 갖춘
첫 국제조약으로 , 서명국은 조약 이행을 위한 자국 내 입법이나 행정 조치 채택 필요
∙조약은 AI 시스템의 수명주기 전반에서 인간의 존엄성과 개인의 자율성 존중, 투명성 , 책임성 , 평등과
차별금지 , 개인정보보호와 같은 기본원칙을 제시
∙AI 시스템 수명주기 내 활동으로 인한 피해에 대하여 효과적인 구제 수단을 보장하고 AI 시스템이
인권·민주주의 ·법치에 미치는 위험과 영향을 평가 및 완화하는 조치를 요구
£민간 부문 규제를 당사국에 맡긴 조약의 실효성에 대한 우려도 존재
n조약 초안 작성에 참여한 비영리기구 ECNL(European Center for Not-for-Profit Law Stichting) 의
법률 전문가 프란체스카 파누치 (Francesca Fanucci) 는 조약의 법적 확실성과 실효성에 우려를 제기
∙조약에서 규정한 원칙과 의무가 너무 광범위하고 단서 조항이 많으며 , 국가 안보 목적으로 사용되는 AI
시스템은 조약 적용 대상에서 제외될 뿐 아니라 , 공공 부문과 달리 민간 부문에 규제 적용 여부와 방법을
선택할 권한을 당사국에 일임해 이중 잣대를 적용했다는 지적
☞ 출처: Council of Europe, Council of Europe opens first ever global treaty on AI for signature, 2024.09.05.
Reuters, US, Britain, EU to sign first international AI treaty, 2024.09.06.

In [81]:
# PDFPlumberLoader 클래스를 사용하여 PDF 파일 로드
loader = PDFPlumberLoader('./data/SPRi AI Brief_10월호_산업동향_F.pdf')  # PDF 파일 경로 지정

# PDF 파일에서 문서 내용 로드
documents_plumber = loader.load()  # 로드된 문서가 documents_plumber에 저장

In [83]:
print(documents_plumber[page].page_content)

1. 정책/법제 2. 기업/산업 3. 기술/연구 4. 인력/교육
미·영·EU, 법적 구속력 갖춘 유럽평의회의 AI 국제조약에 서명
KEY Contents
n 미국, 영국, EU가 법적 구속력을 가진 유럽평의회의 AI 국제조약에 서명했으며, 서명국은
자국 내 조약 이행을 위한 후속 조치 채택 필요
n 그러나 조약에서 규정한 원칙과 의무가 지나치게 광범위하며, 민간 부문에 대한 규제 적용
여부는 당사국에 일임했다는 점에서 조약의 실효성에 대한 우려도 존재
£유럽평의회의 법적 구속력을 갖춘 AI 국제조약에 10개국이 우선 서명 참여
n 미국, 영국, 유럽연합이 2024년 9월 5일 유럽평의회(Council of Europe)*의 AI 국제조약 ‘AI와
인권·민주주의·법치에 관한 기본 협약’**에 서명
* 46개 회원국으로 구성된 유럽 민주주의·인권·법치 수호 기구
** Framework Convention on Artificial Intelligence and human rights, democracy and the rule of law
∙ 안도라, 조지아, 아이슬란드, 노르웨이, 몰도바 공화국, 산마리노, 이스라엘도 조약에 서명했으며,
전 세계 국가들도 조약에 서명하고 이행을 약속 가능
∙ 조약은 유럽평의회 회원국 46개국과 비회원국 11개국을 포함한 총 57개국의 협의를 거쳐 2024년
5월 17일 유럽평의회 각료위원회에서 채택
∙ AI 시스템으로 인해 영향을 받는 사람들의 인권 보호에 중점을 둔 이번 조약은 2024년 8월 발효된
EU AI 법과는 별개
n 인권·민주주의·법치와 일치하는 AI 시스템의 사용을 목표로 하는 이번 조약은 법적 구속력을 갖춘
첫 국제조약으로, 서명국은 조약 이행을 위한 자국 내 입법이나 행정 조치 채택 필요
∙ 조약은 AI 시스템의 수명주기 전반에서 인간의 존엄성과 개인의 자율성 존중, 투명성, 책임성, 평등과
차별금지, 개인정보보호와 같은 기본원칙을 제시
∙ AI 시스템 수명주기 내 활동으로 인한 피해에 대하여 효과적인 구제 수단을 보장하고 AI 시스템이
인권·민주주의·법치에 미치는 위험과 영향을 평가 및 완화하는 조치를 요구
£민간 부문 규제를 당사국에 맡긴 조약의 실효성에 대한 우려도 존재
n 조약 초안 작성에 참여한 비영리기구 ECNL(European Center for Not-for-Profit Law Stichting)의
법률 전문가 프란체스카 파누치(Francesca Fanucci)는 조약의 법적 확실성과 실효성에 우려를 제기
∙ 조약에서 규정한 원칙과 의무가 너무 광범위하고 단서 조항이 많으며, 국가 안보 목적으로 사용되는 AI
시스템은 조약 적용 대상에서 제외될 뿐 아니라, 공공 부문과 달리 민간 부문에 규제 적용 여부와 방법을
선택할 권한을 당사국에 일임해 이중 잣대를 적용했다는 지적
☞ 출처: Council of Europe, Council of Europe opens first ever global treaty on AI for signature, 2024.09.05.
Reuters, US, Britain, EU to sign first international AI treaty, 2024.09.06.
1

#### CSV

csv 파일을 읽기 위한 방법

<br>

> ```python
> loader = CSVLoader(file_path=<path>)
> documents = loader.load()     # 로드
> documents[0].page_content     # 출력
>
> loader = UnstructuredCSVLoader(
>     file_path=<path>,
>     mode='elements',
> )
> documents = loader.load()     # 로드
> documents[0].page_content     # 출력
>
> # dataframe load
> df = pd.read_csv(<path>)
> loader = DataFrameLoader(df, page_content_column='Name')
> documents = loader.load()     # 로드
> ```

In [86]:
# Titanic 데이터셋 로드
dataset = load_dataset('titanic')

# 데이터셋을 CSV 파일로 저장: './data/titanic.csv' 경로에 저장, 인덱스는 저장하지 않음
dataset.to_csv('./data/titanic.csv', index=False)

In [88]:
# CSVLoader 클래스를 사용하여 CSV 파일 로드
loader = CSVLoader(file_path='./data/titanic.csv')  # CSV 파일 경로 지정

# CSV 파일에서 데이터 내용 로드
data = loader.load()  # 로드된 데이터가 data 변수에 저장

# 로드된 데이터 출력
data

[Document(metadata={'source': './data/titanic.csv', 'row': 0}, page_content='survived: 0\npclass: 3\nsex: male\nage: 22.0\nsibsp: 1\nparch: 0\nfare: 7.25\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 1}, page_content='survived: 1\npclass: 1\nsex: female\nage: 38.0\nsibsp: 1\nparch: 0\nfare: 71.2833\nembarked: C\nclass: First\nwho: woman\nadult_male: False\ndeck: C\nembark_town: Cherbourg\nalive: yes\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 2}, page_content='survived: 1\npclass: 3\nsex: female\nage: 26.0\nsibsp: 0\nparch: 0\nfare: 7.925\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 3}, page_content='survived: 1\npclass: 1\nsex: female\nage: 35.0\nsibsp: 1\nparch: 0\nfare: 53.1\nembarked: S\nclass: First\nwho: woman\nadult_male: False\ndeck: C\nembark_town: Southampton\nalive: yes\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 4}, page_content='survived: 0\npclass: 3\nsex: male\nage: 35.0\nsibsp: 0\nparch: 0\nfare: 8.05\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 5}, page_content='survived: 0\npclass: 3\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 8.4583\nembarked: Q\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Queenstown\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 6}, page_content='survived: 0\npclass: 1\nsex: male\nage: 54.0\nsibsp: 0\nparch: 0\nfare: 51.8625\nembarked: S\nclass: First\nwho: man\nadult_male: True\ndeck: E\nembark_town: Southampton\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 7}, page_content='survived: 0\npclass: 3\nsex: male\nage: 2.0\nsibsp: 3\nparch: 1\nfare: 21.075\nembarked: S\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 8}, page_content='survived: 1\npclass: 3\nsex: female\nage: 27.0\nsibsp: 0\nparch: 2\nfare: 11.1333\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: yes\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 9}, page_content='survived: 1\npclass: 2\nsex: female\nage: 14.0\nsibsp: 1\nparch: 0\nfare: 30.0708\nembarked: C\nclass: Second\nwho: child\nadult_male: False\ndeck: \nembark_town: Cherbourg\nalive: yes\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 10}, page_content='survived: 1\npclass: 3\nsex: female\nage: 4.0\nsibsp: 1\nparch: 1\nfare: 16.7\nembarked: S\nclass: Third\nwho: child\nadult_male: False\ndeck: G\nembark_town: Southampton\nalive: yes\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 11}, page_content='survived: 1\npclass: 1\nsex: female\nage: 58.0\nsibsp: 0\nparch: 0\nfare: 26.55\nembarked: S\nclass: First\nwho: woman\nadult_male: False\ndeck: C\nembark_town: Southampton\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 12}, page_content='survived: 0\npclass: 3\nsex: male\nage: 20.0\nsibsp: 0\nparch: 0\nfare: 8.05\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 13}, page_content='survived: 0\npclass: 3\nsex: male\nage: 39.0\nsibsp: 1\nparch: 5\nfare: 31.275\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 14}, page_content='survived: 0\npclass: 3\nsex: female\nage: 14.0\nsibsp: 0\nparch: 0\nfare: 7.8542\nembarked: S\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 15}, page_content='survived: 1\npclass: 2\nsex: female\nage: 55.0\nsibsp: 0\nparch: 0\nfare: 16.0\nembarked: S\nclass: Second\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 16}, page_content='survived: 0\npclass: 3\nsex: male\nage: 2.0\nsibsp: 4\nparch: 1\nfare: 29.125\nembarked: Q\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Queenstown\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 17}, page_content='survived: 1\npclass: 2\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 13.0\nembarked: S\nclass: Second\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 18}, page_content='survived: 0\npclass: 3\nsex: female\nage: 31.0\nsibsp: 1\nparch: 0\nfare: 18.0\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 19}, page_content='survived: 1\npclass: 3\nsex: female\nage: \nsibsp: 0\nparch: 0\nfare: 7.225\nembarked: C\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Cherbourg\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 20}, page_content='survived: 0\npclass: 2\nsex: male\nage: 35.0\nsibsp: 0\nparch: 0\nfare: 26.0\nembarked: S\nclass: Second\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 21}, page_content='survived: 1\npclass: 2\nsex: male\nage: 34.0\nsibsp: 0\nparch: 0\nfare: 13.0\nembarked: S\nclass: Second\nwho: man\nadult_male: True\ndeck: D\nembark_town: Southampton\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 22}, page_content='survived: 1\npclass: 3\nsex: female\nage: 15.0\nsibsp: 0\nparch: 0\nfare: 8.0292\nembarked: Q\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Queenstown\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 23}, page_content='survived: 1\npclass: 1\nsex: male\nage: 28.0\nsibsp: 0\nparch: 0\nfare: 35.5\nembarked: S\nclass: First\nwho: man\nadult_male: True\ndeck: A\nembark_town: Southampton\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 24}, page_content='survived: 0\npclass: 3\nsex: female\nage: 8.0\nsibsp: 3\nparch: 1\nfare: 21.075\nembarked: S\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 25}, page_content='survived: 1\npclass: 3\nsex: female\nage: 38.0\nsibsp: 1\nparch: 5\nfare: 31.3875\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: yes\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 26}, page_content='survived: 0\npclass: 3\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 7.225\nembarked: C\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 27}, page_content='survived: 0\npclass: 1\nsex: male\nage: 19.0\nsibsp: 3\nparch: 2\nfare: 263.0\nembarked: S\nclass: First\nwho: man\nadult_male: True\ndeck: C\nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 28}, page_content='survived: 1\npclass: 3\nsex: female\nage: \nsibsp: 0\nparch: 0\nfare: 7.8792\nembarked: Q\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Queenstown\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 29}, page_content='survived: 0\npclass: 3\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 7.8958\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 30}, page_content='survived: 0\npclass: 1\nsex: male\nage: 40.0\nsibsp: 0\nparch: 0\nfare: 27.7208\nembarked: C\nclass: First\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 31}, page_content='survived: 1\npclass: 1\nsex: female\nage: \nsibsp: 1\nparch: 0\nfare: 146.5208\nembarked: C\nclass: First\nwho: woman\nadult_male: False\ndeck: B\nembark_town: Cherbourg\nalive: yes\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 32}, page_content='survived: 1\npclass: 3\nsex: female\nage: \nsibsp: 0\nparch: 0\nfare: 7.75\nembarked: Q\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Queenstown\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 33}, page_content='survived: 0\npclass: 2\nsex: male\nage: 66.0\nsibsp: 0\nparch: 0\nfare: 10.5\nembarked: S\nclass: Second\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 34}, page_content='survived: 0\npclass: 1\nsex: male\nage: 28.0\nsibsp: 1\nparch: 0\nfare: 82.1708\nembarked: C\nclass: First\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 35}, page_content='survived: 0\npclass: 1\nsex: male\nage: 42.0\nsibsp: 1\nparch: 0\nfare: 52.0\nembarked: S\nclass: First\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 36}, page_content='survived: 1\npclass: 3\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 7.2292\nembarked: C\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 37}, page_content='survived: 0\npclass: 3\nsex: male\nage: 21.0\nsibsp: 0\nparch: 0\nfare: 8.05\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 38}, page_content='survived: 0\npclass: 3\nsex: female\nage: 18.0\nsibsp: 2\nparch: 0\nfare: 18.0\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 39}, page_content='survived: 1\npclass: 3\nsex: female\nage: 14.0\nsibsp: 1\nparch: 0\nfare: 11.2417\nembarked: C\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Cherbourg\nalive: yes\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 40}, page_content='survived: 0\npclass: 3\nsex: female\nage: 40.0\nsibsp: 1\nparch: 0\nfare: 9.475\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 41}, page_content='survived: 0\npclass: 2\nsex: female\nage: 27.0\nsibsp: 1\nparch: 0\nfare: 21.0\nembarked: S\nclass: Second\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 42}, page_content='survived: 0\npclass: 3\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 7.8958\nembarked: C\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 43}, page_content='survived: 1\npclass: 2\nsex: female\nage: 3.0\nsibsp: 1\nparch: 2\nfare: 41.5792\nembarked: C\nclass: Second\nwho: child\nadult_male: False\ndeck: \nembark_town: Cherbourg\nalive: yes\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 44}, page_content='survived: 1\npclass: 3\nsex: female\nage: 19.0\nsibsp: 0\nparch: 0\nfare: 7.8792\nembarked: Q\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Queenstown\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 45}, page_content='survived: 0\npclass: 3\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 8.05\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 46}, page_content='survived: 0\npclass: 3\nsex: male\nage: \nsibsp: 1\nparch: 0\nfare: 15.5\nembarked: Q\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Queenstown\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 47}, page_content='survived: 1\npclass: 3\nsex: female\nage: \nsibsp: 0\nparch: 0\nfare: 7.75\nembarked: Q\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Queenstown\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 48}, page_content='survived: 0\npclass: 3\nsex: male\nage: \nsibsp: 2\nparch: 0\nfare: 21.6792\nembarked: C\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 49}, page_content='survived: 0\npclass: 3\nsex: female\nage: 18.0\nsibsp: 1\nparch: 0\nfare: 17.8\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 50}, page_content='survived: 0\npclass: 3\nsex: male\nage: 7.0\nsibsp: 4\nparch: 1\nfare: 39.6875\nembarked: S\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 51}, page_content='survived: 0\npclass: 3\nsex: male\nage: 21.0\nsibsp: 0\nparch: 0\nfare: 7.8\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 52}, page_content='survived: 1\npclass: 1\nsex: female\nage: 49.0\nsibsp: 1\nparch: 0\nfare: 76.7292\nembarked: C\nclass: First\nwho: woman\nadult_male: False\ndeck: D\nembark_town: Cherbourg\nalive: yes\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 53}, page_content='survived: 1\npclass: 2\nsex: female\nage: 29.0\nsibsp: 1\nparch: 0\nfare: 26.0\nembarked: S\nclass: Second\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: yes\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 54}, page_content='survived: 0\npclass: 1\nsex: male\nage: 65.0\nsibsp: 0\nparch: 1\nfare: 61.9792\nembarked: C\nclass: First\nwho: man\nadult_male: True\ndeck: B\nembark_town: Cherbourg\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 55}, page_content='survived: 1\npclass: 1\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 35.5\nembarked: S\nclass: First\nwho: man\nadult_male: True\ndeck: C\nembark_town: Southampton\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 56}, page_content='survived: 1\npclass: 2\nsex: female\nage: 21.0\nsibsp: 0\nparch: 0\nfare: 10.5\nembarked: S\nclass: Second\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 57}, page_content='survived: 0\npclass: 3\nsex: male\nage: 28.5\nsibsp: 0\nparch: 0\nfare: 7.2292\nembarked: C\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 58}, page_content='survived: 1\npclass: 2\nsex: female\nage: 5.0\nsibsp: 1\nparch: 2\nfare: 27.75\nembarked: S\nclass: Second\nwho: child\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: yes\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 59}, page_content='survived: 0\npclass: 3\nsex: male\nage: 11.0\nsibsp: 5\nparch: 2\nfare: 46.9\nembarked: S\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 60}, page_content='survived: 0\npclass: 3\nsex: male\nage: 22.0\nsibsp: 0\nparch: 0\nfare: 7.2292\nembarked: C\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 61}, page_content='survived: 1\npclass: 1\nsex: female\nage: 38.0\nsibsp: 0\nparch: 0\nfare: 80.0\nembarked: \nclass: First\nwho: woman\nadult_male: False\ndeck: B\nembark_town: \nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 62}, page_content='survived: 0\npclass: 1\nsex: male\nage: 45.0\nsibsp: 1\nparch: 0\nfare: 83.475\nembarked: S\nclass: First\nwho: man\nadult_male: True\ndeck: C\nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 63}, page_content='survived: 0\npclass: 3\nsex: male\nage: 4.0\nsibsp: 3\nparch: 2\nfare: 27.9\nembarked: S\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 64}, page_content='survived: 0\npclass: 1\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 27.7208\nembarked: C\nclass: First\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 65}, page_content='survived: 1\npclass: 3\nsex: male\nage: \nsibsp: 1\nparch: 1\nfare: 15.2458\nembarked: C\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: yes\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 66}, page_content='survived: 1\npclass: 2\nsex: female\nage: 29.0\nsibsp: 0\nparch: 0\nfare: 10.5\nembarked: S\nclass: Second\nwho: woman\nadult_male: False\ndeck: F\nembark_town: Southampton\nalive: yes\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 67}, page_content='survived: 0\npclass: 3\nsex: male\nage: 19.0\nsibsp: 0\nparch: 0\nfare: 8.1583\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 68}, page_content='survived: 1\npclass: 3\nsex: female\nage: 17.0\nsibsp: 4\nparch: 2\nfare: 7.925\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: yes\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 69}, page_content='survived: 0\npclass: 3\nsex: male\nage: 26.0\nsibsp: 2\nparch: 0\nfare: 8.6625\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: False'),
 Document(metadata={'source': './data/titanic.csv', 'row': 70}, page_content='survived: 0\npclass: 2\nsex: male\nage: 32.0\nsibsp: 0\nparch: 0\nfare: 10.5\nembarked: S\nclass: Second\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True'),
 Document(metadata={'source': './data/titanic.csv', 'row': 71}, page_content='survived: 0\npclass: 3\nsex: female\nage: 16.0\nsibsp: 5\nparch: 2\nfare: 46.9\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False'),

In [102]:
from datasets import load_dataset

# Titanic 데이터셋 로드
df = load_dataset('titanic')

# DataFrame의 인덱스를 리셋하고 새로운 인덱스 열 추가
df = df.reset_index()

# 인덱스 열의 데이터 타입을 문자열로 변환
df['index'] = df['index'].astype(str)

# DataFrameLoader를 사용하여 DataFrame을 문서 객체로 변환
loader = DataFrameLoader(df, page_content_column='index')  # 'index' 열을 페이지 내용으로 사용

# 문서 객체 로드
documents = loader.load()

# 로드된 문서 출력
# documents

[Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 22.0, 'sibsp': 1, 'parch': 0, 'fare': 7.25, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='0'),
 Document(metadata={'survived': 1, 'pclass': 1, 'sex': 'female', 'age': 38.0, 'sibsp': 1, 'parch': 0, 'fare': 71.2833, 'embarked': 'C', 'class': 'First', 'who': 'woman', 'adult_male': False, 'deck': 'C', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': False}, page_content='1'),
 Document(metadata={'survived': 1, 'pclass': 3, 'sex': 'female', 'age': 26.0, 'sibsp': 0, 'parch': 0, 'fare': 7.925, 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, page_content='2'),
 Document(metadata={'survived': 1, 'pclass': 1, 'sex': 'female', 'age': 35.0, 'sibsp': 1, 'parch': 0, 'fare': 53.1, 'embarked': 'S', 'class': 'First', 'who': 'woman', 'adult_male': False, 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': False}, page_content='3'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 35.0, 'sibsp': 0, 'parch': 0, 'fare': 8.05, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, page_content='4'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': nan, 'sibsp': 0, 'parch': 0, 'fare': 8.4583, 'embarked': 'Q', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Queenstown', 'alive': 'no', 'alone': True}, page_content='5'),
 Document(metadata={'survived': 0, 'pclass': 1, 'sex': 'male', 'age': 54.0, 'sibsp': 0, 'parch': 0, 'fare': 51.8625, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': 'E', 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, page_content='6'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 2.0, 'sibsp': 3, 'parch': 1, 'fare': 21.075, 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='7'),
 Document(metadata={'survived': 1, 'pclass': 3, 'sex': 'female', 'age': 27.0, 'sibsp': 0, 'parch': 2, 'fare': 11.1333, 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': False}, page_content='8'),
 Document(metadata={'survived': 1, 'pclass': 2, 'sex': 'female', 'age': 14.0, 'sibsp': 1, 'parch': 0, 'fare': 30.0708, 'embarked': 'C', 'class': 'Second', 'who': 'child', 'adult_male': False, 'deck': nan, 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': False}, page_content='9'),
 Document(metadata={'survived': 1, 'pclass': 3, 'sex': 'female', 'age': 4.0, 'sibsp': 1, 'parch': 1, 'fare': 16.7, 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': False, 'deck': 'G', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': False}, page_content='10'),
 Document(metadata={'survived': 1, 'pclass': 1, 'sex': 'female', 'age': 58.0, 'sibsp': 0, 'parch': 0, 'fare': 26.55, 'embarked': 'S', 'class': 'First', 'who': 'woman', 'adult_male': False, 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, page_content='11'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 20.0, 'sibsp': 0, 'parch': 0, 'fare': 8.05, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, page_content='12'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 39.0, 'sibsp': 1, 'parch': 5, 'fare': 31.275, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='13'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'female', 'age': 14.0, 'sibsp': 0, 'parch': 0, 'fare': 7.8542, 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, page_content='14'),
 Document(metadata={'survived': 1, 'pclass': 2, 'sex': 'female', 'age': 55.0, 'sibsp': 0, 'parch': 0, 'fare': 16.0, 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, page_content='15'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 2.0, 'sibsp': 4, 'parch': 1, 'fare': 29.125, 'embarked': 'Q', 'class': 'Third', 'who': 'child', 'adult_male': False, 'deck': nan, 'embark_town': 'Queenstown', 'alive': 'no', 'alone': False}, page_content='16'),
 Document(metadata={'survived': 1, 'pclass': 2, 'sex': 'male', 'age': nan, 'sibsp': 0, 'parch': 0, 'fare': 13.0, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, page_content='17'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'female', 'age': 31.0, 'sibsp': 1, 'parch': 0, 'fare': 18.0, 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='18'),
 Document(metadata={'survived': 1, 'pclass': 3, 'sex': 'female', 'age': nan, 'sibsp': 0, 'parch': 0, 'fare': 7.225, 'embarked': 'C', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': True}, page_content='19'),
 Document(metadata={'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 35.0, 'sibsp': 0, 'parch': 0, 'fare': 26.0, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, page_content='20'),
 Document(metadata={'survived': 1, 'pclass': 2, 'sex': 'male', 'age': 34.0, 'sibsp': 0, 'parch': 0, 'fare': 13.0, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': 'D', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, page_content='21'),
 Document(metadata={'survived': 1, 'pclass': 3, 'sex': 'female', 'age': 15.0, 'sibsp': 0, 'parch': 0, 'fare': 8.0292, 'embarked': 'Q', 'class': 'Third', 'who': 'child', 'adult_male': False, 'deck': nan, 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': True}, page_content='22'),
 Document(metadata={'survived': 1, 'pclass': 1, 'sex': 'male', 'age': 28.0, 'sibsp': 0, 'parch': 0, 'fare': 35.5, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': 'A', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, page_content='23'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'female', 'age': 8.0, 'sibsp': 3, 'parch': 1, 'fare': 21.075, 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='24'),
 Document(metadata={'survived': 1, 'pclass': 3, 'sex': 'female', 'age': 38.0, 'sibsp': 1, 'parch': 5, 'fare': 31.3875, 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': False}, page_content='25'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': nan, 'sibsp': 0, 'parch': 0, 'fare': 7.225, 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': True}, page_content='26'),
 Document(metadata={'survived': 0, 'pclass': 1, 'sex': 'male', 'age': 19.0, 'sibsp': 3, 'parch': 2, 'fare': 263.0, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='27'),
 Document(metadata={'survived': 1, 'pclass': 3, 'sex': 'female', 'age': nan, 'sibsp': 0, 'parch': 0, 'fare': 7.8792, 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': True}, page_content='28'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': nan, 'sibsp': 0, 'parch': 0, 'fare': 7.8958, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, page_content='29'),
 Document(metadata={'survived': 0, 'pclass': 1, 'sex': 'male', 'age': 40.0, 'sibsp': 0, 'parch': 0, 'fare': 27.7208, 'embarked': 'C', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': True}, page_content='30'),
 Document(metadata={'survived': 1, 'pclass': 1, 'sex': 'female', 'age': nan, 'sibsp': 1, 'parch': 0, 'fare': 146.5208, 'embarked': 'C', 'class': 'First', 'who': 'woman', 'adult_male': False, 'deck': 'B', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': False}, page_content='31'),
 Document(metadata={'survived': 1, 'pclass': 3, 'sex': 'female', 'age': nan, 'sibsp': 0, 'parch': 0, 'fare': 7.75, 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': True}, page_content='32'),
 Document(metadata={'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 66.0, 'sibsp': 0, 'parch': 0, 'fare': 10.5, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, page_content='33'),
 Document(metadata={'survived': 0, 'pclass': 1, 'sex': 'male', 'age': 28.0, 'sibsp': 1, 'parch': 0, 'fare': 82.1708, 'embarked': 'C', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': False}, page_content='34'),
 Document(metadata={'survived': 0, 'pclass': 1, 'sex': 'male', 'age': 42.0, 'sibsp': 1, 'parch': 0, 'fare': 52.0, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='35'),
 Document(metadata={'survived': 1, 'pclass': 3, 'sex': 'male', 'age': nan, 'sibsp': 0, 'parch': 0, 'fare': 7.2292, 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': True}, page_content='36'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 21.0, 'sibsp': 0, 'parch': 0, 'fare': 8.05, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, page_content='37'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'female', 'age': 18.0, 'sibsp': 2, 'parch': 0, 'fare': 18.0, 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='38'),
 Document(metadata={'survived': 1, 'pclass': 3, 'sex': 'female', 'age': 14.0, 'sibsp': 1, 'parch': 0, 'fare': 11.2417, 'embarked': 'C', 'class': 'Third', 'who': 'child', 'adult_male': False, 'deck': nan, 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': False}, page_content='39'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'female', 'age': 40.0, 'sibsp': 1, 'parch': 0, 'fare': 9.475, 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='40'),
 Document(metadata={'survived': 0, 'pclass': 2, 'sex': 'female', 'age': 27.0, 'sibsp': 1, 'parch': 0, 'fare': 21.0, 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='41'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': nan, 'sibsp': 0, 'parch': 0, 'fare': 7.8958, 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': True}, page_content='42'),
 Document(metadata={'survived': 1, 'pclass': 2, 'sex': 'female', 'age': 3.0, 'sibsp': 1, 'parch': 2, 'fare': 41.5792, 'embarked': 'C', 'class': 'Second', 'who': 'child', 'adult_male': False, 'deck': nan, 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': False}, page_content='43'),
 Document(metadata={'survived': 1, 'pclass': 3, 'sex': 'female', 'age': 19.0, 'sibsp': 0, 'parch': 0, 'fare': 7.8792, 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': True}, page_content='44'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': nan, 'sibsp': 0, 'parch': 0, 'fare': 8.05, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, page_content='45'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': nan, 'sibsp': 1, 'parch': 0, 'fare': 15.5, 'embarked': 'Q', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Queenstown', 'alive': 'no', 'alone': False}, page_content='46'),
 Document(metadata={'survived': 1, 'pclass': 3, 'sex': 'female', 'age': nan, 'sibsp': 0, 'parch': 0, 'fare': 7.75, 'embarked': 'Q', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Queenstown', 'alive': 'yes', 'alone': True}, page_content='47'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': nan, 'sibsp': 2, 'parch': 0, 'fare': 21.6792, 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': False}, page_content='48'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'female', 'age': 18.0, 'sibsp': 1, 'parch': 0, 'fare': 17.8, 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='49'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 7.0, 'sibsp': 4, 'parch': 1, 'fare': 39.6875, 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='50'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 21.0, 'sibsp': 0, 'parch': 0, 'fare': 7.8, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, page_content='51'),
 Document(metadata={'survived': 1, 'pclass': 1, 'sex': 'female', 'age': 49.0, 'sibsp': 1, 'parch': 0, 'fare': 76.7292, 'embarked': 'C', 'class': 'First', 'who': 'woman', 'adult_male': False, 'deck': 'D', 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': False}, page_content='52'),
 Document(metadata={'survived': 1, 'pclass': 2, 'sex': 'female', 'age': 29.0, 'sibsp': 1, 'parch': 0, 'fare': 26.0, 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': False}, page_content='53'),
 Document(metadata={'survived': 0, 'pclass': 1, 'sex': 'male', 'age': 65.0, 'sibsp': 0, 'parch': 1, 'fare': 61.9792, 'embarked': 'C', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': 'B', 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': False}, page_content='54'),
 Document(metadata={'survived': 1, 'pclass': 1, 'sex': 'male', 'age': nan, 'sibsp': 0, 'parch': 0, 'fare': 35.5, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, page_content='55'),
 Document(metadata={'survived': 1, 'pclass': 2, 'sex': 'female', 'age': 21.0, 'sibsp': 0, 'parch': 0, 'fare': 10.5, 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, page_content='56'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 28.5, 'sibsp': 0, 'parch': 0, 'fare': 7.2292, 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': True}, page_content='57'),
 Document(metadata={'survived': 1, 'pclass': 2, 'sex': 'female', 'age': 5.0, 'sibsp': 1, 'parch': 2, 'fare': 27.75, 'embarked': 'S', 'class': 'Second', 'who': 'child', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': False}, page_content='58'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 11.0, 'sibsp': 5, 'parch': 2, 'fare': 46.9, 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='59'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 22.0, 'sibsp': 0, 'parch': 0, 'fare': 7.2292, 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': True}, page_content='60'),
 Document(metadata={'survived': 1, 'pclass': 1, 'sex': 'female', 'age': 38.0, 'sibsp': 0, 'parch': 0, 'fare': 80.0, 'embarked': nan, 'class': 'First', 'who': 'woman', 'adult_male': False, 'deck': 'B', 'embark_town': nan, 'alive': 'yes', 'alone': True}, page_content='61'),
 Document(metadata={'survived': 0, 'pclass': 1, 'sex': 'male', 'age': 45.0, 'sibsp': 1, 'parch': 0, 'fare': 83.475, 'embarked': 'S', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': 'C', 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='62'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 4.0, 'sibsp': 3, 'parch': 2, 'fare': 27.9, 'embarked': 'S', 'class': 'Third', 'who': 'child', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='63'),
 Document(metadata={'survived': 0, 'pclass': 1, 'sex': 'male', 'age': nan, 'sibsp': 0, 'parch': 0, 'fare': 27.7208, 'embarked': 'C', 'class': 'First', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Cherbourg', 'alive': 'no', 'alone': True}, page_content='64'),
 Document(metadata={'survived': 1, 'pclass': 3, 'sex': 'male', 'age': nan, 'sibsp': 1, 'parch': 1, 'fare': 15.2458, 'embarked': 'C', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Cherbourg', 'alive': 'yes', 'alone': False}, page_content='65'),
 Document(metadata={'survived': 1, 'pclass': 2, 'sex': 'female', 'age': 29.0, 'sibsp': 0, 'parch': 0, 'fare': 10.5, 'embarked': 'S', 'class': 'Second', 'who': 'woman', 'adult_male': False, 'deck': 'F', 'embark_town': 'Southampton', 'alive': 'yes', 'alone': True}, page_content='66'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 19.0, 'sibsp': 0, 'parch': 0, 'fare': 8.1583, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, page_content='67'),
 Document(metadata={'survived': 1, 'pclass': 3, 'sex': 'female', 'age': 17.0, 'sibsp': 4, 'parch': 2, 'fare': 7.925, 'embarked': 'S', 'class': 'Third', 'who': 'woman', 'adult_male': False, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'yes', 'alone': False}, page_content='68'),
 Document(metadata={'survived': 0, 'pclass': 3, 'sex': 'male', 'age': 26.0, 'sibsp': 2, 'parch': 0, 'fare': 8.6625, 'embarked': 'S', 'class': 'Third', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': False}, page_content='69'),
 Document(metadata={'survived': 0, 'pclass': 2, 'sex': 'male', 'age': 32.0, 'sibsp': 0, 'parch': 0, 'fare': 10.5, 'embarked': 'S', 'class': 'Second', 'who': 'man', 'adult_male': True, 'deck': nan, 'embark_town': 'Southampton', 'alive': 'no', 'alone': True}, page_content='70'),

#### Excel

excel 파일을 읽기 위한 방법. <br>
&nbsp;&nbsp;&nbsp;&nbsp; .xls, .xlsx에서 모두 작동

<br>

> ```python
> loader = UnstructuredExcelLoader(<path>, mode='elements')
> loader.load() # 로드
>
> # dataframe loader
> df = pd.read_excel(<path>)
> loader = DataFrameLoader(df, page_content_column="Name")
> loader.load() # 로드
> ```

In [105]:
# Titanic 데이터프레임을 Excel 파일로 저장
df.to_excel('./data/titanic.xlsx', index=False)  # './data/titanic.xlsx' 경로에 저장, 인덱스는 저장하지 않음

In [109]:
# UnstructuredExcelLoader 클래스를 사용하여 Excel 파일 로드
loader = UnstructuredExcelLoader('./data/titanic.xlsx')  # Excel 파일 경로 지정

# Excel 파일에서 문서 내용 로드
documents_single = loader.load()  # 로드된 문서가 documents_single에 저장

# 로드된 문서 출력
documents_single

[Document(metadata={'source': './data/titanic.xlsx'}, page_content='index survived pclass sex age sibsp parch fare embarked class who adult_male deck embark_town alive alone 0.0 0 0 3 male 22 1 0 7.25 S Third man True Southampton no False 1.0 1 1 1 female 38 1 0 71.2833 C First woman False C Cherbourg yes False 2.0 2 1 3 female 26 0 0 7.925 S Third woman False Southampton yes True 3.0 3 1 1 female 35 1 0 53.1 S First woman False C Southampton yes False 4.0 4 0 3 male 35 0 0 8.05 S Third man True Southampton no True 5.0 5 0 3 male 0 0 8.4583 Q Third man True Queenstown no True 6.0 6 0 1 male 54 0 0 51.8625 S First man True E Southampton no True 7.0 7 0 3 male 2 3 1 21.075 S Third child False Southampton no False 8.0 8 1 3 female 27 0 2 11.1333 S Third woman False Southampton yes False 9.0 9 1 2 female 14 1 0 30.0708 C Second child False Cherbourg yes False 10.0 10 1 3 female 4 1 1 16.7 S Third child False G Southampton yes False 11.0 11 1 1 female 58 0 0 26.55 S First woman False C Southampton yes True 12.0 12 0 3 male 20 0 0 8.05 S Third man True Southampton no True 13.0 13 0 3 male 39 1 5 31.275 S Third man True Southampton no False 14.0 14 0 3 female 14 0 0 7.8542 S Third child False Southampton no True 15.0 15 1 2 female 55 0 0 16 S Second woman False Southampton yes True 16.0 16 0 3 male 2 4 1 29.125 Q Third child False Queenstown no False 17.0 17 1 2 male 0 0 13 S Second man True Southampton yes True 18.0 18 0 3 female 31 1 0 18 S Third woman False Southampton no False 19.0 19 1 3 female 0 0 7.225 C Third woman False Cherbourg yes True 20.0 20 0 2 male 35 0 0 26 S Second man True Southampton no True 21.0 21 1 2 male 34 0 0 13 S Second man True D Southampton yes True 22.0 22 1 3 female 15 0 0 8.0292 Q Third child False Queenstown yes True 23.0 23 1 1 male 28 0 0 35.5 S First man True A Southampton yes True 24.0 24 0 3 female 8 3 1 21.075 S Third child False Southampton no False 25.0 25 1 3 female 38 1 5 31.3875 S Third woman False Southampton yes False 26.0 26 0 3 male 0 0 7.225 C Third man True Cherbourg no True 27.0 27 0 1 male 19 3 2 263 S First man True C Southampton no False 28.0 28 1 3 female 0 0 7.8792 Q Third woman False Queenstown yes True 29.0 29 0 3 male 0 0 7.8958 S Third man True Southampton no True 30.0 30 0 1 male 40 0 0 27.7208 C First man True Cherbourg no True 31.0 31 1 1 female 1 0 146.5208 C First woman False B Cherbourg yes False 32.0 32 1 3 female 0 0 7.75 Q Third woman False Queenstown yes True 33.0 33 0 2 male 66 0 0 10.5 S Second man True Southampton no True 34.0 34 0 1 male 28 1 0 82.1708 C First man True Cherbourg no False 35.0 35 0 1 male 42 1 0 52 S First man True Southampton no False 36.0 36 1 3 male 0 0 7.2292 C Third man True Cherbourg yes True 37.0 37 0 3 male 21 0 0 8.05 S Third man True Southampton no True 38.0 38 0 3 female 18 2 0 18 S Third woman False Southampton no False 39.0 39 1 3 female 14 1 0 11.2417 C Third child False Cherbourg yes False 40.0 40 0 3 female 40 1 0 9.475 S Third woman False Southampton no False 41.0 41 0 2 female 27 1 0 21 S Second woman False Southampton no False 42.0 42 0 3 male 0 0 7.8958 C Third man True Cherbourg no True 43.0 43 1 2 female 3 1 2 41.5792 C Second child False Cherbourg yes False 44.0 44 1 3 female 19 0 0 7.8792 Q Third woman False Queenstown yes True 45.0 45 0 3 male 0 0 8.05 S Third man True Southampton no True 46.0 46 0 3 male 1 0 15.5 Q Third man True Queenstown no False 47.0 47 1 3 female 0 0 7.75 Q Third woman False Queenstown yes True 48.0 48 0 3 male 2 0 21.6792 C Third man True Cherbourg no False 49.0 49 0 3 female 18 1 0 17.8 S Third woman False Southampton no False 50.0 50 0 3 male 7 4 1 39.6875 S Third child False Southampton no False 51.0 51 0 3 male 21 0 0 7.8 S Third man True Southampton no True 52.0 52 1 1 female 49 1 0 76.7292 C First woman False D Cherbourg yes False 53.0 53 1 2 female 29 1 0 26 S Second woman False Southampton yes False 54.0 54 0 1 male 65 0 1 61.9792 C First man True B Cherbourg no False 55.0 55 1 1 male 0 0 35.5 S First man True C Southampton yes True 56.0 56 1 2 female 21 0 0 10.5 S Second woman False Southampton yes True 57.0 57 0 3 male 28.5 0 0 7.2292 C Third man True Cherbourg no True 58.0 58 1 2 female 5 1 2 27.75 S Second child False Southampton yes False 59.0 59 0 3 male 11 5 2 46.9 S Third child False Southampton no False 60.0 60 0 3 male 22 0 0 7.2292 C Third man True Cherbourg no True 61.0 61 1 1 female 38 0 0 80 First woman False B yes True 62.0 62 0 1 male 45 1 0 83.475 S First man True C Southampton no False 63.0 63 0 3 male 4 3 2 27.9 S Third child False Southampton no False 64.0 64 0 1 male 0 0 27.7208 C First man True Cherbourg no True 65.0 65 1 3 male 1 1 15.2458 C Third man True Cherbourg yes False 66.0 66 1 2 female 29 0 0 10.5 S Second woman False F Southampton yes True 67.0 67 0 3 male 19 0 0 8.1583 S Third man True Southampton no True 68.0 68 1 3 female 17 4 2 7.925 S Third woman False Southampton yes False 69.0 69 0 3 male 26 2 0 8.6625 S Third man True Southampton no False 70.0 70 0 2 male 32 0 0 10.5 S Second man True Southampton no True 71.0 71 0 3 female 16 5 2 46.9 S Third woman False Southampton no False 72.0 72 0 2 male 21 0 0 73.5 S Second man True Southampton no True 73.0 73 0 3 male 26 1 0 14.4542 C Third man True Cherbourg no False 74.0 74 1 3 male 32 0 0 56.4958 S Third man True Southampton yes True 75.0 75 0 3 male 25 0 0 7.65 S Third man True F Southampton no True 76.0 76 0 3 male 0 0 7.8958 S Third man True Southampton no True 77.0 77 0 3 male 0 0 8.05 S Third man True Southampton no True 78.0 78 1 2 male 0.83 0 2 29 S Second child False Southampton yes False 79.0 79 1 3 female 30 0 0 12.475 S Third woman False Southampton yes True 80.0 80 0 3 male 22 0 0 9 S Third man True Southampton no True 81.0 81 1 3 male 29 0 0 9.5 S Third man True Southampton yes True 82.0 82 1 3 female 0 0 7.7875 Q Third woman False Queenstown yes True 83.0 83 0 1 male 28 0 0 47.1 S First man True Southampton no True 84.0 84 1 2 female 17 0 0 10.5 S Second woman False Southampton yes True 85.0 85 1 3 female 33 3 0 15.85 S Third woman False Southampton yes False 86.0 86 0 3 male 16 1 3 34.375 S Third man True Southampton no False 87.0 87 0 3 male 0 0 8.05 S Third man True Southampton no True 88.0 88 1 1 female 23 3 2 263 S First woman False C Southampton yes False 89.0 89 0 3 male 24 0 0 8.05 S Third man True Southampton no True 90.0 90 0 3 male 29 0 0 8.05 S Third man True Southampton no True 91.0 91 0 3 male 20 0 0 7.8542 S Third man True Southampton no True 92.0 92 0 1 male 46 1 0 61.175 S First man True E Southampton no False 93.0 93 0 3 male 26 1 2 20.575 S Third man True Southampton no False 94.0 94 0 3 male 59 0 0 7.25 S Third man True Southampton no True 95.0 95 0 3 male 0 0 8.05 S Third man True Southampton no True 96.0 96 0 1 male 71 0 0 34.6542 C First man True A Cherbourg no True 97.0 97 1 1 male 23 0 1 63.3583 C First man True D Cherbourg yes False 98.0 98 1 2 female 34 0 1 23 S Second woman False Southampton yes False 99.0 99 0 2 male 34 1 0 26 S Second man True Southampton no False 100.0 100 0 3 female 28 0 0 7.8958 S Third woman False Southampton no True 101.0 101 0 3 male 0 0 7.8958 S Third man True Southampton no True 102.0 102 0 1 male 21 0 1 77.2875 S First man True D Southampton no False 103.0 103 0 3 male 33 0 0 8.6542 S Third man True Southampton no True 104.0 104 0 3 male 37 2 0 7.925 S Third man True Southampton no False 105.0 105 0 3 male 28 0 0 7.8958 S Third man True Southampton no True 106.0 106 1 3 female 21 0 0 7.65 S Third woman False Southampton yes True 107.0 107 1 3 male 0 0 7.775 S Third man True Southampton yes True 108.0 108 0 3 male 38 0 0 7.8958 S Third man True Southampton no True 109.0 109 1 3 female 1 0 24.15 Q Third woman False Queenstown yes False 110.0 110 0 1 male 47 0 0 52 S First man True C Southampton no True 111.0 111 0 3 female 14.5 1 0 14.4542 C Third child False Cherbourg no False 112.0 112 0 3 male 22 0 0 8.05 S Third man True Southampton no True 113.0 113 0 3 female 20 1 0 9.825 S Third woman False Southampton no False 114.0 114 0 3 female 17 0 0 14.4583 C Third woman False Cherbourg no True 115.0 115 0 3 male 21 0 0 7.925 S Third man True Southampton no True 116.0 116 0 3 male 70.5 0 0 7.75 Q Third man True Queenstown no True 117.0 117 0 2 male 29 1 0 21 S Second man True Southampton no False 118.0 118 0 1 male 24 0 1 247.5208 C First man True B Cherbourg no False 119.0 119 0 3 female 2 4 2 31.275 S Third child False Southampton no False 120.0 120 0 2 male 21 2 0 73.5 S Second man True Southampton no False 121.0 121 0 3 male 0 0 8.05 S Third man True Southampton no True 122.0 122 0 2 male 32.5 1 0 30.0708 C Second man True Cherbourg no False 123.0 123 1 2 female 32.5 0 0 13 S Second woman False E Southampton yes True 124.0 124 0 1 male 54 0 1 77.2875 S First man True D Southampton no False 125.0 125 1 3 male 12 1 0 11.2417 C Third child False Cherbourg yes False 126.0 126 0 3 male 0 0 7.75 Q Third man True Queenstown no True 127.0 127 1 3 male 24 0 0 7.1417 S Third man True Southampton yes True 128.0 128 1 3 female 1 1 22.3583 C Third woman False F Cherbourg yes False 129.0 129 0 3 male 45 0 0 6.975 S Third man True Southampton no True 130.0 130 0 3 male 33 0 0 7.8958 C Third man True Cherbourg no True 131.0 131 0 3 male 20 0 0 7.05 S Third man True Southampton no True 132.0 132 0 3 female 47 1 0 14.5 S Third woman False Southampton no False 133.0 133 1 2 female 29 1 0 26 S Second woman False Southampton yes False 134.0 134 0 2 male 25 0 0 13 S Second man True Southampton no True 135.0 135 0 2 male 23 0 0 15.0458 C Second man True Cherbourg no True 136.0 136 1 1 female 19 0 2 26.2833 S First woman False D Southampton yes False 137.0 137 0 1 male 37 1 0 53.1 S First man True C Southampton no False 138.0 138 0 3 male 16 0 0 9.2167 S Third man True Southampton no True 139.0 139 0 1 male 24 0 0 79.2 C First man True B Cherbourg no True 140.0 140 0 3 female 0 2 15.2458 C Third woman False Cherbourg no False 141.0 141 1 3 female 22 0 0 7.75 S Third woman False Southampton yes True 142.0 142 1 3 female 24 1 0 15.85 S Third woman False Southampton yes False 143.0 143 0 3 male 19 0 0 6.75 Q Third man True Queenstown no True 144.0 144 0 2 male 18 0 0 11.5 S Second man True Southampton no True 145.0 145 0 2 male 19 1 1 36.75 S Second man True Southampton no False 146.0 146 1 3 male 27 0 0 7.7958 S Third man True Southampton yes True 147.0 147 0 3 female 9 2 2 34.375 S Third child False Southampton no False 148.0 148 0 2 male 36.5 0 2 26 S Second man True F Southampton no False 149.0 149 0 2 male 42 0 0 13 S Second man True Southampton no True 150.0 150 0 2 male 51 0 0 12.525 S Second man True Southampton no True 151.0 151 1 1 female 22 1 0 66.6 S First woman False C Southampton yes False 152.0 152 0 3 male 55.5 0 0 8.05 S Third man True Southampton no True 153.0 153 0 3 male 40.5 0 2 14.5 S Third man True Southampton no False 154.0 154 0 3 male 0 0 7.3125 S Third man True Southampton no True 155.0 155 0 1 male 51 0 1 61.3792 C First man True Cherbourg no False 156.0 156 1 3 female 16 0 0 7.7333 Q Third woman False Queenstown yes True 157.0 157 0 3 male 30 0 0 8.05 S Third man True Southampton no True 158.0 158 0 3 male 0 0 8.6625 S Third man True Southampton no True 159.0 159 0 3 male 8 2 69.55 S Third man True Southampton no False 160.0 160 0 3 male 44 0 1 16.1 S Third man True Southampton no False 161.0 161 1 2 female 40 0 0 15.75 S Second woman False Southampton yes True 162.0 162 0 3 male 26 0 0 7.775 S Third man True Southampton no True 163.0 163 0 3 male 17 0 0 8.6625 S Third man True Southampton no True 164.0 164 0 3 male 1 4 1 39.6875 S Third child False Southampton no False 165.0 165 1 3 male 9 0 2 20.525 S Third child False Southampton yes False 166.0 166 1 1 female 0 1 55 S First woman False E Southampton yes False 167.0 167 0 3 female 45 1 4 27.9 S Third woman False Southampton no False 168.0 168 0 1 male 0 0 25.925 S First man True Southampton no True 169.0 169 0 3 male 28 0 0 56.4958 S Third man True Southampton no True 170.0 170 0 1 male 61 0 0 33.5 S First man True B Southampton no True 171.0 171 0 3 male 4 4 1 29.125 Q Third child False Queenstown no False 172.0 172 1 3 female 1 1 1 11.1333 S Third child False Southampton yes False 173.0 173 0 3 male 21 0 0 7.925 S Third man True Southampton no True 174.0 174 0 1 male 56 0 0 30.6958 C First man True A Cherbourg no True 175.0 175 0 3 male 18 1 1 7.8542 S Third man True Southampton no False 176.0 176 0 3 male 3 1 25.4667 S Third man True Southampton no False 177.0 177 0 1 female 50 0 0 28.7125 C First woman False C Cherbourg no True 178.0 178 0 2 male 30 0 0 13 S Second man True Southampton no True 179.0 179 0 3 male 36 0 0 0 S Third man True Southampton no True 180.0 180 0 3 female 8 2 69.55 S Third woman False Southampton no False 181.0 181 0 2 male 0 0 15.05 C Second man True Cherbourg no True 182.0 182 0 3 male 9 4 2 31.3875 S Third child False Southampton no False 183.0 183 1 2 male 1 2 1 39 S Second child False F Southampton yes False 184.0 184 1 3 female 4 0 2 22.025 S Third child False Southampton yes False 185.0 185 0 1 male 0 0 50 S First man True A Southampton no True 186.0 186 1 3 female 1 0 15.5 Q Third woman False Queenstown yes False 187.0 187 1 1 male 45 0 0 26.55 S First man True Southampton yes True 188.0 188 0 3 male 40 1 1 15.5 Q Third man True Queenstown no False 189.0 189 0 3 male 36 0 0 7.8958 S Third man True Southampton no True 190.0 190 1 2 female 32 0 0 13 S Second woman False Southampton yes True 191.0 191 0 2 male 19 0 0 13 S Second man True Southampton no True 192.0 192 1 3 female 19 1 0 7.8542 S Third woman False Southampton yes False 193.0 193 1 2 male 3 1 1 26 S Second child False F Southampton yes False 194.0 194 1 1 female 44 0 0 27.7208 C First woman False B Cherbourg yes True 195.0 195 1 1 female 58 0 0 146.5208 C First woman False B Cherbourg yes True 196.0 196 0 3 male 0 0 7.75 Q Third man True Queenstown no True 197.0 197 0 3 male 42 0 1 8.4042 S Third man True Southampton no False 198.0 198 1 3 female 0 0 7.75 Q Third woman False Queenstown yes True 199.0 199 0 2 female 24 0 0 13 S Second woman False Southampton no True 200.0 200 0 3 male 28 0 0 9.5 S Third man True Southampton no True 201.0 201 0 3 male 8 2 69.55 S Third man True Southampton no False 202.0 202 0 3 male 34 0 0 6.4958 S Third man True Southampton no True 203.0 203 0 3 male 45.5 0 0 7.225 C Third man True Cherbourg no True 204.0 204 1 3 male 18 0 0 8.05 S Third man True Southampton yes True 205.0 205 0 3 female 2 0 1 10.4625 S Third child False G Southampton no False 206.0 206 0 3 male 32 1 0 15.85 S Third man True Southampton no False 207.0 207 1 3 male 26 0 0 18.7875 C Third man True Cherbourg yes True 208.0 208 1 3 female 16 0 0 7.75 Q Third woman False Queenstown yes True 209.0 209 1 1 male 40 0 0 31 C First man True A Cherbourg yes True 210.0 210 0 3 male 24 0 0 7.05 S Third man True Southampton no True 211.0 211 1 2 female 35 0 0 21 S Second woman False Southampton yes True 212.0 212 0 3 male 22 0 0 7.25 S Third man True Southampton no True 213.0 213 0 2 male 30 0 0 13 S Second man True Southampton no True 214.0 214 0 3 male 1 0 7.75 Q Third man True Queenstown no False 215.0 215 1 1 female 31 1 0 113.275 C First woman False D Cherbourg yes False 216.0 216 1 3 female 27 0 0 7.925 S Third woman False Southampton yes True 217.0 217 0 2 male 42 1 0 27 S Second man True Southampton no False 218.0 218 1 1 female 32 0 0 76.2917 C First woman False D Cherbourg yes True 219.0 219 0 2 male 30 0 0 10.5 S Second man True Southampton no True 220.0 220 1 3 male 16 0 0 8.05 S Third man True Southampton yes True 221.0 221 0 2 male 27 0 0 13 S Second man True Southampton no True 222.0 222 0 3 male 51 0 0 8.05 S Third man True Southampton no True 223.0 223 0 3 male 0 0 7.8958 S Third man True Southampton no True 224.0 224 1 1 male 38 1 0 90 S First man True C Southampton yes False 225.0 225 0 3 male 22 0 0 9.35 S Third man True Southampton no True 226.0 226 1 2 male 19 0 0 10.5 S Second man True Southampton yes True 227.0 227 0 3 male 20.5 0 0 7.25 S Third man True Southampton no True 228.0 228 0 2 male 18 0 0 13 S Second man True Southampton no True 229.0 229 0 3 female 3 1 25.4667 S Third woman False Southampton no False 230.0 230 1 1 female 35 1 0 83.475 S First woman False C Southampton yes False 231.0 231 0 3 male 29 0 0 7.775 S Third man True Southampton no True 232.0 232 0 2 male 59 0 0 13.5 S Second man True Southampton no True 233.0 233 1 3 female 5 4 2 31.3875 S Third child False Southampton yes False 234.0 234 0 2 male 24 0 0 10.5 S Second man True Southampton no True 235.0 235 0 3 female 0 0 7.55 S Third woman False Southampton no True 236.0 236 0 2 male 44 1 0 26 S Second man True Southampton no False 237.0 237 1 2 female 8 0 2 26.25 S Second child False Southampton yes False 238.0 238 0 2 male 19 0 0 10.5 S Second man True Southampton no True 239.0 239 0 2 male 33 0 0 12.275 S Second man True Southampton no True 240.0 240 0 3 female 1 0 14.4542 C Third woman False Cherbourg no False 241.0 241 1 3 female 1 0 15.5 Q Third woman False Queenstown yes False 242.0 242 0 2 male 29 0 0 10.5 S Second man True Southampton no True 243.0 243 0 3 male 22 0 0 7.125 S Third man True Southampton no True 244.0 244 0 3 male 30 0 0 7.225 C Third man True Cherbourg no True 245.0 245 0 1 male 44 2 0 90 Q First man True C Queenstown no False 246.0 246 0 3 female 25 0 0 7.775 S Third woman False Southampton no True 247.0 247 1 2 female 24 0 2 14.5 S Second woman False Southampton yes False 248.0 248 1 1 male 37 1 1 52.5542 S First man True D Southampton yes False 249.0 249 0 2 male 54 1 0 26 S Second man True Southampton no False 250.0 250 0 3 male 0 0 7.25 S Third man True Southampton no True 251.0 251 0 3 female 29 1 1 10.4625 S Third woman False G Southampton no False 252.0 252 0 1 male 62 0 0 26.55 S First man True C Southampton no True 253.0 253 0 3 male 30 1 0 16.1 S Third man True Southampton no False 254.0 254 0 3 female 41 0 2 20.2125 S Third woman False Southampton no False 255.0 255 1 3 female 29 0 2 15.2458 C Third woman False Cherbourg yes False 256.0 256 1 1 female 0 0 79.2 C First woman False Cherbourg yes True 257.0 257 1 1 female 30 0 0 86.5 S First woman False B Southampton yes True 258.0 258 1 1 female 35 0 0 512.3292 C First woman False Cherbourg yes True 259.0 259 1 2 female 50 0 1 26 S Second woman False Southampton yes False 260.0 260 0 3 male 0 0 7.75 Q Third man True Queenstown no True 261.0 261 1 3 male 3 4 2 31.3875 S Third child False Southampton yes False 262.0 262 0 1 male 52 1 1 79.65 S First man True E Southampton no False 263.0 263 0 1 male 40 0 0 0 S First man True B Southampton no True 264.0 264 0 3 female 0 0 7.75 Q Third woman False Queenstown no True 265.0 265 0 2 male 36 0 0 10.5 S Second man True Southampton no True 266.0 266 0 3 male 16 4 1 39.6875 S Third man True Southampton no False 267.0 267 1 3 male 25 1 0 7.775 S Third man True Southampton yes False 268.0 268 1 1 female 58 0 1 153.4625 S First woman False C Southampton yes False 269.0 269 1 1 female 35 0 0 135.6333 S First woman False C Southampton yes True 270.0 270 0 1 male 0 0 31 S First man True Southampton no True 271.0 271 1 3 male 25 0 0 0 S Third man True Southampton yes True 272.0 272 1 2 female 41 0 1 19.5 S Second woman False Southampton yes False 273.0 273 0 1 male 37 0 1 29.7 C First man True C Cherbourg no False 274.0 274 1 3 female 0 0 7.75 Q Third woman False Queenstown yes True 275.0 275 1 1 female 63 1 0 77.9583 S First woman False D Southampton yes False 276.0 276 0 3 female 45 0 0 7.75 S Third woman False Southampton no True 277.0 277 0 2 male 0 0 0 S Second man True Southampton no True 278.0 278 0 3 male 7 4 1 29.125 Q Third child False Queenstown no False 279.0 279 1 3 female 35 1 1 20.25 S Third woman False Southampton yes False 280.0 280 0 3 male 65 0 0 7.75 Q Third man True Queenstown no True 281.0 281 0 3 male 28 0 0 7.8542 S Third man True Southampton no True 282.0

In [119]:
print(documents_single[0].page_content)

index survived pclass sex age sibsp parch fare embarked class who adult_male deck embark_town alive alone 0.0 0 0 3 male 22 1 0 7.25 S Third man True Southampton no False 1.0 1 1 1 female 38 1 0 71.2833 C First woman False C Cherbourg yes False 2.0 2 1 3 female 26 0 0 7.925 S Third woman False Southampton yes True 3.0 3 1 1 female 35 1 0 53.1 S First woman False C Southampton yes False 4.0 4 0 3 male 35 0 0 8.05 S Third man True Southampton no True 5.0 5 0 3 male 0 0 8.4583 Q Third man True Queenstown no True 6.0 6 0 1 male 54 0 0 51.8625 S First man True E Southampton no True 7.0 7 0 3 male 2 3 1 21.075 S Third child False Southampton no False 8.0 8 1 3 female 27 0 2 11.1333 S Third woman False Southampton yes False 9.0 9 1 2 female 14 1 0 30.0708 C Second child False Cherbourg yes False 10.0 10 1 3 female 4 1 1 16.7 S Third child False G Southampton yes False 11.0 11 1 1 female 58 0 0 26.55 S First woman False C Southampton yes True 12.0 12 0 3 male 20 0 0 8.05 S Third man True Southampton no True 13.0 13 0 3 male 39 1 5 31.275 S Third man True Southampton no False 14.0 14 0 3 female 14 0 0 7.8542 S Third child False Southampton no True 15.0 15 1 2 female 55 0 0 16 S Second woman False Southampton yes True 16.0 16 0 3 male 2 4 1 29.125 Q Third child False Queenstown no False 17.0 17 1 2 male 0 0 13 S Second man True Southampton yes True 18.0 18 0 3 female 31 1 0 18 S Third woman False Southampton no False 19.0 19 1 3 female 0 0 7.225 C Third woman False Cherbourg yes True 20.0 20 0 2 male 35 0 0 26 S Second man True Southampton no True 21.0 21 1 2 male 34 0 0 13 S Second man True D Southampton yes True 22.0 22 1 3 female 15 0 0 8.0292 Q Third child False Queenstown yes True 23.0 23 1 1 male 28 0 0 35.5 S First man True A Southampton yes True 24.0 24 0 3 female 8 3 1 21.075 S Third child False Southampton no False 25.0 25 1 3 female 38 1 5 31.3875 S Third woman False Southampton yes False 26.0 26 0 3 male 0 0 7.225 C Third man True Cherbourg no True 27.0 27 0 1 male 19 3 2 263 S First man True C Southampton no False 28.0 28 1 3 female 0 0 7.8792 Q Third woman False Queenstown yes True 29.0 29 0 3 male 0 0 7.8958 S Third man True Southampton no True 30.0 30 0 1 male 40 0 0 27.7208 C First man True Cherbourg no True 31.0 31 1 1 female 1 0 146.5208 C First woman False B Cherbourg yes False 32.0 32 1 3 female 0 0 7.75 Q Third woman False Queenstown yes True 33.0 33 0 2 male 66 0 0 10.5 S Second man True Southampton no True 34.0 34 0 1 male 28 1 0 82.1708 C First man True Cherbourg no False 35.0 35 0 1 male 42 1 0 52 S First man True Southampton no False 36.0 36 1 3 male 0 0 7.2292 C Third man True Cherbourg yes True 37.0 37 0 3 male 21 0 0 8.05 S Third man True Southampton no True 38.0 38 0 3 female 18 2 0 18 S Third woman False Southampton no False 39.0 39 1 3 female 14 1 0 11.2417 C Third child False Cherbourg yes False 40.0 40 0 3 female 40 1 0 9.475 S Third woman False Southampton no False 41.0 41 0 2 female 27 1 0 21 S Second woman False Southampton no False 42.0 42 0 3 male 0 0 7.8958 C Third man True Cherbourg no True 43.0 43 1 2 female 3 1 2 41.5792 C Second child False Cherbourg yes False 44.0 44 1 3 female 19 0 0 7.8792 Q Third woman False Queenstown yes True 45.0 45 0 3 male 0 0 8.05 S Third man True Southampton no True 46.0 46 0 3 male 1 0 15.5 Q Third man True Queenstown no False 47.0 47 1 3 female 0 0 7.75 Q Third woman False Queenstown yes True 48.0 48 0 3 male 2 0 21.6792 C Third man True Cherbourg no False 49.0 49 0 3 female 18 1 0 17.8 S Third woman False Southampton no False 50.0 50 0 3 male 7 4 1 39.6875 S Third child False Southampton no False 51.0 51 0 3 male 21 0 0 7.8 S Third man True Southampton no True 52.0 52 1 1 female 49 1 0 76.7292 C First woman False D Cherbourg yes False 53.0 53 1 2 female 29 1 0 26 S Second woman False Southampton yes False 54.0 54 0 1 male 65 0 1 61.9792 C First man True B Cherbourg no False 55.0 55 1 1 male 0 0 35.5 S First man True C Southampton yes True 56.0 56 1 2 female 21 0 0 10.5 S Second woman False Southampton yes True 57.0 57 0 3 male 28.5 0 0 7.2292 C Third man True Cherbourg no True 58.0 58 1 2 female 5 1 2 27.75 S Second child False Southampton yes False 59.0 59 0 3 male 11 5 2 46.9 S Third child False Southampton no False 60.0 60 0 3 male 22 0 0 7.2292 C Third man True Cherbourg no True 61.0 61 1 1 female 38 0 0 80 First woman False B yes True 62.0 62 0 1 male 45 1 0 83.475 S First man True C Southampton no False 63.0 63 0 3 male 4 3 2 27.9 S Third child False Southampton no False 64.0 64 0 1 male 0 0 27.7208 C First man True Cherbourg no True 65.0 65 1 3 male 1 1 15.2458 C Third man True Cherbourg yes False 66.0 66 1 2 female 29 0 0 10.5 S Second woman False F Southampton yes True 67.0 67 0 3 male 19 0 0 8.1583 S Third man True Southampton no True 68.0 68 1 3 female 17 4 2 7.925 S Third woman False Southampton yes False 69.0 69 0 3 male 26 2 0 8.6625 S Third man True Southampton no False 70.0 70 0 2 male 32 0 0 10.5 S Second man True Southampton no True 71.0 71 0 3 female 16 5 2 46.9 S Third woman False Southampton no False 72.0 72 0 2 male 21 0 0 73.5 S Second man True Southampton no True 73.0 73 0 3 male 26 1 0 14.4542 C Third man True Cherbourg no False 74.0 74 1 3 male 32 0 0 56.4958 S Third man True Southampton yes True 75.0 75 0 3 male 25 0 0 7.65 S Third man True F Southampton no True 76.0 76 0 3 male 0 0 7.8958 S Third man True Southampton no True 77.0 77 0 3 male 0 0 8.05 S Third man True Southampton no True 78.0 78 1 2 male 0.83 0 2 29 S Second child False Southampton yes False 79.0 79 1 3 female 30 0 0 12.475 S Third woman False Southampton yes True 80.0 80 0 3 male 22 0 0 9 S Third man True Southampton no True 81.0 81 1 3 male 29 0 0 9.5 S Third man True Southampton yes True 82.0 82 1 3 female 0 0 7.7875 Q Third woman False Queenstown yes True 83.0 83 0 1 male 28 0 0 47.1 S First man True Southampton no True 84.0 84 1 2 female 17 0 0 10.5 S Second woman False Southampton yes True 85.0 85 1 3 female 33 3 0 15.85 S Third woman False Southampton yes False 86.0 86 0 3 male 16 1 3 34.375 S Third man True Southampton no False 87.0 87 0 3 male 0 0 8.05 S Third man True Southampton no True 88.0 88 1 1 female 23 3 2 263 S First woman False C Southampton yes False 89.0 89 0 3 male 24 0 0 8.05 S Third man True Southampton no True 90.0 90 0 3 male 29 0 0 8.05 S Third man True Southampton no True 91.0 91 0 3 male 20 0 0 7.8542 S Third man True Southampton no True 92.0 92 0 1 male 46 1 0 61.175 S First man True E Southampton no False 93.0 93 0 3 male 26 1 2 20.575 S Third man True Southampton no False 94.0 94 0 3 male 59 0 0 7.25 S Third man True Southampton no True 95.0 95 0 3 male 0 0 8.05 S Third man True Southampton no True 96.0 96 0 1 male 71 0 0 34.6542 C First man True A Cherbourg no True 97.0 97 1 1 male 23 0 1 63.3583 C First man True D Cherbourg yes False 98.0 98 1 2 female 34 0 1 23 S Second woman False Southampton yes False 99.0 99 0 2 male 34 1 0 26 S Second man True Southampton no False 100.0 100 0 3 female 28 0 0 7.8958 S Third woman False Southampton no True 101.0 101 0 3 male 0 0 7.8958 S Third man True Southampton no True 102.0 102 0 1 male 21 0 1 77.2875 S First man True D Southampton no False 103.0 103 0 3 male 33 0 0 8.6542 S Third man True Southampton no True 104.0 104 0 3 male 37 2 0 7.925 S Third man True Southampton no False 105.0 105 0 3 male 28 0 0 7.8958 S Third man True Southampton no True 106.0 106 1 3 female 21 0 0 7.65 S Third woman False Southampton yes True 107.0 107 1 3 male 0 0 7.775 S Third man True Southampton yes True 108.0 108 0 3 male 38 0 0 7.8958 S Third man True Southampton no True 109.0 109 1 3 female 1 0 24.15 Q Third woman False Queenstown yes False 110.0 110 0 1 male 47 0 0 52 S First man True C Southampton no True 111.0 111 0 3 female 14.5 1 0 14.4542 C Third child False Cherbourg no False 112.0 112 0 3 male 22 0 0 8.05 S Third man True Southampton no True 113.0 113 0 3 female 20 1 0 9.825 S Third woman False Southampton no False 114.0 114 0 3 female 17 0 0 14.4583 C Third woman False Cherbourg no True 115.0 115 0 3 male 21 0 0 7.925 S Third man True Southampton no True 116.0 116 0 3 male 70.5 0 0 7.75 Q Third man True Queenstown no True 117.0 117 0 2 male 29 1 0 21 S Second man True Southampton no False 118.0 118 0 1 male 24 0 1 247.5208 C First man True B Cherbourg no False 119.0 119 0 3 female 2 4 2 31.275 S Third child False Southampton no False 120.0 120 0 2 male 21 2 0 73.5 S Second man True Southampton no False 121.0 121 0 3 male 0 0 8.05 S Third man True Southampton no True 122.0 122 0 2 male 32.5 1 0 30.0708 C Second man True Cherbourg no False 123.0 123 1 2 female 32.5 0 0 13 S Second woman False E Southampton yes True 124.0 124 0 1 male 54 0 1 77.2875 S First man True D Southampton no False 125.0 125 1 3 male 12 1 0 11.2417 C Third child False Cherbourg yes False 126.0 126 0 3 male 0 0 7.75 Q Third man True Queenstown no True 127.0 127 1 3 male 24 0 0 7.1417 S Third man True Southampton yes True 128.0 128 1 3 female 1 1 22.3583 C Third woman False F Cherbourg yes False 129.0 129 0 3 male 45 0 0 6.975 S Third man True Southampton no True 130.0 130 0 3 male 33 0 0 7.8958 C Third man True Cherbourg no True 131.0 131 0 3 male 20 0 0 7.05 S Third man True Southampton no True 132.0 132 0 3 female 47 1 0 14.5 S Third woman False Southampton no False 133.0 133 1 2 female 29 1 0 26 S Second woman False Southampton yes False 134.0 134 0 2 male 25 0 0 13 S Second man True Southampton no True 135.0 135 0 2 male 23 0 0 15.0458 C Second man True Cherbourg no True 136.0 136 1 1 female 19 0 2 26.2833 S First woman False D Southampton yes False 137.0 137 0 1 male 37 1 0 53.1 S First man True C Southampton no False 138.0 138 0 3 male 16 0 0 9.2167 S Third man True Southampton no True 139.0 139 0 1 male 24 0 0 79.2 C First man True B Cherbourg no True 140.0 140 0 3 female 0 2 15.2458 C Third woman False Cherbourg no False 141.0 141 1 3 female 22 0 0 7.75 S Third woman False Southampton yes True 142.0 142 1 3 female 24 1 0 15.85 S Third woman False Southampton yes False 143.0 143 0 3 male 19 0 0 6.75 Q Third man True Queenstown no True 144.0 144 0 2 male 18 0 0 11.5 S Second man True Southampton no True 145.0 145 0 2 male 19 1 1 36.75 S Second man True Southampton no False 146.0 146 1 3 male 27 0 0 7.7958 S Third man True Southampton yes True 147.0 147 0 3 female 9 2 2 34.375 S Third child False Southampton no False 148.0 148 0 2 male 36.5 0 2 26 S Second man True F Southampton no False 149.0 149 0 2 male 42 0 0 13 S Second man True Southampton no True 150.0 150 0 2 male 51 0 0 12.525 S Second man True Southampton no True 151.0 151 1 1 female 22 1 0 66.6 S First woman False C Southampton yes False 152.0 152 0 3 male 55.5 0 0 8.05 S Third man True Southampton no True 153.0 153 0 3 male 40.5 0 2 14.5 S Third man True Southampton no False 154.0 154 0 3 male 0 0 7.3125 S Third man True Southampton no True 155.0 155 0 1 male 51 0 1 61.3792 C First man True Cherbourg no False 156.0 156 1 3 female 16 0 0 7.7333 Q Third woman False Queenstown yes True 157.0 157 0 3 male 30 0 0 8.05 S Third man True Southampton no True 158.0 158 0 3 male 0 0 8.6625 S Third man True Southampton no True 159.0 159 0 3 male 8 2 69.55 S Third man True Southampton no False 160.0 160 0 3 male 44 0 1 16.1 S Third man True Southampton no False 161.0 161 1 2 female 40 0 0 15.75 S Second woman False Southampton yes True 162.0 162 0 3 male 26 0 0 7.775 S Third man True Southampton no True 163.0 163 0 3 male 17 0 0 8.6625 S Third man True Southampton no True 164.0 164 0 3 male 1 4 1 39.6875 S Third child False Southampton no False 165.0 165 1 3 male 9 0 2 20.525 S Third child False Southampton yes False 166.0 166 1 1 female 0 1 55 S First woman False E Southampton yes False 167.0 167 0 3 female 45 1 4 27.9 S Third woman False Southampton no False 168.0 168 0 1 male 0 0 25.925 S First man True Southampton no True 169.0 169 0 3 male 28 0 0 56.4958 S Third man True Southampton no True 170.0 170 0 1 male 61 0 0 33.5 S First man True B Southampton no True 171.0 171 0 3 male 4 4 1 29.125 Q Third child False Queenstown no False 172.0 172 1 3 female 1 1 1 11.1333 S Third child False Southampton yes False 173.0 173 0 3 male 21 0 0 7.925 S Third man True Southampton no True 174.0 174 0 1 male 56 0 0 30.6958 C First man True A Cherbourg no True 175.0 175 0 3 male 18 1 1 7.8542 S Third man True Southampton no False 176.0 176 0 3 male 3 1 25.4667 S Third man True Southampton no False 177.0 177 0 1 female 50 0 0 28.7125 C First woman False C Cherbourg no True 178.0 178 0 2 male 30 0 0 13 S Second man True Southampton no True 179.0 179 0 3 male 36 0 0 0 S Third man True Southampton no True 180.0 180 0 3 female 8 2 69.55 S Third woman False Southampton no False 181.0 181 0 2 male 0 0 15.05 C Second man True Cherbourg no True 182.0 182 0 3 male 9 4 2 31.3875 S Third child False Southampton no False 183.0 183 1 2 male 1 2 1 39 S Second child False F Southampton yes False 184.0 184 1 3 female 4 0 2 22.025 S Third child False Southampton yes False 185.0 185 0 1 male 0 0 50 S First man True A Southampton no True 186.0 186 1 3 female 1 0 15.5 Q Third woman False Queenstown yes False 187.0 187 1 1 male 45 0 0 26.55 S First man True Southampton yes True 188.0 188 0 3 male 40 1 1 15.5 Q Third man True Queenstown no False 189.0 189 0 3 male 36 0 0 7.8958 S Third man True Southampton no True 190.0 190 1 2 female 32 0 0 13 S Second woman False Southampton yes True 191.0 191 0 2 male 19 0 0 13 S Second man True Southampton no True 192.0 192 1 3 female 19 1 0 7.8542 S Third woman False Southampton yes False 193.0 193 1 2 male 3 1 1 26 S Second child False F Southampton yes False 194.0 194 1 1 female 44 0 0 27.7208 C First woman False B Cherbourg yes True 195.0 195 1 1 female 58 0 0 146.5208 C First woman False B Cherbourg yes True 196.0 196 0 3 male 0 0 7.75 Q Third man True Queenstown no True 197.0 197 0 3 male 42 0 1 8.4042 S Third man True Southampton no False 198.0 198 1 3 female 0 0 7.75 Q Third woman False Queenstown yes True 199.0 199 0 2 female 24 0 0 13 S Second woman False Southampton no True 200.0 200 0 3 male 28 0 0 9.5 S Third man True Southampton no True 201.0 201 0 3 male 8 2 69.55 S Third man True Southampton no False 202.0 202 0 3 male 34 0 0 6.4958 S Third man True Southampton no True 203.0 203 0 3 male 45.5 0 0 7.225 C Third man True Cherbourg no True 204.0 204 1 3 male 18 0 0 8.05 S Third man True Southampton yes True 205.0 205 0 3 female 2 0 1 10.4625 S Third child False G Southampton no False 206.0 206 0 3 male 32 1 0 15.85 S Third man True Southampton no False 207.0 207 1 3 male 26 0 0 18.7875 C Third man True Cherbourg yes True 208.0 208 1 3 female 16 0 0 7.75 Q Third woman False Queenstown yes True 209.0 209 1 1 male 40 0 0 31 C First man True A Cherbourg yes True 210.0 210 0 3 male 24 0 0 7.05 S Third man True Southampton no True 211.0 211 1 2 female 35 0 0 21 S Second woman False Southampton yes True 212.0 212 0 3 male 22 0 0 7.25 S Third man True Southampton no True 213.0 213 0 2 male 30 0 0 13 S Second man True Southampton no True 214.0 214 0 3 male 1 0 7.75 Q Third man True Queenstown no False 215.0 215 1 1 female 31 1 0 113.275 C First woman False D Cherbourg yes False 216.0 216 1 3 female 27 0 0 7.925 S Third woman False Southampton yes True 217.0 217 0 2 male 42 1 0 27 S Second man True Southampton no False 218.0 218 1 1 female 32 0 0 76.2917 C First woman False D Cherbourg yes True 219.0 219 0 2 male 30 0 0 10.5 S Second man True Southampton no True 220.0 220 1 3 male 16 0 0 8.05 S Third man True Southampton yes True 221.0 221 0 2 male 27 0 0 13 S Second man True Southampton no True 222.0 222 0 3 male 51 0 0 8.05 S Third man True Southampton no True 223.0 223 0 3 male 0 0 7.8958 S Third man True Southampton no True 224.0 224 1 1 male 38 1 0 90 S First man True C Southampton yes False 225.0 225 0 3 male 22 0 0 9.35 S Third man True Southampton no True 226.0 226 1 2 male 19 0 0 10.5 S Second man True Southampton yes True 227.0 227 0 3 male 20.5 0 0 7.25 S Third man True Southampton no True 228.0 228 0 2 male 18 0 0 13 S Second man True Southampton no True 229.0 229 0 3 female 3 1 25.4667 S Third woman False Southampton no False 230.0 230 1 1 female 35 1 0 83.475 S First woman False C Southampton yes False 231.0 231 0 3 male 29 0 0 7.775 S Third man True Southampton no True 232.0 232 0 2 male 59 0 0 13.5 S Second man True Southampton no True 233.0 233 1 3 female 5 4 2 31.3875 S Third child False Southampton yes False 234.0 234 0 2 male 24 0 0 10.5 S Second man True Southampton no True 235.0 235 0 3 female 0 0 7.55 S Third woman False Southampton no True 236.0 236 0 2 male 44 1 0 26 S Second man True Southampton no False 237.0 237 1 2 female 8 0 2 26.25 S Second child False Southampton yes False 238.0 238 0 2 male 19 0 0 10.5 S Second man True Southampton no True 239.0 239 0 2 male 33 0 0 12.275 S Second man True Southampton no True 240.0 240 0 3 female 1 0 14.4542 C Third woman False Cherbourg no False 241.0 241 1 3 female 1 0 15.5 Q Third woman False Queenstown yes False 242.0 242 0 2 male 29 0 0 10.5 S Second man True Southampton no True 243.0 243 0 3 male 22 0 0 7.125 S Third man True Southampton no True 244.0 244 0 3 male 30 0 0 7.225 C Third man True Cherbourg no True 245.0 245 0 1 male 44 2 0 90 Q First man True C Queenstown no False 246.0 246 0 3 female 25 0 0 7.775 S Third woman False Southampton no True 247.0 247 1 2 female 24 0 2 14.5 S Second woman False Southampton yes False 248.0 248 1 1 male 37 1 1 52.5542 S First man True D Southampton yes False 249.0 249 0 2 male 54 1 0 26 S Second man True Southampton no False 250.0 250 0 3 male 0 0 7.25 S Third man True Southampton no True 251.0 251 0 3 female 29 1 1 10.4625 S Third woman False G Southampton no False 252.0 252 0 1 male 62 0 0 26.55 S First man True C Southampton no True 253.0 253 0 3 male 30 1 0 16.1 S Third man True Southampton no False 254.0 254 0 3 female 41 0 2 20.2125 S Third woman False Southampton no False 255.0 255 1 3 female 29 0 2 15.2458 C Third woman False Cherbourg yes False 256.0 256 1 1 female 0 0 79.2 C First woman False Cherbourg yes True 257.0 257 1 1 female 30 0 0 86.5 S First woman False B Southampton yes True 258.0 258 1 1 female 35 0 0 512.3292 C First woman False Cherbourg yes True 259.0 259 1 2 female 50 0 1 26 S Second woman False Southampton yes False 260.0 260 0 3 male 0 0 7.75 Q Third man True Queenstown no True 261.0 261 1 3 male 3 4 2 31.3875 S Third child False Southampton yes False 262.0 262 0 1 male 52 1 1 79.65 S First man True E Southampton no False 263.0 263 0 1 male 40 0 0 0 S First man True B Southampton no True 264.0 264 0 3 female 0 0 7.75 Q Third woman False Queenstown no True 265.0 265 0 2 male 36 0 0 10.5 S Second man True Southampton no True 266.0 266 0 3 male 16 4 1 39.6875 S Third man True Southampton no False 267.0 267 1 3 male 25 1 0 7.775 S Third man True Southampton yes False 268.0 268 1 1 female 58 0 1 153.4625 S First woman False C Southampton yes False 269.0 269 1 1 female 35 0 0 135.6333 S First woman False C Southampton yes True 270.0 270 0 1 male 0 0 31 S First man True Southampton no True 271.0 271 1 3 male 25 0 0 0 S Third man True Southampton yes True 272.0 272 1 2 female 41 0 1 19.5 S Second woman False Southampton yes False 273.0 273 0 1 male 37 0 1 29.7 C First man True C Cherbourg no False 274.0 274 1 3 female 0 0 7.75 Q Third woman False Queenstown yes True 275.0 275 1 1 female 63 1 0 77.9583 S First woman False D Southampton yes False 276.0 276 0 3 female 45 0 0 7.75 S Third woman False Southampton no True 277.0 277 0 2 male 0 0 0 S Second man True Southampton no True 278.0 278 0 3 male 7 4 1 29.125 Q Third child False Queenstown no False 279.0 279 1 3 female 35 1 1 20.25 S Third woman False Southampton yes False 280.0 280 0 3 male 65 0 0 7.75 Q Third man True Queenstown no True 281.0 281 0 3 male 28 0 0 7.8542 S Third man True Southampton no True 282.0 282 0 3 male 16 0 0 9.5 S Third man True Southampton no True 283.0 

In [110]:
# UnstructuredExcelLoader 클래스를 사용하여 Excel 파일 로드
loader = UnstructuredExcelLoader('./data/titanic.xlsx', mode='elements')  # Excel 파일 경로와 모드 지정

# Excel 파일에서 문서 내용 로드 (elements 모드)
documents_elements = loader.load()  # 로드된 문서가 documents_elements에 저장

# 로드된 문서 출력
documents_elements

[Document(metadata={'source': './data/titanic.xlsx', 'file_directory': './data', 'filename': 'titanic.xlsx', 'last_modified': '2024-10-24T12:30:02', 'page_name': 'Sheet1', 'page_number': 1, 'text_as_html': '<table><tr><td/><td>index</td><td>survived</td><td>pclass</td><td>sex</td><td>age</td><td>sibsp</td><td>parch</td><td>fare</td><td>embarked</td><td>class</td><td>who</td><td>adult_male</td><td>deck</td><td>embark_town</td><td>alive</td><td>alone</td></tr><tr><td>0.0</td><td>0</td><td>0</td><td>3</td><td>male</td><td>22</td><td>1</td><td>0</td><td>7.25</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>1.0</td><td>1</td><td>1</td><td>1</td><td>female</td><td>38</td><td>1</td><td>0</td><td>71.2833</td><td>C</td><td>First</td><td>woman</td><td>False</td><td>C</td><td>Cherbourg</td><td>yes</td><td>False</td></tr><tr><td>2.0</td><td>2</td><td>1</td><td>3</td><td>female</td><td>26</td><td>0</td><td>0</td><td>7.925</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>3.0</td><td>3</td><td>1</td><td>1</td><td>female</td><td>35</td><td>1</td><td>0</td><td>53.1</td><td>S</td><td>First</td><td>woman</td><td>False</td><td>C</td><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>4.0</td><td>4</td><td>0</td><td>3</td><td>male</td><td>35</td><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>5.0</td><td>5</td><td>0</td><td>3</td><td>male</td><td/><td>0</td><td>0</td><td>8.4583</td><td>Q</td><td>Third</td><td>man</td><td>True</td><td/><td>Queenstown</td><td>no</td><td>True</td></tr><tr><td>6.0</td><td>6</td><td>0</td><td>1</td><td>male</td><td>54</td><td>0</td><td>0</td><td>51.8625</td><td>S</td><td>First</td><td>man</td><td>True</td><td>E</td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>7.0</td><td>7</td><td>0</td><td>3</td><td>male</td><td>2</td><td>3</td><td>1</td><td>21.075</td><td>S</td><td>Third</td><td>child</td><td>False</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>8.0</td><td>8</td><td>1</td><td>3</td><td>female</td><td>27</td><td>0</td><td>2</td><td>11.1333</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>9.0</td><td>9</td><td>1</td><td>2</td><td>female</td><td>14</td><td>1</td><td>0</td><td>30.0708</td><td>C</td><td>Second</td><td>child</td><td>False</td><td/><td>Cherbourg</td><td>yes</td><td>False</td></tr><tr><td>10.0</td><td>10</td><td>1</td><td>3</td><td>female</td><td>4</td><td>1</td><td>1</td><td>16.7</td><td>S</td><td>Third</td><td>child</td><td>False</td><td>G</td><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>11.0</td><td>11</td><td>1</td><td>1</td><td>female</td><td>58</td><td>0</td><td>0</td><td>26.55</td><td>S</td><td>First</td><td>woman</td><td>False</td><td>C</td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>12.0</td><td>12</td><td>0</td><td>3</td><td>male</td><td>20</td><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>13.0</td><td>13</td><td>0</td><td>3</td><td>male</td><td>39</td><td>1</td><td>5</td><td>31.275</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>14.0</td><td>14</td><td>0</td><td>3</td><td>female</td><td>14</td><td>0</td><td>0</td><td>7.8542</td><td>S</td><td>Third</td><td>child</td><td>False</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>15.0</td><td>15</td><td>1</td><td>2</td><td>female</td><td>55</td><td>0</td><td>0</td><td>16</td><td>S</td><td>Second</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>16.0</td><td>16</td><td>0</td><td>3</td><td>male</td><td>2</td><td>4</td><td>1</td><td>29.125</td><td>Q</td><td>Third</td><td>child</td><td>False</td><td/><td>Queenstown</td><td>no</td><td>False</td></tr><tr><td>17.0</td><td>17</td><td>1</td><td>2</td><td>male</td><td/><td>0</td><td>0</td><td>13</td><td>S</td><td>Second</td><td>man</td><td>True</td><td/><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>18.0</td><td>18</td><td>0</td><td>3</td><td>female</td><td>31</td><td>1</td><td>0</td><td>18</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>19.0</td><td>19</td><td>1</td><td>3</td><td>female</td><td/><td>0</td><td>0</td><td>7.225</td><td>C</td><td>Third</td><td>woman</td><td>False</td><td/><td>Cherbourg</td><td>yes</td><td>True</td></tr><tr><td>20.0</td><td>20</td><td>0</td><td>2</td><td>male</td><td>35</td><td>0</td><td>0</td><td>26</td><td>S</td><td>Second</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>21.0</td><td>21</td><td>1</td><td>2</td><td>male</td><td>34</td><td>0</td><td>0</td><td>13</td><td>S</td><td>Second</td><td>man</td><td>True</td><td>D</td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>22.0</td><td>22</td><td>1</td><td>3</td><td>female</td><td>15</td><td>0</td><td>0</td><td>8.0292</td><td>Q</td><td>Third</td><td>child</td><td>False</td><td/><td>Queenstown</td><td>yes</td><td>True</td></tr><tr><td>23.0</td><td>23</td><td>1</td><td>1</td><td>male</td><td>28</td><td>0</td><td>0</td><td>35.5</td><td>S</td><td>First</td><td>man</td><td>True</td><td>A</td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>24.0</td><td>24</td><td>0</td><td>3</td><td>female</td><td>8</td><td>3</td><td>1</td><td>21.075</td><td>S</td><td>Third</td><td>child</td><td>False</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>25.0</td><td>25</td><td>1</td><td>3</td><td>female</td><td>38</td><td>1</td><td>5</td><td>31.3875</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>26.0</td><td>26</td><td>0</td><td>3</td><td>male</td><td/><td>0</td><td>0</td><td>7.225</td><td>C</td><td>Third</td><td>man</td><td>True</td><td/><td>Cherbourg</td><td>no</td><td>True</td></tr><tr><td>27.0</td><td>27</td><td>0</td><td>1</td><td>male</td><td>19</td><td>3</td><td>2</td><td>263</td><td>S</td><td>First</td><td>man</td><td>True</td><td>C</td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>28.0</td><td>28</td><td>1</td><td>3</td><td>female</td><td/><td>0</td><td>0</td><td>7.8792</td><td>Q</td><td>Third</td><td>woman</td><td>False</td><td/><td>Queenstown</td><td>yes</td><td>True</td></tr><tr><td>29.0</td><td>29</td><td>0</td><td>3</td><td>male</td><td/><td>0</td><td>0</td><td>7.8958</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>30.0</td><td>30</td><td>0</td><td>1</td><td>male</td><td>40</td><td>0</td><td>0</td><td>27.7208</td><td>C</td><td>First</td><td>man</td><td>True</td><td/><td>Cherbourg</td><td>no</td><td>True</td></tr><tr><td>31.0</td><td>31</td><td>1</td><td>1</td><td>female</td><td/><td>1</td><td>0</td><td>146.5208</td><td>C</td><td>First</td><td>woman</td><td>False</td><td>B</td><td>Cherbourg</td><td>yes</td><td>False</td></tr><tr><td>32.0</td><td>32</td><td>1</td><td>3</td><td>female</td><td/><td>0</td><td>0</td><td>7.75</td><td>Q</td><td>Third</td><td>woman</td><td>False</td><td/><td>Queenstown</td><td>yes</td><td>True</td></tr><tr><td>33.0</td><td>33</td><td>0</td><td>2</td><td>male</td><td>66</td><td>0</td><td>0</td><td>10.5</td><td>S</td><td>Second</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>34.0</td><td>34</td><td>0</td><td>1</td><td>male</td><td>28</td><td>1</td><td>0</td><td>82.1708</td><td>C</td><td>First</td><td>man</td><td>True</td><td/><td>Cherbourg</td><td>no</td><td>False</td></tr><tr><td>35.0</td><td>35</td><td>0</td><td>1</td><td>male</td><td>42</td><td>1</td><td>0</td><td>52</td><td>S</td><td>First</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>36.0</td><td>36</td><td>1</td><td>3</td><td>male</td><td/><td>0</td><td>0</td><td>7.2292</td><td>C</td><td>Third</td><td>man</td><td>True</td><td/><td>Cherbourg</td><td>yes</td><td>True</td></tr><tr><td>37.0</td><td>37</td><td>0</td><td>3</td><td>male</td><td>21</td><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>38.0</td><td>38</td><td>0</td><td>3</td><td>female</td><td>18</td><td>2</td><td>0</td><td>18</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>39.0</td><td>39</td><td>1</td><td>3</td><td>female</td><td>14</td><td>1</td><td>0</td><td>11.2417</td><td>C</td><td>Third</td><td>child</td><td>False</td><td/><td>Cherbourg</td><td>yes</td><td>False</td></tr><tr><td>40.0</td><td>40</td><td>0</td><td>3</td><td>female</td><td>40</td><td>1</td><td>0</td><td>9.475</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>41.0</td><td>41</td><td>0</td><td>2</td><td>female</td><td>27</td><td>1</td><td>0</td><td>21</td><td>S</td><td>Second</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>42.0</td><td>42</td><td>0</td><td>3</td><td>male</td><td/><td>0</td><td>0</td><td>7.8958</td><td>C</td><td>Third</td><td>man</td><td>True</td><td/><td>Cherbourg</td><td>no</td><td>True</td></tr><tr><td>43.0</td><td>43</td><td>1</td><td>2</td><td>female</td><td>3</td><td>1</td><td>2</td><td>41.5792</td><td>C</td><td>Second</td><td>child</td><td>False</td><td/><td>Cherbourg</td><td>yes</td><td>False</td></tr><tr><td>44.0</td><td>44</td><td>1</td><td>3</td><td>female</td><td>19</td><td>0</td><td>0</td><td>7.8792</td><td>Q</td><td>Third</td><td>woman</td><td>False</td><td/><td>Queenstown</td><td>yes</td><td>True</td></tr><tr><td>45.0</td><td>45</td><td>0</td><td>3</td><td>male</td><td/><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>46.0</td><td>46</td><td>0</td><td>3</td><td>male</td><td/><td>1</td><td>0</td><td>15.5</td><td>Q</td><td>Third</td><td>man</td><td>True</td><td/><td>Queenstown</td><td>no</td><td>False</td></tr><tr><td>47.0</td><td>47</td><td>1</td><td>3</td><td>female</td><td/><td>0</td><td>0</td><td>7.75</td><td>Q</td><td>Third</td><td>woman</td><td>False</td><td/><td>Queenstown</td><td>yes</td><td>True</td></tr><tr><td>48.0</td><td>48</td><td>0</td><td>3</td><td>male</td><td/><td>2</td><td>0</td><td>21.6792</td><td>C</td><td>Third</td><td>man</td><td>True</td><td/><td>Cherbourg</td><td>no</td><td>False</td></tr><tr><td>49.0</td><td>49</td><td>0</td><td>3</td><td>female</td><td>18</td><td>1</td><td>0</td><td>17.8</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>50.0</td><td>50</td><td>0</td><td>3</td><td>male</td><td>7</td><td>4</td><td>1</td><td>39.6875</td><td>S</td><td>Third</td><td>child</td><td>False</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>51.0</td><td>51</td><td>0</td><td>3</td><td>male</td><td>21</td><td>0</td><td>0</td><td>7.8</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>52.0</td><td>52</td><td>1</td><td>1</td><td>female</td><td>49</td><td>1</td><td>0</td><td>76.7292</td><td>C</td><td>First</td><td>woman</td><td>False</td><td>D</td><td>Cherbourg</td><td>yes</td><td>False</td></tr><tr><td>53.0</td><td>53</td><td>1</td><td>2</td><td>female</td><td>29</td><td>1</td><td>0</td><td>26</td><td>S</td><td>Second</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>54.0</td><td>54</td><td>0</td><td>1</td><td>male</td><td>65</td><td>0</td><td>1</td><td>61.9792</td><td>C</td><td>First</td><td>man</td><td>True</td><td>B</td><td>Cherbourg</td><td>no</td><td>False</td></tr><tr><td>55.0</td><td>55</td><td>1</td><td>1</td><td>male</td><td/><td>0</td><td>0</td><td>35.5</td><td>S</td><td>First</td><td>man</td><td>True</td><td>C</td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>56.0</td><td>56</td><td>1</td><td>2</td><td>female</td><td>21</td><td>0</td><td>0</td><td>10.5</td><td>S</td><td>Second</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>57.0</td><td>57</td><td>0</td><td>3</td><td>male</td><td>28.5</td><td>0</td><td>0</td><td>7.2292</td><td>C</td><td>Third</td><td>man</td><td>True</td><td/><td>Cherbourg</td><td>no</td><td>True</td></tr><tr><td>58.0</td><td>58</td><td>1</td><td>2</td><td>female</td><td>5</td><td>1</td><td>2</td><td>27.75</td><td>S</td><td>Second</td><td>child</td><td>False</td><td/><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>59.0</td><td>59</td><td>0</td><td>3</td><td>male</td><td>11</td><td>5</td><td>2</td><td>46.9</td><td>S</td><td>Third</td><td>child</td><td>False</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>60.0</td><td>60</td><td>0</td><td>3</td><td>male</td><td>22</td><td>0</td><td>0</td><td>7.2292</td><td>C</td><td>Third</td><td>man</td><td>True</td><td/><td>Cherbourg</td><td>no</td><td>True</td></tr><tr><td>61.0</td><td>61</td><td>1</td><td>1</td><td>female</td><td>38</td><td>0</td><td>0</td><td>80</td><td/><td>First</td><td>woman</td><td>False</td><td>B</td><td/><td>yes</td><td>True</td></tr><tr><td>62.0</td><td>62</td><td>0</td><td>1</td><td>male</td><td>45</td><td>1</td><td>0</td><td>83.475</td><td>S</td><td>First</td><td>man</td><td>True</td><td>C</td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>63.0</td><td>63</td><td>0</td><td>3</td><td>male</td><td>4</td><td>3</td><td>2</td><td>27.9</td><td>S</td><td>Third</td><td>child</td><td>False</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>64.0</td><td>64</td><td>0</td><td>1</td><td>male</td><td/><td>0</td><td>0</td><td>27.7208</td><td>C</td><td>First</td><td>man</td><td>True</td><td/><td>Cherbourg</td><td>no</td><td>True</td></tr><tr><td>65.0</td><td>65</td><td>1</td><td>3</td><td>male</td><td/><td>1</td><td>1</td><td>15.2458</td><td>C</td><td>Third</td><td>man</td><td>True</td><td/><td>Cherbourg</td><td>yes</td><td>False</td></tr><tr><td>66.0</td><td>66</td><td>1</td><td>2</td><td>female</td><td>29</td><td>0</td><td>0</td><td>10.5</td><td>S</td><td>Second</td><td>woman</td><td>False</td><td>F</td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>67.0</td><td>67</td><td>0</td><td>3</td><td>male</td><td>19</td><td>0</td><td>0</td><td>8.1583</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>68.0</td><td>68</td><td>1</td><td>3</td><td>female</td><td>17</td><td>4</td><td>2</td><td>7.925</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>69.0</td><td>69</td><td>0</td><td>3</td><td>male</td><td>26</td><td>2</td><td>0</td><td>8.6625</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>70.0</td><td>70</td><td>0</td><td>2</td><td>male</td><td>32</td><td>0</td><td>0</td><td>10.5</td><td>S</td><td>Second</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>71.0</td><td>71</td><td>0</td><td>3</td><td>female</td><td>16</td><td>5</td><td>2</td><td>46.9</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>72.0</td><td>72</td><td>0</td><td>2</td><td>male</td><td>21</td><td>0</td><td>0</td><td>73.5</td><td>S</td><td>Second</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>73.0</td><td>73</td><td>0</td><td>3</td><td>male</td><td>26</td><td>1</td><td>0</td><td>14.4542</td><td>C</td><td>Third</td><td>man</td><td>True</td><td/><td>Cherbourg</td><td>no</td><td>False</td></tr><tr><td>74.0</td><td>74</td><td>1</td><td>3</td><td>male</td><td>32</td><td>0</td><td>0</td><td>56.4958</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>75.0</td><td>75</td><td>0</td><td>3</td><td>male</td><td>25</td><td>0</td><td>0</td><td>7.65</td><td>S</td><td>Third</td><td>man</td><td>True</td><td>F</td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>76.0</td><td>76</td><td>0</td><td>3</td><td>male</td><td/><td>0</td><td>0</td><td>7.8958</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>77.0</td><td>77</td><td>0</td><td>3</td><td>male</td><td/><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>78.0</td><td>78</td><td>1</td><td>2</td><td>male</td><td>0.83</td><td>0</td><td>2</td><td>29</td><td>S</td><td>Second</td><td>child</td><td>False</td><td/><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>79.0</td><td>79</td><td>1</td><td>3</td><td>female</td><td>30</td><td>0</td><td>0</td><td>12.475</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>80.0</td><td>80</td><td>0</td><td>3</td><td>male</td><td>22</td><td>0</td><td>0</td><td>9</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>81.0</td><td>81</td><td>1</td><td>3</td><td>male</td><td>29</td><td>0</td><td>0</td><td>9.5</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>82.0</td><td>82</td><td>1</td><td>3</td><td>female</td><td/><td>0</td><td>0</td><td>7.7875</td><td>Q</td><td>Third</td><td>woman</td><td>False</td><td/><td>Queenstown</td><td>yes</td><td>True</td></tr><tr><td>83.0</td><td>83</td><td>0</td><td>1</td><td>male</td><td>28</td><td>0</td><td>0</td><td>47.1</td><td>S</td><td>First</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>84.0</td><td>84</td><td>1</td><td>2</td><td>female</td><td>17</td><td>0</td><td>0</td><td>10.5</td><td>S</td><td>Second</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>85.0</td><td>85</td><td>1</td><td>3</td><td>female</td><td>33</td><td>3</td><td>0</td><td>15.85</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td/><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>86.0</td><td>86</td><td>0</td><td>3</td><td>male</td><td>16</td><td>1</td><td>3</td><td>34.375</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>87.0</td><td>87</td><td>0</td><td>3</td><td>male</td><td/><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>88.0</td><td>88</td><td>1</td><td>1</td><td>female</td><td>23</td><td>3</td><td>2</td><td>263</td><td>S</td><td>First</td><td>woman</td><td>False</td><td>C</td><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>89.0</td><td>89</td><td>0</td><td>3</td><td>male</td><td>24</td><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>90.0</td><td>90</td><td>0</td><td>3</td><td>male</td><td>29</td><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>91.0</td><td>91</td><td>0</td><td>3</td><td>male</td><td>20</td><td>0</td><td>0</td><td>7.8542</td><td>S</td><td>Third</td><td>man</td><td>True</td><td/><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>92.0</td><td>92</td><td>0</td><td>1</td><td>male</td><td>46</td><td>1</td><td>0</td><td>61.175</td><td>S</td><td>First</td><td>man</td><td>True<

In [135]:
# documents_elements에서 첫 번째 문서의 HTML 텍스트를 가져와서 BeautifulSoup으로 파싱
BeautifulSoup(documents_elements[0].metadata.get('text_as_html'), 'lxml')  # lxml 파서 사용

<html><body><table><tr><td></td><td>index</td><td>survived</td><td>pclass</td><td>sex</td><td>age</td><td>sibsp</td><td>parch</td><td>fare</td><td>embarked</td><td>class</td><td>who</td><td>adult_male</td><td>deck</td><td>embark_town</td><td>alive</td><td>alone</td></tr><tr><td>0.0</td><td>0</td><td>0</td><td>3</td><td>male</td><td>22</td><td>1</td><td>0</td><td>7.25</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>1.0</td><td>1</td><td>1</td><td>1</td><td>female</td><td>38</td><td>1</td><td>0</td><td>71.2833</td><td>C</td><td>First</td><td>woman</td><td>False</td><td>C</td><td>Cherbourg</td><td>yes</td><td>False</td></tr><tr><td>2.0</td><td>2</td><td>1</td><td>3</td><td>female</td><td>26</td><td>0</td><td>0</td><td>7.925</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>3.0</td><td>3</td><td>1</td><td>1</td><td>female</td><td>35</td><td>1</td><td>0</td><td>53.1</td><td>S</td><td>First</td><td>woman</td><td>False</td><td>C</td><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>4.0</td><td>4</td><td>0</td><td>3</td><td>male</td><td>35</td><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>5.0</td><td>5</td><td>0</td><td>3</td><td>male</td><td></td><td>0</td><td>0</td><td>8.4583</td><td>Q</td><td>Third</td><td>man</td><td>True</td><td></td><td>Queenstown</td><td>no</td><td>True</td></tr><tr><td>6.0</td><td>6</td><td>0</td><td>1</td><td>male</td><td>54</td><td>0</td><td>0</td><td>51.8625</td><td>S</td><td>First</td><td>man</td><td>True</td><td>E</td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>7.0</td><td>7</td><td>0</td><td>3</td><td>male</td><td>2</td><td>3</td><td>1</td><td>21.075</td><td>S</td><td>Third</td><td>child</td><td>False</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>8.0</td><td>8</td><td>1</td><td>3</td><td>female</td><td>27</td><td>0</td><td>2</td><td>11.1333</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>9.0</td><td>9</td><td>1</td><td>2</td><td>female</td><td>14</td><td>1</td><td>0</td><td>30.0708</td><td>C</td><td>Second</td><td>child</td><td>False</td><td></td><td>Cherbourg</td><td>yes</td><td>False</td></tr><tr><td>10.0</td><td>10</td><td>1</td><td>3</td><td>female</td><td>4</td><td>1</td><td>1</td><td>16.7</td><td>S</td><td>Third</td><td>child</td><td>False</td><td>G</td><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>11.0</td><td>11</td><td>1</td><td>1</td><td>female</td><td>58</td><td>0</td><td>0</td><td>26.55</td><td>S</td><td>First</td><td>woman</td><td>False</td><td>C</td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>12.0</td><td>12</td><td>0</td><td>3</td><td>male</td><td>20</td><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>13.0</td><td>13</td><td>0</td><td>3</td><td>male</td><td>39</td><td>1</td><td>5</td><td>31.275</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>14.0</td><td>14</td><td>0</td><td>3</td><td>female</td><td>14</td><td>0</td><td>0</td><td>7.8542</td><td>S</td><td>Third</td><td>child</td><td>False</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>15.0</td><td>15</td><td>1</td><td>2</td><td>female</td><td>55</td><td>0</td><td>0</td><td>16</td><td>S</td><td>Second</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>16.0</td><td>16</td><td>0</td><td>3</td><td>male</td><td>2</td><td>4</td><td>1</td><td>29.125</td><td>Q</td><td>Third</td><td>child</td><td>False</td><td></td><td>Queenstown</td><td>no</td><td>False</td></tr><tr><td>17.0</td><td>17</td><td>1</td><td>2</td><td>male</td><td></td><td>0</td><td>0</td><td>13</td><td>S</td><td>Second</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>18.0</td><td>18</td><td>0</td><td>3</td><td>female</td><td>31</td><td>1</td><td>0</td><td>18</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>19.0</td><td>19</td><td>1</td><td>3</td><td>female</td><td></td><td>0</td><td>0</td><td>7.225</td><td>C</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Cherbourg</td><td>yes</td><td>True</td></tr><tr><td>20.0</td><td>20</td><td>0</td><td>2</td><td>male</td><td>35</td><td>0</td><td>0</td><td>26</td><td>S</td><td>Second</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>21.0</td><td>21</td><td>1</td><td>2</td><td>male</td><td>34</td><td>0</td><td>0</td><td>13</td><td>S</td><td>Second</td><td>man</td><td>True</td><td>D</td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>22.0</td><td>22</td><td>1</td><td>3</td><td>female</td><td>15</td><td>0</td><td>0</td><td>8.0292</td><td>Q</td><td>Third</td><td>child</td><td>False</td><td></td><td>Queenstown</td><td>yes</td><td>True</td></tr><tr><td>23.0</td><td>23</td><td>1</td><td>1</td><td>male</td><td>28</td><td>0</td><td>0</td><td>35.5</td><td>S</td><td>First</td><td>man</td><td>True</td><td>A</td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>24.0</td><td>24</td><td>0</td><td>3</td><td>female</td><td>8</td><td>3</td><td>1</td><td>21.075</td><td>S</td><td>Third</td><td>child</td><td>False</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>25.0</td><td>25</td><td>1</td><td>3</td><td>female</td><td>38</td><td>1</td><td>5</td><td>31.3875</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>26.0</td><td>26</td><td>0</td><td>3</td><td>male</td><td></td><td>0</td><td>0</td><td>7.225</td><td>C</td><td>Third</td><td>man</td><td>True</td><td></td><td>Cherbourg</td><td>no</td><td>True</td></tr><tr><td>27.0</td><td>27</td><td>0</td><td>1</td><td>male</td><td>19</td><td>3</td><td>2</td><td>263</td><td>S</td><td>First</td><td>man</td><td>True</td><td>C</td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>28.0</td><td>28</td><td>1</td><td>3</td><td>female</td><td></td><td>0</td><td>0</td><td>7.8792</td><td>Q</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Queenstown</td><td>yes</td><td>True</td></tr><tr><td>29.0</td><td>29</td><td>0</td><td>3</td><td>male</td><td></td><td>0</td><td>0</td><td>7.8958</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>30.0</td><td>30</td><td>0</td><td>1</td><td>male</td><td>40</td><td>0</td><td>0</td><td>27.7208</td><td>C</td><td>First</td><td>man</td><td>True</td><td></td><td>Cherbourg</td><td>no</td><td>True</td></tr><tr><td>31.0</td><td>31</td><td>1</td><td>1</td><td>female</td><td></td><td>1</td><td>0</td><td>146.5208</td><td>C</td><td>First</td><td>woman</td><td>False</td><td>B</td><td>Cherbourg</td><td>yes</td><td>False</td></tr><tr><td>32.0</td><td>32</td><td>1</td><td>3</td><td>female</td><td></td><td>0</td><td>0</td><td>7.75</td><td>Q</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Queenstown</td><td>yes</td><td>True</td></tr><tr><td>33.0</td><td>33</td><td>0</td><td>2</td><td>male</td><td>66</td><td>0</td><td>0</td><td>10.5</td><td>S</td><td>Second</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>34.0</td><td>34</td><td>0</td><td>1</td><td>male</td><td>28</td><td>1</td><td>0</td><td>82.1708</td><td>C</td><td>First</td><td>man</td><td>True</td><td></td><td>Cherbourg</td><td>no</td><td>False</td></tr><tr><td>35.0</td><td>35</td><td>0</td><td>1</td><td>male</td><td>42</td><td>1</td><td>0</td><td>52</td><td>S</td><td>First</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>36.0</td><td>36</td><td>1</td><td>3</td><td>male</td><td></td><td>0</td><td>0</td><td>7.2292</td><td>C</td><td>Third</td><td>man</td><td>True</td><td></td><td>Cherbourg</td><td>yes</td><td>True</td></tr><tr><td>37.0</td><td>37</td><td>0</td><td>3</td><td>male</td><td>21</td><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>38.0</td><td>38</td><td>0</td><td>3</td><td>female</td><td>18</td><td>2</td><td>0</td><td>18</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>39.0</td><td>39</td><td>1</td><td>3</td><td>female</td><td>14</td><td>1</td><td>0</td><td>11.2417</td><td>C</td><td>Third</td><td>child</td><td>False</td><td></td><td>Cherbourg</td><td>yes</td><td>False</td></tr><tr><td>40.0</td><td>40</td><td>0</td><td>3</td><td>female</td><td>40</td><td>1</td><td>0</td><td>9.475</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>41.0</td><td>41</td><td>0</td><td>2</td><td>female</td><td>27</td><td>1</td><td>0</td><td>21</td><td>S</td><td>Second</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>42.0</td><td>42</td><td>0</td><td>3</td><td>male</td><td></td><td>0</td><td>0</td><td>7.8958</td><td>C</td><td>Third</td><td>man</td><td>True</td><td></td><td>Cherbourg</td><td>no</td><td>True</td></tr><tr><td>43.0</td><td>43</td><td>1</td><td>2</td><td>female</td><td>3</td><td>1</td><td>2</td><td>41.5792</td><td>C</td><td>Second</td><td>child</td><td>False</td><td></td><td>Cherbourg</td><td>yes</td><td>False</td></tr><tr><td>44.0</td><td>44</td><td>1</td><td>3</td><td>female</td><td>19</td><td>0</td><td>0</td><td>7.8792</td><td>Q</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Queenstown</td><td>yes</td><td>True</td></tr><tr><td>45.0</td><td>45</td><td>0</td><td>3</td><td>male</td><td></td><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>46.0</td><td>46</td><td>0</td><td>3</td><td>male</td><td></td><td>1</td><td>0</td><td>15.5</td><td>Q</td><td>Third</td><td>man</td><td>True</td><td></td><td>Queenstown</td><td>no</td><td>False</td></tr><tr><td>47.0</td><td>47</td><td>1</td><td>3</td><td>female</td><td></td><td>0</td><td>0</td><td>7.75</td><td>Q</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Queenstown</td><td>yes</td><td>True</td></tr><tr><td>48.0</td><td>48</td><td>0</td><td>3</td><td>male</td><td></td><td>2</td><td>0</td><td>21.6792</td><td>C</td><td>Third</td><td>man</td><td>True</td><td></td><td>Cherbourg</td><td>no</td><td>False</td></tr><tr><td>49.0</td><td>49</td><td>0</td><td>3</td><td>female</td><td>18</td><td>1</td><td>0</td><td>17.8</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>50.0</td><td>50</td><td>0</td><td>3</td><td>male</td><td>7</td><td>4</td><td>1</td><td>39.6875</td><td>S</td><td>Third</td><td>child</td><td>False</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>51.0</td><td>51</td><td>0</td><td>3</td><td>male</td><td>21</td><td>0</td><td>0</td><td>7.8</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>52.0</td><td>52</td><td>1</td><td>1</td><td>female</td><td>49</td><td>1</td><td>0</td><td>76.7292</td><td>C</td><td>First</td><td>woman</td><td>False</td><td>D</td><td>Cherbourg</td><td>yes</td><td>False</td></tr><tr><td>53.0</td><td>53</td><td>1</td><td>2</td><td>female</td><td>29</td><td>1</td><td>0</td><td>26</td><td>S</td><td>Second</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>54.0</td><td>54</td><td>0</td><td>1</td><td>male</td><td>65</td><td>0</td><td>1</td><td>61.9792</td><td>C</td><td>First</td><td>man</td><td>True</td><td>B</td><td>Cherbourg</td><td>no</td><td>False</td></tr><tr><td>55.0</td><td>55</td><td>1</td><td>1</td><td>male</td><td></td><td>0</td><td>0</td><td>35.5</td><td>S</td><td>First</td><td>man</td><td>True</td><td>C</td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>56.0</td><td>56</td><td>1</td><td>2</td><td>female</td><td>21</td><td>0</td><td>0</td><td>10.5</td><td>S</td><td>Second</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>57.0</td><td>57</td><td>0</td><td>3</td><td>male</td><td>28.5</td><td>0</td><td>0</td><td>7.2292</td><td>C</td><td>Third</td><td>man</td><td>True</td><td></td><td>Cherbourg</td><td>no</td><td>True</td></tr><tr><td>58.0</td><td>58</td><td>1</td><td>2</td><td>female</td><td>5</td><td>1</td><td>2</td><td>27.75</td><td>S</td><td>Second</td><td>child</td><td>False</td><td></td><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>59.0</td><td>59</td><td>0</td><td>3</td><td>male</td><td>11</td><td>5</td><td>2</td><td>46.9</td><td>S</td><td>Third</td><td>child</td><td>False</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>60.0</td><td>60</td><td>0</td><td>3</td><td>male</td><td>22</td><td>0</td><td>0</td><td>7.2292</td><td>C</td><td>Third</td><td>man</td><td>True</td><td></td><td>Cherbourg</td><td>no</td><td>True</td></tr><tr><td>61.0</td><td>61</td><td>1</td><td>1</td><td>female</td><td>38</td><td>0</td><td>0</td><td>80</td><td></td><td>First</td><td>woman</td><td>False</td><td>B</td><td></td><td>yes</td><td>True</td></tr><tr><td>62.0</td><td>62</td><td>0</td><td>1</td><td>male</td><td>45</td><td>1</td><td>0</td><td>83.475</td><td>S</td><td>First</td><td>man</td><td>True</td><td>C</td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>63.0</td><td>63</td><td>0</td><td>3</td><td>male</td><td>4</td><td>3</td><td>2</td><td>27.9</td><td>S</td><td>Third</td><td>child</td><td>False</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>64.0</td><td>64</td><td>0</td><td>1</td><td>male</td><td></td><td>0</td><td>0</td><td>27.7208</td><td>C</td><td>First</td><td>man</td><td>True</td><td></td><td>Cherbourg</td><td>no</td><td>True</td></tr><tr><td>65.0</td><td>65</td><td>1</td><td>3</td><td>male</td><td></td><td>1</td><td>1</td><td>15.2458</td><td>C</td><td>Third</td><td>man</td><td>True</td><td></td><td>Cherbourg</td><td>yes</td><td>False</td></tr><tr><td>66.0</td><td>66</td><td>1</td><td>2</td><td>female</td><td>29</td><td>0</td><td>0</td><td>10.5</td><td>S</td><td>Second</td><td>woman</td><td>False</td><td>F</td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>67.0</td><td>67</td><td>0</td><td>3</td><td>male</td><td>19</td><td>0</td><td>0</td><td>8.1583</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>68.0</td><td>68</td><td>1</td><td>3</td><td>female</td><td>17</td><td>4</td><td>2</td><td>7.925</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>69.0</td><td>69</td><td>0</td><td>3</td><td>male</td><td>26</td><td>2</td><td>0</td><td>8.6625</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>70.0</td><td>70</td><td>0</td><td>2</td><td>male</td><td>32</td><td>0</td><td>0</td><td>10.5</td><td>S</td><td>Second</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>71.0</td><td>71</td><td>0</td><td>3</td><td>female</td><td>16</td><td>5</td><td>2</td><td>46.9</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>72.0</td><td>72</td><td>0</td><td>2</td><td>male</td><td>21</td><td>0</td><td>0</td><td>73.5</td><td>S</td><td>Second</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>73.0</td><td>73</td><td>0</td><td>3</td><td>male</td><td>26</td><td>1</td><td>0</td><td>14.4542</td><td>C</td><td>Third</td><td>man</td><td>True</td><td></td><td>Cherbourg</td><td>no</td><td>False</td></tr><tr><td>74.0</td><td>74</td><td>1</td><td>3</td><td>male</td><td>32</td><td>0</td><td>0</td><td>56.4958</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>75.0</td><td>75</td><td>0</td><td>3</td><td>male</td><td>25</td><td>0</td><td>0</td><td>7.65</td><td>S</td><td>Third</td><td>man</td><td>True</td><td>F</td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>76.0</td><td>76</td><td>0</td><td>3</td><td>male</td><td></td><td>0</td><td>0</td><td>7.8958</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>77.0</td><td>77</td><td>0</td><td>3</td><td>male</td><td></td><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>78.0</td><td>78</td><td>1</td><td>2</td><td>male</td><td>0.83</td><td>0</td><td>2</td><td>29</td><td>S</td><td>Second</td><td>child</td><td>False</td><td></td><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>79.0</td><td>79</td><td>1</td><td>3</td><td>female</td><td>30</td><td>0</td><td>0</td><td>12.475</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>80.0</td><td>80</td><td>0</td><td>3</td><td>male</td><td>22</td><td>0</td><td>0</td><td>9</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>81.0</td><td>81</td><td>1</td><td>3</td><td>male</td><td>29</td><td>0</td><td>0</td><td>9.5</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>82.0</td><td>82</td><td>1</td><td>3</td><td>female</td><td></td><td>0</td><td>0</td><td>7.7875</td><td>Q</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Queenstown</td><td>yes</td><td>True</td></tr><tr><td>83.0</td><td>83</td><td>0</td><td>1</td><td>male</td><td>28</td><td>0</td><td>0</td><td>47.1</td><td>S</td><td>First</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>84.0</td><td>84</td><td>1</td><td>2</td><td>female</td><td>17</td><td>0</td><td>0</td><td>10.5</td><td>S</td><td>Second</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>yes</td><td>True</td></tr><tr><td>85.0</td><td>85</td><td>1</td><td>3</td><td>female</td><td>33</td><td>3</td><td>0</td><td>15.85</td><td>S</td><td>Third</td><td>woman</td><td>False</td><td></td><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>86.0</td><td>86</td><td>0</td><td>3</td><td>male</td><td>16</td><td>1</td><td>3</td><td>34.375</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>False</td></tr><tr><td>87.0</td><td>87</td><td>0</td><td>3</td><td>male</td><td></td><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>88.0</td><td>88</td><td>1</td><td>1</td><td>female</td><td>23</td><td>3</td><td>2</td><td>263</td><td>S</td><td>First</td><td>woman</td><td>False</td><td>C</td><td>Southampton</td><td>yes</td><td>False</td></tr><tr><td>89.0</td><td>89</td><td>0</td><td>3</td><td>male</td><td>24</td><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>90.0</td><td>90</td><td>0</td><td>3</td><td>male</td><td>29</td><td>0</td><td>0</td><td>8.05</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td><td>Southampton</td><td>no</td><td>True</td></tr><tr><td>91.0</td><td>91</td><td>0</td><td>3</td><td>male</td><td>20</td><td>0</td><td>0</td><td>7.8542</td><td>S</td><td>Third</td><td>man</td><td>True</td><td></td>

#### Word

word 파일을 읽기 위한 방법. <br>

<br>

> ```python
> loader = Docx2txtLoader(<path>)
> loader.load()
>
> # Unstructured
> loader = UnstructuredWordDocumentLoader(<path>, mode='elements')
> loader.load() # 로드
> ```

#### PowerPoint

ppt 파일을 읽기 위한 방법. <br>

<br>

> ```python
> loader = UnstructuredPowerPointLoader(<path>, mode='elements')
> loader.load() # 로드
> ```

In [136]:
# UnstructuredPowerPointLoader 클래스를 사용하여 PowerPoint 파일 로드
loader = UnstructuredPowerPointLoader('./data/231129_안재한.pptx')  # PowerPoint 파일 경로 지정

# PowerPoint 파일에서 문서 내용 로드
documents = loader.load()  # 로드된 문서가 documents 변수에 저장

# 로드된 문서 출력
documents

In [139]:
documents[0].page_content

'Fast Feedforward Networks\n\n23-11-29\n\nJaehan Ahn\n\nInformation & Intelligence System Lab.\n\nSungkyunkwan University\n\narXiv (https://arxiv.org/abs/2308.14711v2)\n\n\n\nBackgrounds\n\n\n\nProposed Method\n\n\n\nProposed Method\n\nTrain\n\nInference\n\n\n\nProposed Method\n\n\n\nProblems\n\nOverfragmentation\n\nLocalized overfitting\n\nWhen node is too hardened before leaf is trained enough\n\n-> Randomized child transposition\n\nshrinking batch problem\n\nWhen the batch size is too small, each leaf receives gradient from small fraction of data\n\nGradient descent becomes unstable and inaccurate\n\n-> Large batch size, gradient accumulation, smaller learning rate\n\n\n\nComplexity\n\n\n\nExperiments (accuracy and speedup)\n\nTotal width\n\ntrain\n\ntest\n\ntrain\n\ntest\n\ntrain\n\ntest\n\ntrain\n\ntest\n\n\n\nExperiments (same inference budget)\n\ntrain\n\ntest\n\nInference size(leaf+node)->\n\nVanilla FF\n\n\n\nExperiments (epochs to achieve accuracy)\n\nRequired Epoch\n\n\n\nExperiments\n\nBERT-base layer (768-32-768)*n\n\nBlocks/Experts/Leaves\n\n\n\nExperiments\n\n4 layer ViT\n\n\n\nMore Applications\n\nExponentially Faster Language Modeling (Belcak and Wattenhofer, 21 Nov 2023)\n\n\n\nOpinions\n\n추론에 한해 극단적인 경량화가 가능\n\n파편화된 각각의 가중치들이 분할된 입력공간과 직접적으로 대응되므로\x0b경량화 외적인 측면에서의 활용가능성이 보임\n\n학습된 노드만 가지고 데이터에 트리 기반 클러스터링을 적용한다거나 하는 것도 가능할 듯\n\n제안 기법을 이용하면 이론적으로는 지수적 이득을 볼 수 있지만\x0b범용 GPU는 대규모 dense 연산에 최적화되어 실제로는 인덱싱 오버헤드가 존재할 것\n\n성능 비교에서 베이스라인들은 비교적 덜 최적화 된 버전의 연산을 사용함\n\n후속 논문에서 언급하기로 가장 최적화된 버전의 BMM 구현과 비교하면 3.15x 정도\n\n아키텍처에 맞는 cuda커널 or 하드웨어가 나온다면 LLM의 서비스 비용이 대폭 낮아질 듯'

In [140]:
# UnstructuredPowerPointLoader 클래스를 사용하여 PowerPoint 파일 로드
loader = UnstructuredPowerPointLoader('./data/231129_안재한.pptx', mode='elements')  # PowerPoint 파일 경로와 모드 지정

# PowerPoint 파일에서 문서 내용을 로드 (elements 모드)
documents = loader.load()  # 로드된 문서가 documents 변수에 저장

# 로드된 문서 출력
documents

In [157]:
# 1페이지에 있는 내용 결합
# -> 페이지 단위로 결합
'\n'.join([document.page_content for document in documents if document.metadata.get('page_number')==1])

'Fast Feedforward Networks\n23-11-29\nJaehan Ahn\nInformation & Intelligence System Lab.\nSungkyunkwan University\narXiv (https://arxiv.org/abs/2308.14711v2)\n'

In [162]:
# 페이지별로 문서 내용을 결합할 딕셔너리 초기화
joined_documents = {}

# 문서의 총 페이지 수를 기준으로 반복
for page in range(1, documents[-1].metadata.get('page_number') + 1):
    # 각 페이지에 해당하는 문서 내용을 결합
    joined_documents.update({
        page: '\n'.join(
            [document.page_content  # 문서의 페이지 내용을 가져옴
            for document in documents
            if document.metadata.get('page_number') == page  # 현재 페이지와 일치하는 문서 필터링
            ]
        )
    })

# 결합된 문서 출력
print(joined_documents)

#### WebBaseLoader

웹 문서 로드 <br>

bs4.SoupStrainer 를 사용하여 파싱할 요소를 지정. <br>
bs_kwargs를 사용하여 bs4.SoupStrainer의 인수 지정. <br>

<br>

> ```python
> loader = WebBaseLoader(
>     web_paths=[
>         <url1>,
>         <url2>,
>     ],
>     bs_kwargs=dict(
>         parse_only=bs4.SoupStrainer(
>             'div',
>             attrs={'class': ['newsct_article _article_body', 'media_end_head_title']},
>         )
>     ),
>     header_template={
>         'User-Agent': 'Mozilla/5.0',
>     },
>     proxies={   # ip 차단 우회를 위해 사용
>         <proxy1>,
>         <proxy2>,
>     }
> )
> 
> loader.requests_kwargs = {"verify": False}  # ssl 인증 우회
> docs = loader.load()
> 
> # 비동기
> nest_asyncio.apply()    # notebook에서만 실행
> loader.requests_per_second = 1
> docs = loader.load()
> ```

In [177]:
from langchain.document_loaders import WebBaseLoader
import bs4

# 웹 페이지 로더 초기화
loader = WebBaseLoader(
    web_paths=[
        'https://n.news.naver.com/article/055/0001200190?cds=news_media_pc&type=breakingnews',
        'https://n.news.naver.com/mnews/article/421/0007865604',
        'https://n.news.naver.com/mnews/article/014/0005257877',
        'https://n.news.naver.com/mnews/article/003/0012861683',
        'https://n.news.naver.com/mnews/article/001/0015004146',
        'https://n.news.naver.com/mnews/article/018/0005867017',
        'https://n.news.naver.com/mnews/article/014/0005257868',
        'https://n.news.naver.com/mnews/article/015/0005048418',
        'https://n.news.naver.com/mnews/article/009/0005384689',
        'https://n.news.naver.com/mnews/article/031/0000879056',
        'https://n.news.naver.com/mnews/article/015/0005048416',
    ],
    bs_kwargs=dict(
        parse_only=bs4.SoupStrainer(
            'div',  # 'div' 태그를 파싱
            attrs={'class': ['media_end_head_title', 'newsct_article _article_body']}  # 특정 클래스에 해당하는 요소만 선택
        )
    ),
    header_template={
        'User-Agent': 'Mozilla/5.0'  # HTTP 요청 시 사용자 에이전트 헤더 설정
    }
)

# 웹 페이지에서 문서 내용 로드
documents = loader.load()

# 로드된 문서 출력
documents

[Document(metadata={'source': 'https://n.news.naver.com/article/055/0001200190?cds=news_media_pc&type=breakingnews'}, page_content='\n[속보] LG전자 3분기 영업이익 20.9% 감소…매출은 최대\n\n\n\n\n\n\n▲ 서울 영등포구 여의도 LG전자 사옥\n\nLG전자가 올해 3분기 물류비 인상 등의 영향으로 영업이익이 20%가량 감소했습니다.\n\n다만 사업 포트폴리오 고도화로 매출 성장세를 이어가며 매출은 3분기 기준 최대치를 기록했습니다.\n\nLG전자는 연결 기준 올해 3분기 영업이익이 7,519억 원으로, 지난해 같은 기간보다 20.9% 감소한 것으로 잠정 집계됐다고 공시했습니다.\n\n이는 시장 전망치 9,686억 원을 22.4% 밑도는 수준입니다.\n\n매출은 22조 1,764억 원으로 지난해 동기 대비 10.7% 증가했습니다.\n\n순이익은 902억 원으로 81.4% 줄었습니다.\n\n역대 3분기 실적과 비교하면 매출은 최대치, 영업이익은 4번째로 높은 수치입니다.\n\n기업간거래(B2B) 사업 가속화 등 포트폴리오 고도화를 통해 4개 분기 연속 전년 대비 매출이 성장했습니다.\n\n다만 중동 지역의 지정학적 분쟁, 미국의 대중국 관세 인상 등의 여파로 글로벌 해상 운임이 상승하면서 수익성에 영향을 끼쳤습니다.\n\n사업부별로 보면 생활가전을 맡은 H&A사업본부의 경우 3분기 매출액은 지난해 대비 11.7% 증가한 8조 3,376억 원, 영업이익은 5.5% 증가한 5,272억 원을 기록했습니다.\n\n글로벌 가전 수요 회복 지연에도 B2B 냉난방공조 사업과 가전구독 사업의 빠른 성장이 매출 확대를 이끌었습니다.\n\n연결 영업이익의 70%가 생활가전에서 나왔습니다.\n\nTV 사업을 담당하는 HE사업본부는 3분기 매출액 3조 7,473억 원, 영업이익 494억 원을 기록했습니다.\n\n매출은 올레드 TV 주요 시장인 유럽 지역의 출하량 증가에 힘입어 지난해 대비 5.2% 늘었습니다.\n\n전장 사업을 맡은 VS사업본부의 3분기 매출은 2조 6,113억 원으로 지난해보다 성장세를 유지했지만 전기차 수요 둔화로 전 분기보다는 소폭 줄었습니다.\n\n영업이익은 11억 원이었습니다.\n\n(사진=연합뉴스)\n\t\t\n'),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/421/0007865604'}, page_content='\n"반도체 장비사 엑시콘, 고객사 투자 줄어 적자 전환"[줌인e종목]\n\n\n[스몰캡]한국IR협 "HBM에 투자 몰려…135억 적자 전망"수요 증가로 내년부터 \'흑자 전환\'…"매출 \'147%\' 오를 것"\n\n\n\n윤진식 한국무역협회(KITA) 회장(오른쪽)이 6일 경기도 판교 테크노밸리 반도체 테스트 장비 전문 기업 엑시콘을 방문, 최명배 대표와 기념촬영을 하고 있다. (한국무역협회 제공) 2024.3.6/뉴스1(서울=뉴스1) 장시온 기자 = 반도체 후공정 검사장비 업체 엑시콘(092870)이 올해 고객사 투자가 줄면서 전년 대비 실적이 나빠질 것이라는 전망이 나왔다. 하반기에 일부 개선되기는 하지만 본격적인 실적 반등은 내년부터 나타날 것이란 분석이다.한국IR협의회 리서치센터(이하 한국IR협)는 24일 기업보고서를 내고 이같이 밝혔다. 박성순 한국IR협 연구원은 "엑시콘의 올해 매출액은 전년 대비 51.5% 감소한 399억 원을 기록할 전망"이라며 "영업손실도 135억 원으로 적자 전환이 예상된다"고 밝혔다.작년 하반기부터 고객사가 후공정 투자를 축소하고 고대역폭 메모리(HBM)에 투자를 집중하고 있다는 설명이다. 엑시콘은 디램(DRAM) 메모리 테스터, 솔리드스테이트드라이브(SSD) 테스터, 번인(Burn-in) 테스터 등을 제조하고 있다. 상반기 기준 SSD 테스터에서 54.1%, 메모리 테스터에서 31.6%의 매출을 올리고 있으며 주요 고객사는 삼성전자다.본격적인 실적 반등은 2025년부터 나타날 것으로 보인다. 내년 매출액이 전년 대비 147.2% 오른 986억 원을 기록하고 영업이익도 101억 원으로 흑자 전환할 것이란 전망이다.박 연구원은 "SSD 테스터는 하반기부터 6세대(Gen6)에 대한 투자가 발생할 것으로 예상되고 내년 하반기에는 고객사의 컴퓨트익스프레스링크(CXL) 테스터 수요도 일부 발생할 것으로 보인다"고 설명했다.메모리 테스터 점유율 확대가 예상되고 반도체 경쟁력 평가 도구(CLT) 장비 수요도 커질 것이란 전망이다. 박 연구원은 "더블데이터레이트(DDR)5향 DRAM Burn-in 테스터 투자 재개로 점유율이 오를 전망"이라며 "기존 일본 CLT 장비가 노후화되고 DDR5로의 전환이 이뤄지며 신규 장비에 대한 수요도 증가할 것"이라고 내다봤다.\n\t\t\n'),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/014/0005257877'}, page_content='\n비트코인, 트럼프 때문에 \'오르고\' vs 트럼프 때문에 \'떨어지고\' [코인브리핑]\n\n\n\n\n\n\n지난 8월 뉴저지주 베드민스터에 있는 트럼프 내셔널 골프클럽에서 미국 공화당 대선 후보인 도널드 트럼프 전 대통령이 기자회견을 마친 뒤 자신의 귀에 손을 대고 취재진의 질문을 듣고 있다. 연합뉴스 제공 [파이낸셜뉴스] \'트럼프 수혜주\' 비트코인의 가격이 롤러코스터를 타고 있다. 도널드 트럼프 공화당 후보의 당선 가능성이 높아지면서 다양한 나비효과를 내고 있기 때문이다.     트럼프의 적은 트럼프?...\'親코인 정책\' vs \'국채금리 상승\'   24일 코인시황 플랫폼 코인마켓캡에 따르면 오후 2시 기준 비트코인의 가격은 9280만7014원을 가리키고 있다. 지난 21일 9500만원선을 돌파했던 비트코인은 이날 오전 9000만원선까지 밀리기도 했다.   비트코인에 이어 시가총액 2위 가상자산 이더리움의 가격 움직임도 비슷하다. 지난 21일 378만원대까지 올랐던 이더리움은 이날 오전 342만원까지 하락했다. 이날 오후 2시에는 351만8021원으로 회복세를 보였다.   이날 가상자산시장의 조정세는 미국 국채금리의 상승에 의한 것으로 분석된다. 10년 만기 미 국채금리는 기준금리 인하로 지난 달 16일 3.618%까지 떨어졌다. 그러나 다시 가파르게 오르기 시작해 이달 23일(현지시간) 4.242%까지 올랐다.   시장은 사흘 연속 약세를 기록했다. 추가 상승 재료가 부재한 상황에서 미국 국채금리까지 급등하며 발목이 잡힌 것이다. 대장주 비트코인은 지난 21일 9400만원대까지 치솟으며 1억원 돌파에 가까워졌으나, 현재는 해당 가격 대비 4% 넘게 빠졌다. 이는 7월 말이 최대치이다.   미 국채금리가 다시 오르는 이유는 크게 2가지로 분석된다. 미 연방준비제도(Fed)의 금리인하 행보가 미뤄질 수 있다는 우려와 보호 무역을 강조하는 도널드 트럼프 공화당 후보의 당선 가능성이 높아졌기 때문이다.   iM증권 이상헌 연구원은 "최근 트럼프가 당선될 것이라는 가능성에 베팅하는 수요가 늘면서 10년물 국채금리가 4.2%까지 올랐다"라며 "금리가 오르는 배경에는 트럼프가 당선될 경우 수출에서 관세를 올리게 될 것이라는 우려가 커졌기 때문"이라고 설명했다.   \'친(親) 가상자산\' 후보인 트럼프의 당선 가능성이 비트코인을 9500만원까지 올렸지만, \'보호 무역\'과 \'관세\'를 강조하는 트럼프의 당선 가능성이 국채 금리를 올려 비트코인의 가격 상승을 누르고 있는 역설적인 상황이 펼쳐진 셈이다.     단기 조정은 있지만...옵션시장은 "비트코인 1.1억 간다"   그러나 시장에선 코인시장의 강세에 초점을 맞추고 있다. 외신에 따르면 비트코인 옵션 시장에선 콜옵션 투자자들이 다음 달 29일 만기인 비트코인 콜옵션의 행사가격이 8만달러 부근에 집중돼 있다. 콜옵션 투자자들 사이에선 다음 달 말이면 비트코인이 8만달러(약 1억1030만원)에 도달할 것이란 전망이 확산한 것이다. 콜옵션은 특정 시점 안에 미리 정해진 가격에 자산을 매수할 수 있는 권리를 말한다.   8만달러는 글로벌 가격 기준 올해 3월 기록했던 사상 최고가 7만3800달러(약 1억180만원)보다 10%가량 더 높은 가격이다. 결국 옵션 시장에선 비트코인이 다음 달 말 사상 최고가를 경신할 가능성을 제기한 것이다.   다만 미국 대선을 2주 앞두고 단기 조정이 이어질 수 있다는 분석이 나왔다.   가상자산 커스터디 기업 코퍼는 보고서를 통해 "온체인 지표가 시장 과열 징후를 나타내고 있다"며 "비트코인 월렛 주소의 98%가 현재 수익 상태다. 역사적으로 이 비율이 상승하면(최근 75%) 수익 확보를 원하는 투자자로 인해 매도 압박이 종종 발생한다"고 전했다.   이어 "이는 비트코인이 단기 정점에 가까워지고 있다는 신호로 해석할 수 있다"며 "미국 대선을 앞두고 가격 정점에 단기 도달한 것으로 보인다"고 설명했다.\n\t\t\n'),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/003/0012861683'}, page_content='\n안덕근 "전기료 인상, 다음 세대에 책임 떠넘기지 않을 것"\n\n\n산업장관, 국회 산중위 종합국감 주호영 질의에 답변"제 때 승인 안 한 책임" 지적에 "누군가 궂은일 해야"\n\n\n\n[서울=뉴시스] 조성봉 기자 = 안덕근 산업통상자원부 장관이 7일 오전 서울 여의도 국회에서 열린 산업통상자원중소벤처기업위원회의 산업통상자원부에 대한 국정감사에서 의원들의 질의에 답변하고 있다. 2024.10.07. suncho21@newsis.com[세종=뉴시스]이승주 여동준 손차민 기자 = 안덕근 산업통상자원부 장관은 24일 한국전력 등 에너지공기업 재무상태를 개선하기 위해 전기요금 현실화가 필요하다는 지적에 "이번 정부 내에 저희가 할 바는 꼭 다 해서 다음 세대에 책임을 떠넘기지 않도록 최선을 다하겠다"고 밝혔다.안덕근 산업부 장관은 이날 오전 국회 산업통상중소벤처기업위원회 종합 국정감사에서 주호영 국민의힘 의원이 "누군가는 궂은 일을 하지 않으면 안 된다"는 말에 이같이 답했다.주호영 의원이 "에너지 공기업 재무상태를 보니 어느 기업 하나 온전한 게 없어 걱정이 많다. 한전의 부채는 202조원으로 연 이자만 5조원, 석유공사는 자본잠식 부채가 19조원"이라며 "이대로 두면 에너지 산업 전체가 우려된다"고 말했다.주 의원은 "원인은 여럿이겠지만 전기요금을 제 때 승인하지 않은 산업부에 책임이 많다"며 "한전이 (부채를 해소하기 위해) 자구 노력을 한다는데 그것도 필요하지만 \'언 발에 오줌누기\'다. 요금 정상화를 하지 않으면 해결하기 어렵다"고 지적했다.\n\n\n\n[서울=뉴시스] 조성봉 기자 = 안덕근 산업통상자원부 장관이 7일 오전 서울 여의도 국회에서 열린 산업통상자원중소벤처기업위원회의 산업통상자원부에 대한 국정감사에서 의원들의 질의에 답변하고 있다. 2024.10.07. suncho21@newsis.com그러면서 "전기요금이 국민 생활과 연관된 문제다 보니 선거 때마다 제대로 올리지 않아 이런 괴리가 생긴 것"이라며 "이 정부가 맡은 몫 만이라도 제대로 가도록 해야지, 부채 202조가 사실은 \'눈 가리고 아웅\'하는 것이지 사실 국가 부채나 마찬가지 아니겠나"라고 질타했다. 이에 안 장관은 "명심하겠다. 최선을 다하겠다"고 답했다.주 의원은 "구체적인 계획과 목표를 세우고 이번 정부 내에서 어느 정도 (올리겠다) 발표를 해야지, 그때 그때 마다 임시로 요금을 올리겠다 해서 해결될 문제가 아니다"라고 했다.이에 안 장관은 "지금 국내외 경제 상황이 불확실한 부분이 많다"며 "의원님 말처럼 먼저 (목표치를) 알려줘서 시장이 준비할 기간을 주는 게 맞긴 한데, 그런 부분이 있다"고 답했다. 주 의원은 "공기업 재무 정상화를 제대로 실천해주길 바란다"고 당부했다.\n\n'),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/001/0015004146'}, page_content="\n[2보] LG전자, 3분기 영업익 20.9% 감소…매출은 3분기 최대\n\n\n\n\n\n\n서울 여의도 LG전자 사옥[연합뉴스 자료사진](서울=연합뉴스) 장하나 기자 = LG전자가 올해 3분기 물류비 인상 등의 여파로 영업이익이 20%가량 감소했다. 다만 사업 포트폴리오 고도화로 매출 성장세를 이어가며 매출은 3분기 기준 최대치를 기록했다.     LG전자는 연결 기준 올해 3분기 영업이익이 7천519억원으로 지난해 동기보다 20.9% 감소한 것으로 잠정 집계됐다고 24일 공시했다.    이번 영업이익은 연합인포맥스가 집계한 시장 전망치 9천686억원을 22.4% 밑도는 수준이다.    매출은 22조1천764억원으로 작년 동기 대비 10.7% 증가했다. 순이익은 902억원으로 81.4% 줄었다.    역대 3분기 실적과 비교하면 매출은 최대치, 영업이익은 4번째로 높은 수치다.     기업간거래(B2B) 사업 가속화 등 포트폴리오 고도화를 통해 4개 분기 연속으로 전년 동기 대비 매출이 성장했다.    다만 중동 지역의 지정학적 분쟁, 미국의 대중국 관세 인상 등의 여파로 글로벌 해상 운임이 상승하며 수익성에 영향을 끼쳤다.    사업부별로 보면 생활가전을 맡은 H&A사업본부의 경우 3분기 매출액은 전년 동기 대비 11.7% 증가한 8조3천376억원, 영업이익은 5.5% 증가한 5천272억원을 기록했다.     글로벌 가전 수요 회복 지연에도 B2B 냉난방공조(HVAC) 사업과 가전구독 사업의 빠른 성장이 매출 확대를 견인했다. 연결 영업이익의 70%가 생활가전에서 나오며 '가전은 LG' 공식을 재확인했다.     TV 사업을 담당하는 HE사업본부는 3분기 매출액 3조7천473억원, 영업이익 494억원을 기록했다. 매출은 올레드 TV 주요 시장인 유럽 지역의 출하량 증가에 힘입어 전년 동기 대비 5.2% 늘었다.     전장 사업을 맡은 VS사업본부의 3분기 매출은 2조6천113억원으로 전년 동기 대비 성장세를 유지했으나 전기차 수요 둔화로 전 분기보다는 소폭 줄었다. 영업이익은 11억원에 그쳤다.    BS사업본부는 3분기 매출액 1조3천989억원, 영업손실 769억원을 기록했다. 신사업 육성을 위한 투자 등으로 영업손실 규모가 늘었다.    hanajjang@yna.co.kr\n\n"),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/018/0005867017'}, page_content='\n코스닥, 외국인·기관 순매도에 1%대 약세…740선 깨져\n\n\n외국인·기관 ‘순매도’…개인 홀로 순매수 유지“고금리 지속·美 주식시장 조정 등 투심 위축”업종별 대체로 약세…의료·정밀기기 등 2%대↓시총 상위 약세…‘매수 경쟁 기대’ 영풍정밀 상한가[이데일리 박순엽 기자] 코스닥 지수가 외국인과 기관 투자자의 순매도세가 이어지면서 1%대 약세를 나타내고 있다. 24일 엠피닥터에 따르면 코스닥 지수는 이날 오후 2시 1분 현재 전 거래일 대비 8.30포인트(1.11%) 내린 736.89에 거래되고 있다. 코스닥 시장에선 외국인과 기관 투자자가 각각 923억원, 889억원치를 순매도하고 있으며, 개인 투자자가 홀로 1943억원 규모를 순매수하고 있다. 프로그램별로는 차익과 비차익을 합쳐 1094억원 매도 우위를 나타내고 있다. \n\n\n\n증권가에선 코스닥 지수가 고금리 지속과 미국 주식시장 조정에 투자심리가 위축되면서 전일 상승 폭을 반납하고 있다고 평가했다. 이재원 신한투자증권 연구원은 “외국인과 기관 투자자가 순매도로 전환하면서 대형주 위주의 약세가 나타나고 있다”며 “테슬라와 SK하이닉스의 실적 호조에도 미국 주식시장 조정 영향에 내림세를 보이고 있다”고 설명했다. 이날 코스닥 시장에선 업종별 대체로 약세를 나타내고 있다. 그중 의료·정밀기기(-2.12%), 일반전기전자(-1.86%), 출판·매체복제(-1.65%) 등의 하락 폭이 크게 나타나고 있다. 반면, 금융(-1.49%), 화학(-1.45%) 등의 업종도 약세다. 시가총액 상위종목은 대체로 약세를 나타내고 있다. 에코프로비엠(247540)은 전 거래일 대비 4800원(2.96%) 내린 15만 7400원을 가리키고 있고, 같은 시간 에코프로(086520) 역시 1500원(1.88%) 하락한 7만 8500원을 나타내고 있다. HLB(028300)와 엔켐(348370)도 각각 3.08%, 1.37% 내리고 있다. 반면, 알테오젠(196170)은 전 거래일 대비 6500원(0.26%) 상승한 38만 7000원을 나타내고 있고, 리가켐바이오(141080) 역시 2500원(1.95%) 오른 13만 400원을 기록하고 있다. 또 영풍정밀(036560)은 고려아연의 경영권 분쟁 속 장내 매수 경쟁 기대감이 반영되면서 전 거래일 대비 6000원(30.00%) 오른 2만 6000원을 가리키고 있다. 영풍정밀은 고려아연 지분을 1.85% 보유해 고려아연 경영권 분쟁의 캐스팅보트 역할을 하고 있다. 한편, 이날 코스닥 시장에 처음 상장한 씨메스(475400)는 공모가(3만원) 대비 4300원(14.33%) 내린 2만 5700원에 거래되고 있다. 씨메스는 장 초반엔 24.83%까지 오르기도 했으나 이후 매도 물량이 나오면서 약세 전환했다.\n\n'),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/014/0005257868'}, page_content='\n상업용 부동산 레고랜드 충격 잊었다[fn마켓워치]\n\n\n3분기 누적 6조6684억..2022년 1분기 후 최대 규모 \n\n\n\nCBRE코리아 제공 [파이낸셜뉴스] 상업용 부동산 투자 시장이 2022년 10월 레고랜드 사태(강원중도개발공사 회생 신청)의 충격을 잊었다.   글로벌 최대 종합 부동산 서비스 기업 CBRE코리아는 2024년 3·4분기 상업용 부동산 투자 시장 규모가 전 분기 대비 43% 증가한 6조6684억원을 기록했다고 24일 밝혔다. 2022년 1·4분기(약 7조4000억원) 이후 상업용 부동산 분기 거래 규모 중 최대 규모다.   2024년 3·4분기까지 누적 거래 규모는 약 15조5000억원으로 2023년 전체 규모인 14조8000억원을 이미 넘어섰다. 올해 4·4분기까지 예상되는 상업용 부동산 투자 시장 규모는 약 20조원에 육박할 것으로 보인다.   올해 3·4분기 상업용 부동산은 오피스 거래가 전체 거래의 57%(약 3조8030억원)로 시장 규모를 견인했다. 이어 물류 약 1조9267억원, 리테일 4797억원, 호텔 4590억원 순이다.   3·4분기 오피스 시장은 전략적투자자(SI) 대신 국내 투자자 중심의 투자 활동이 활발했다. 삼성SRA자산운용의 1조1040억원 규모 강남권역의 더에셋빌딩 매입, 캐피탈랜드투자운용의 4410억원에 골든타워 인수, 신한리츠운용의 씨티스퀘어 인수 등 코어 딜 규모 1조9731억원에 달했다.   반면 하나금융강남사옥 및 한화장교빌딩의 리츠 유동화 등 특수 거래는 1조900억원이다. 3·4분기 오피스 거래 규모의 약 29% 수준을 차지했다. 대기업 계열사간 특수 거래를 제외하면 그 회복세는 다소 제한적인 수준으로 보인다.   물류 시장은 지난 분기 1조3222억원 대비 45% 이상 증가했다. LB자산운용이 스위스계 파트너스 그룹과 함께 매입한 브릭 화성 물류센터가 이번 분기 유일한 코어 자산의 거래로 파악됐다. JB자산운용의 그린웨이브 시화 물류센터 등 최근 신규 공급된 자산의 선매입 투자 규모가 올해 3·4분기 물류 투자 시장의 약 60%를 차지하며 전체 규모를 견인했다.   3·4분기에는 총 5개의 신규 A급 물류센터가 약 63만3323㎡의 규모로 공급됐다. 선임차 계약 면적은 전체 규모의 5% 수준에 그친 것으로 확인됐다.   리테일은 외래 관광객 수가 올해 8월 기준 약 1067만명으로 팬데믹 직전인 2019년 동기 대비 93% 수준으로 회복돼 수혜로 작용했다. 메디컬 리테일의 확장이 두드러졌다. 강남과 명동, 홍대 등 전통상권을 중심으로 신규 개원 증가세를 보였다. 뷰티도 외래 관광객 수 증가에 따라 주요 역세권 중심으로 확장세를 보이고 있다. 도산대로, 한남, 성수 등 대부분의 주요 가두상권 공실률 및 임대료는 보합세를 보였다.   최수혜 CBRE 코리아 리서치 총괄 상무는 “3·4분기 상업용 부동산 시장을 이끈 오피스 시장의 거래 규모 증가는 적극적인 시장 회복의 신호로 해석될 수도 있으나 불확실한 경제 상황 및 금리 변동에 따른 유동성 제약, PF(프로젝트 파이낸싱) 리스크 등을 고려할 때 온전한 시장 회복에는 시간이 걸릴 것으로 예상된다”며 “그럼에도 올해 상업용 부동산 시장 규모의 회복은 국내 투자 시장의 긍정적인 전환점이 되고 있다”고 말했다.  #CBRE #상업용 부동산 #오피스  \n\n'),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/015/0005048418'}, page_content='\n"오늘도 지옥이네요"…1300억 쓸어담은 개미들 \'눈물\' [종목+]\n\n\n아모레퍼시픽, 이달 들어 16% \'하락\'외국인 1130억 순매도…개인 투자자 대부분 평가손실"북미 외 지역 실적 개선·중국 구조조정 완료되면 주가 상승"\n\n\n\n아모레퍼시픽 본사. 사진=한경DB"오늘도 지옥이네요." (네이버 종목 토론방)아모레퍼시픽에 투자한 개인 투자자의 근심이 커지고 있다. 주가가 \'12만원대 늪\'을 빠져나오지 못하면서다. 설상가상으로 다음주 발표될 3분기 실적도 부진할 것으로 예상된다. 증권가에선 북미 외 지역 실적이 개선되고, 중국법인 구조조정이 끝나야 주가 반등의 기회를 노릴 수 있을 것으로 전망했다.24일 오후 1시55분 현재 유가증권 시장에서 아모레퍼시픽은 전일 대비 300원(0.24%) 내린 12만3600원에 거래되고 있다. 3거래일 연속 하락세다. 지난 7월 말까지 18만원을 웃돌았던 아모레퍼시픽은 8월 폭락장 당시 11만7900까지 밀린 후 9월 들어 소폭 회복하는 모습을 보였지만, 이달 초부터 전날까지 16.25% 다시 하락하며 12만원대 초반에 머무르고 있다.기관과 외국인이 쏟아낸 물량을 개인이 받아내는 모습이다. 이달 들어 전날까지 외국인은 1132억원, 기관은 166억원어치를 순매도했다. 반면 개인은 1287억원을 순매수했다. 이 기간 아모레퍼시픽은 이 기간 개인 순매수 8위에 올랐다.주가 흐름이 부진해 대부분의 개인 투자자들은 손해를 보고 있는 것으로 추정된다. 지난 22일 기준 NH투자증권을 통해 아모레퍼시픽에 투자한 1만9860명 중 손실투자자 비율은 92.13%에 달했다. 투자자들의 평균 손실률은 29.69%로 집계됐다. 평균단가는 18만7717원이다. 전날 종가(12만2500원)에서 53% 올라야 수익권에 진입할 수 있다.실적 우려에 상승 동력이 약해진 것으로 풀이된다. 금융정보업체 에프앤가이드에 따르면 전날 기준 아모레퍼시픽의 3분기 영업이익 추정치는 446억원으로 3개월 전(1085억원)에 비해 반토막 났다. 매출액 추정치도 1조898억원에서 9824억원으로 하향 조정됐다. 아모레퍼시픽은 오는 31일 3분기 실적을 공개한다.중국 법인은 아모레퍼시픽의 아픈 손가락으로 꼽힌다. 아모레퍼시픽은 중국 오프라인 매장을 줄이고 인력을 재배치하는 등 수익성 개선을 위한 작업을 진행하고 있다. 작업 비용 영향으로 연말까지 중국 법인은 적자를 낼 것으로 예상된다.이지원 흥국증권 연구원은 "아모레퍼시픽의 3분기 영업이익은 390억원으로 시장 기대치를 밑돌 것으로 예상된다"며 "중국 사업을 구조조정하며 관련 손실이 커졌기 때문"이라고 설명했다. 흥국증권은 중국 관련 적자 규모가 최대 500억원에 달할 것으로 봤다. 이 증권사는 아모레퍼시픽의 목표주가를 기존 16만원에서 15만원으로 낮췄다.다만 중국과 달리 북미 지역에선 성과를 내고 있다. 지난해 자회사로 편입한 코스알엑스(COSRX), 자체브랜드인 라네즈, 이니스프리가 북미 시장에서 주목받으면서다. 이 연구원은 "최근 진행된 \'아마존 프라임 데이\'에서 코스알엑스, 라네즈의 핵심 제품이 아마존 베스트셀러 상위권에 올라가 있는 것을 확인했다"며 "특히 코스알엑스는 견고한 브랜드파워를 바탕으로 2025~2026년 영업이익률 25.2~26.8%를 기록할 것"이라고 전망했다.대신증권은 부진의 끝이 보인다며 아모레퍼시픽에 목표주가 17만원을 제시했다. 이 증권사 정한솔 연구원은 "코스알엑스와 자체 브랜드의 서구권 매출 확대 기대감과 중국 실적 우려가 동시에 반영돼 변동성이 큰 모습을 보이고 있다"며 "주가가 안정적으로 오르기 위해선 북미 외 지역에서 성장성을 증명해야 하고, 중국 법인의 실적 개선도 가시화할 필요가 있다"고 덧붙였다.\n\n'),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/009/0005384689'}, page_content='\n수십억 현금부자들도 꽂힌 한남동 카페거리···임장 동행해보니\n\n\n하나은행 VIP고객 대상 한남동 상권 투어 진행부촌 배후 4개 상권 존재“쇼핑 넘어선 문화공간”\n\n\n\n 서울 용산구 한남동 ‘카페거리’ 상권. [사진출처=하나은행]“한남동에선 서로 다른 4개 상권을 한 번에 즐길 수 있습니다. 전통부촌과 신흥부촌을 배후에 두고 단순한 쇼핑 공간을 넘어서는 독특한 문화 공간이 생겨났죠.”최환석 하나은행 부동산투자자문센터장은 지난 22일 서울 용산구에서 자사 VIP 고객을 대상으로 ‘한남동 상권 투어’를 진행하며 이 같이 밝혔다. 비바람이 치는 궂은 날씨에도 이날 부동산 임장에는 고액 자산가 30여명이 참여했다. 최 센터장은 임장 장소로 한남동을 선정한 이유에 대해 “한 지역에 다양한 고급 상권이 클러스터 형식으로 있기 때문”이라고 말했다. 한남동 상권은 크게 4개로 나뉘었다. ▲카페거리 ▲꼼데가르송거리 ▲한남더힐 배후거리 ▲한남오거리다.개인투자 용이한 한남동 ‘카페거리’ 가장 관심고액 자산가들이 가장 관심 가졌던 상권은 ‘카페거리(이태원로54길)’다. 건물 규모가 크지 않아 개인 투자가 용이하고 단기 시세차익이 예상돼서다. 단독·다가구주택 형태를 유지한 채 저층공간을 ‘힙’하게 개조한 매장이 많았다. 호가는 토지 3.3㎡(평) 당 1억 5000만원 안팎이었다. 대지면적이 30평대인 건물의 시세가 50억원 가량인 셈이다. 대표적으로 연예인 장동건·윤종신·변정수가 이곳에 건물을 갖고 있는 것으로 알려졌다.\n\n\n\n 서울 용산구 한남동에 있는 갤러리 카페 ‘목단가옥’ 전경. [이희수 기자]최 센터장은 “신흥 부촌인 나인원한남이 2019년 준공된 후 한층 강화된 상권”이라고 설명했다. 당초 더트러플베이커리, 콜렉티보 같은 카페 위주였지만 최근 들어선 경제력 있는 MZ세대를 공략하는 쇼룸이 인기다. 패션업체 마르디 메크르디, 이피티, 이미스, 락피시웨더웨어 매장 앞엔 대기용 의자가 길게 놓여있었다. 프랑스 패션업체 르메르도 국내 1호 매장을 이곳에 냈다. 70평 규모 2층 단독주택의 형태를 그대로 살린 독특한 부티크 공간이다.김윤희 전문위원은 “객단가 높은 우량 임차인이 있는 건물, 전면부가 넓어 칸칸이 임대를 줄 수 있는 건물을 우선순위로 봐야 한다”며 “다만 임대수익률이 3% 이하로 높진 않고 보통 시세차익을 기대하고 매입한다”고 전했다. 다만 대부분 주택 위주라 취득하면 2주택 이상이 될 수 있단 점을 유의해야 한다고 조언했다. 취득세 중과가 되기 때문이다.\n\n\n\n 프랜스 패션업체 르메르가 서울 용산구 한남동에 오픈한 1호 매장. 단독주택 형태를 그대로 살린 독특한 공간이 눈길을 끈다. [이희수 기자]쇼핑을 넘어선 복합 문화공간도 눈길을 끌었다. 갤러리카페 목단가옥, 어반리조트 사운즈한남 등이다. 목단가옥은 옻칠 거장 전용복 작가가 직접 쌓아올린 벽돌 건물이다. 화려한 옻칠·자개·타일 작품 전시관과 브런치 카페가 운영되고 있다. 김 전문위원은 “단순 상권을 넘어서는 문화공간으로 방문객을 오래 머물게 하는 게 특징”이라고 말했다.패션 스트리트 ‘꼼데가르송 거리’…이면부는 전통부촌 부속상권\n\n\n\n 서울 용산구 한남동 구찌 매장. [이희수 기자]꼼데가르송 거리는 지하철 6호선 한강진역과 이태원역 사이 상권이다. 대로변은 패션 스트리트로 꼽힌다. 구찌, 꼼데가르송, COS, 띠어리, 비이커, 디젤 등 고가 브랜드가 즐비하다. 패션과 예술을 접목시키는 시도가 곳곳에서 보여 독특했다. 예를 들어 구찌 매장에선 이날 사진전시회가 열려 사람들이 줄을 빼곡히 섰다. 리움미술관 주변으로 밀집한 갤러리들과 현대카드 뮤직라이브러리도 볼거리였다.이면부엔 전통 부촌의 배후 상권이 자리했다. 근방에 삼성을 비롯한 대기업 오너 일가가 사는 단독주택 밀집지가 있기 때문이다. 객단가가 높거나 취향을 살릴 수 있는 식당이 많았다. 흑백요리사 심사위원으로 유명해진 안성재 셰프의 미쉐린 3스타 파인다이닝 모수가 대표적이다. 비건카페 MTL, 샴페인바 탄산바 등도 눈길을 끌었다.\n\n\n\n 서울 용산구 한남동에 있는 복합문화공간 ‘한남화원’의 지하 전경. 햇빛이 지하까지 들어오는 썬큰 구조를 활용했다. [이희수 기자]다만 이면부는 남산 고도제한 영향으로 빌딩이 대체로 5층 이하였다. 김 전문위원은 “지하 활용성을 높여 임대수익을 극대화 하는 건물을 봐야 한다”며 자연광이 지하까지 미치는 근린생활시설 ‘한남화원’을 소개했다. 빌딩 매물의 호가는 대로변이 토지 평당 3억원 안팎, 이면부가 1억 5000만~1억 7000만원 수준이다.장기적으론 한남오거리 주목…한남뉴타운 개발 수혜나인원한남과 양대 부촌인 한남더힐 배후 거리(한남대로20길)도 객단가 높은 소규모 음식점 위주였다. 소수, 소설한남, 타르틴, 오스테리아오르조, 한와담 등이다. 반면 횡단보도 하나를 건너면 나오는 한남오거리(대사관로)는 나주집, 제주식당 같은 노포 위주 상권이었다.김 전문위원은 한남오거리에 대해 “근린생활시설과 주택이 섞여 있다. 매수하면 손을 좀 많이 봐야 하는 건물 위주”라며 “경험치가 낮은 개인 투자가가 접근하기엔 난이도가 있다”고 평가했다. 한남오거리 지구단위계획에 나온 ‘특별계획구역’인지 여부도 반드시 확인해야 한다고 조언했다. 특별계획구역으로 묶이면 개별 개발이 안 되고 통합 개발만 가능해서다.\n\n\n\n 서울 용산구 한남3구역 전경. [매경DB]다만 한남뉴타운 가운데 규모가 가장 큰 한남3구역이 바로 뒤편에 자리한다. 작년에 관리처분계획인가를 받아 이주가 상당 부분 진행된 구역이다. 김 전문위원은 “장기적으로는 한남오거리 일대가 거점 상권 역할을 할 수 있다”고 말했다.그는 한남뉴타운에 대한 질문에 “사업 진행 속도를 살펴야 한다”며 “관리처분계획인가가 난 후엔 준공까지 조합원 지위 양도가 거의 불가능하다. 현금 청산이 될 수 있는 매물인지 봐야 한다”고 답했다. 아직 사업이 초·중반 단계인 구역으론 한남4·5구역이 있다고 했다.\n\n'),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/031/0000879056'}, page_content='\n서울 아파트값 강보합…전주 대비 0.09%↑\n\n\n부동산원, 전국 시세는 0.02% 올라…전셋값 상승폭도 축소금리 상승과 대출규제 강화 속에 서울 아파트값 상승폭이 축소됐다. 전세 또한 일부 구축 단지에서 하락거래가 나오면서 상승폭이 줄었다.\n\n\n\n서울 남산공원에서 바라본 서울 시내 아파트 단지 모습. [사진=뉴시스]24일 한국부동산원이 발표한 \'10월 3주(21일 기준) \'주간 아파트 가격동향\'에 따르면 전국 아파트값은 0.02% 올라 전주 대비 상승폭이 유지됐다. 수도권(0.07%→0.05%)과 서울(0.11%→0.09%)은 상승폭 축소된 반면 지방(-0.03%→-0.02%)은 하락폭이 줄었다.지역별로는 인천(0.06%), 경기(0.04%), 울산(0.02%), 충북(0.01%) 등은 상승한 반면 전북(0.00%), 경남(0.00%)은 보합, 대구(-0.05%), 부산(-0.05%), 제주(-0.03%), 경북(-0.02%), 대전(-0.02%) 등은 하락했다.공표지역 178개 시군구 중 지난주 대비 상승 지역(89→93개)과 하락 지역(76→77개)은 증가했고 보합 지역(13→8개)은 감소했다.부동산원 관계자는 "서울은 일부 선호단지의 매매수요는 여전하지만 대출규제 영향과 매도‧매수인의 거래 희망가 격차 지속으로 매물이 적체되는 등 매수심리 위축되며 상승폭은 지난 주 대비 축소됐다"고 전했다.자치구별로는 성동구(0.19%)가 금호·행당동 역세권 위주로, 용산구(0.18%)가 한강로·이촌동 대단지 위주로, 마포구(0.14%)가 아현·합정동 위주로, 광진구(0.10%)가 광장·화양동 위주로, 서대문구(0.10%)가 북가좌·연희동 위주로 올랐다.강남권에서는 강남구(0.23%)가 개포·압구정동 재건축 추진 단지 위주로, 서초구(0.13%)가 반포·잠원동 주요단지 위주로, 영등포구(0.11%)가 영등포‧여의도동 위주로, 강동구(0.08%)가 고덕·암사동 준신축 위주로 상승했다.전국 주간 아파트 전셋값은 0.05% 올라 지난주(0.06%) 대비 상승폭이 축소됐다. 수도권(0.12%→0.10%)과 서울(0.10%→0.09%)은 상승폭 축소됐고 지방(0.01%→0.01%)은 상승폭 유지됐다. 5대광역시(0.00%→0.01%)와 세종(0.00%→0.02%)은 상승 전환했고 8개도(0.02%→0.01%)은 상승폭이 줄었다.\n\n\n\n시도별 10월 3주 아파트 매매가격지수. [사진=한국부동산원]서울의 경우 역세권과 신축 등 정주여건 양호한 선호단지 중심으로 매물부족 현상이 지속돼 가격상승이 이어지고 있다. 반면 일부 외곽지역과 구축에서 하락거래 발생하며 상승폭은 지난 주 대비 축소됐다.강북권에서는 성동구(0.25%)가 행당·하왕십리동 대단지 위주로, 서대문구(0.15%)가 북아현·홍제동 역세권 위주로, 은평구(0.14%)가 신사·불광동 구축 위주로, 중구(0.13%)가 황학·신당동 주요단지 위주로, 노원구(0.11%)가 중계‧공릉동 위주로 올랐다.강남에서는 강남구(0.16%)가 압구정·개포동 주요단지 위주로, 영등포구(0.13%)가 신길·대림동 위주로, 양천구(0.12%)가 목·신월동 중소형 규모 위주로, 서초구(0.12%)가 잠원·서초동 역세권 위주로, 강서구(0.06%)가 마곡‧가양동 위주로 상승했다.\n\n'),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/015/0005048416'}, page_content='\n"현금부자들은 못 사서 난리"…압구정 아파트 신고가 찍었다\n\n\n한국부동산원 주간 아파트 가격 동향\n\n\n\n남산에서 바라본 서울 강남구 압구정동 일대 아파트 모습. 사진=한경DB정부의 대출 규제에 서울 집값 상승세가 꺾였지만, 강남 집값 오름세는 여전하다. 규제 영향을 받지 않는 현금부자들의 매수세가 유지되고 있다는 평가다.24일 한국부동산원이 발표한 주간 아파트 가격 동향에 따르면 10월 셋째 주 서울 집값은 전주 대비 0.09% 올라 전주(0.11%) 대비 상승 폭이 줄었다. 지난달 스트레스 총부채원리금상환비율(DSR) 2단계 규제가 시행되면서 대출을 낀 매수세가 위축되는 모양새다. 다만 대출을 필요로 하지 않는 현금 부자 매수세가 몰리는 강남 집값은 꾸준히 오르고 있다.서울 25개 자치구 가운데 강남구 집값은 0.23% 올라 가장 높은 상승률을 기록했다. 국토교통부 실거래가 공개시스템에 따르면 강남구 압구정동 \'현대1차\' 전용면적 131㎡는 지난 15일 54억9000만원(11층)에 팔려 신고가를 경신했다. 직전 거래인 지난 7월 49억5000만원(6층)보다 5억4000만원 높고 이전 최고가인 50억3000만원(12층)보다도 4억6000만원 올랐다.개포동 \'개포래미안포레스트\' 전용 59㎡도 같은 날 23억3000만원(12층)에 손바뀜돼 직전 거래 23억원(11층)보다 3000만원 상승했다. 인근 \'개포주공5단지\' 역시 지난 19일 전용 53㎡가 22억4700만원(4층)에 거래됐는데, 전월 저층 실거래가인 22억3000만원(1층)과 비교해 소폭 높은 가격이다.압구정동 개업중개사는 "이 동네 집주인들은 매물을 거둬들이고 있다"며 "대출 규제가 강화됐더라도 현금부자들은 못 사서 난리"라고 설명했다. 개포동 개업중개사도 "5단지와 6·7단지 부근은 수인분당선 역세권인 노른자 땅"이라며 "재건축 사업도 탄력을 받으면서 집값이 올랐다"고 말했다.\n\n\n\n사진=한국부동산원강남 다음으로는 성동구가 금호·행당동 역세권 위주로 0.19%, 용산구도 한강로·이촌동 대단지 위주로 0.18% 올랐다. 이어 마포구가 아현·합정동 위주로 0.14%, 서초구가 반포·잠원동 주요단지 위주로 0.13% 상승했고 영등포구가 영등포·여의도동 위주로 0.11% 오름세를 보였다. 광진구와 서대문구도 각각 광장·화양동과 북가좌·연희동 위주로 0.1%씩 뛰었다.부동산원 관계자는 "대출규제 영향과 매도·매수인 사이 거래 희망가격 차이가 지속돼 매물이 적체되는 등 매수심리가 위축됐다"면서도 "일부 선호단지의 매매수요는 여전하다"고 설명했다.이 기간 서울 전셋값도 0.09% 상승했다. 성동구가 행당·하왕십리동 대단지 위주로 0.25% 뛰었고 강남구도 압구정·개포동 주요단지 위주로 0.16% 올랐다. 서대문구는 북아현·홍제동 역세권 위주로 0.15%, 은평구는 신사·불광동 구축 위주로 0.14% 상승했고 중구와 영등포구도 각각 황학·신당동 주요단지와 신길·대림동 위주로 0.13% 오름세를 보였다.부동산원은 "역세권과 신축 아파트 등 정주 여건이 양호한 선호단지 중심으로 매물부족 현상이 이어져 가격이 올랐다"며 "일부 외곽지역과 구축 아파트에서는 하락 거래가 발생하는 등 상승 폭은 지난 주 0.1% 대비 축소됐다"고 말했다.\n\n')]

In [178]:
import nest_asyncio

# 기존 이벤트 루프에 중첩을 허용하도록 설정
nest_asyncio.apply()

In [241]:
# 웹 페이지 로더 초기화
loader = WebBaseLoader(
    web_paths=[
        'https://n.news.naver.com/article/055/0001200190?cds=news_media_pc&type=breakingnews',
        'https://n.news.naver.com/mnews/article/421/0007865604',
        'https://n.news.naver.com/mnews/article/014/0005257877',
        'https://n.news.naver.com/mnews/article/003/0012861683',
        'https://n.news.naver.com/mnews/article/001/0015004146',
        'https://n.news.naver.com/mnews/article/018/0005867017',
        'https://n.news.naver.com/mnews/article/014/0005257868',
        'https://n.news.naver.com/mnews/article/015/0005048418',
        'https://n.news.naver.com/mnews/article/009/0005384689',
        'https://n.news.naver.com/mnews/article/031/0000879056',
        'https://n.news.naver.com/mnews/article/015/0005048416',
    ],
    bs_kwargs=dict(
        parse_only=bs4.SoupStrainer(
            'div',  # 'div' 태그만 파싱
            attrs={
                'class': [
                    'media_end_head_title',  # 제목
                    'newsct_article _article_body',  # 기사 본문
                    'media_end_head_info nv_notrans ',  # 헤드 정보
                ]},
        )
    ),
    header_template={
        'User-Agent': 'Mozilla/5.0'  # HTTP 요청 시 사용자 에이전트 설정
    },
)

# 초당 요청 수 설정
loader.request_per_second = 11

# SSL 인증서 검증 비활성화
loader.requets_kwargs = {'verify': False}

# 웹 페이지에서 문서 내용 비동기로 로드
documents = loader.aload()

# 로드된 문서 출력
documents

Fetching pages: 100%|##########| 11/11 [00:00<00:00, 26.30it/s]

[Document(metadata={'source': 'https://n.news.naver.com/article/055/0001200190?cds=news_media_pc&type=breakingnews'}, page_content='\nLG전자 3분기 영업이익 20.9% 감소…매출은 최대\n\n\n\n입력2024.10.24. 오후 2:04\n\n\n수정2024.10.24. 오후 2:36\n\n기사원문\n \n\n\n\n\n김지성 기자\n\n\n\n\n\n\n\n\n\n\n김지성 기자\n\n구독\n구독중\n\n\n\n\n구독자\n0\n\n\n응원수\n0\n\n\n\n더보기\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n추천\n\n\n\n\n쏠쏠정보\n0\n\n\n\n\n흥미진진\n0\n\n\n\n\n공감백배\n0\n\n\n\n\n분석탁월\n0\n\n\n\n\n후속강추\n0\n\n\n \n\n\n\n댓글\n\n\n\n\n\n본문 요약봇\n\n\n\n본문 요약봇도움말\n자동 추출 기술로 요약된 내용입니다. 요약 기술의 특성상 본문의 주요 내용이 제외될 수 있어, 전체 맥락을 이해하기 위해서는 기사 본문 전체보기를 권장합니다.\n닫기\n\n\n\n\n\n\n\n\n텍스트 음성 변환 서비스 사용하기\n\n\n\n성별\n남성\n여성\n\n\n말하기 속도\n느림\n보통\n빠름\n\n이동 통신망을 이용하여 음성을 재생하면 별도의 데이터 통화료가 부과될 수 있습니다.\n본문듣기 시작\n\n닫기\n\n\n \n\n글자 크기 변경하기\n\n\n\n가1단계\n작게\n\n\n가2단계\n보통\n\n\n가3단계\n크게\n\n\n가4단계\n아주크게\n\n\n가5단계\n최대크게\n\n\n\n\n\n\nSNS 보내기\n\n\n\n인쇄하기\n\n\n\n\n\n\n\n\n\n▲ 서울 영등포구 여의도 LG전자 사옥\n\nLG전자가 올해 3분기 물류비 인상 등의 영향으로 영업이익이 20%가량 감소했습니다.\n\n다만 사업 포트폴리오 고도화로 매출 성장세를 이어가며 매출은 3분기 기준 최대치를 기록했습니다.\n\nLG전자는 연결 기준 올해 3분기 영업이익이 7,519억 원으로, 지난해 같은 기간보다 20.9% 감소한 것으로 잠정 집계됐다고 공시했습니다.\n\n이는 시장 전망치 9,686억 원을 22.4% 밑도는 수준입니다.\n\n매출은 22조 1,764억 원으로 지난해 동기 대비 10.7% 증가했습니다.\n\n순이익은 902억 원으로 81.4% 줄었습니다.\n\n역대 3분기 실적과 비교하면 매출은 최대치, 영업이익은 4번째로 높은 수치입니다.\n\n기업간거래(B2B) 사업 가속화 등 포트폴리오 고도화를 통해 4개 분기 연속 전년 대비 매출이 성장했습니다.\n\n다만 중동 지역의 지정학적 분쟁, 미국의 대중국 관세 인상 등의 여파로 글로벌 해상 운임이 상승하면서 수익성에 영향을 끼쳤습니다.\n\n사업부별로 보면 생활가전을 맡은 H&A사업본부의 경우 3분기 매출액은 지난해 대비 11.7% 증가한 8조 3,376억 원, 영업이익은 5.5% 증가한 5,272억 원을 기록했습니다.\n\n글로벌 가전 수요 회복 지연에도 B2B 냉난방공조 사업과 가전구독 사업의 빠른 성장이 매출 확대를 이끌었습니다.\n\n연결 영업이익의 70%가 생활가전에서 나왔습니다.\n\nTV 사업을 담당하는 HE사업본부는 3분기 매출액 3조 7,473억 원, 영업이익 494억 원을 기록했습니다.\n\n매출은 올레드 TV 주요 시장인 유럽 지역의 출하량 증가에 힘입어 지난해 대비 5.2% 늘었습니다.\n\n전장 사업을 맡은 VS사업본부의 3분기 매출은 2조 6,113억 원으로 지난해보다 성장세를 유지했지만 전기차 수요 둔화로 전 분기보다는 소폭 줄었습니다.\n\n영업이익은 11억 원이었습니다.\n\n(사진=연합뉴스)\n\t\t\n'),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/421/0007865604'}, page_content='\n"반도체 장비사 엑시콘, 고객사 투자 줄어 적자 전환"[줌인e종목]\n\n\n\n입력2024.10.24. 오후 2:11\n\n\n수정2024.10.24. 오후 2:12\n\n기사원문\n \n\n장시온 기자\n\n\n\n\n\n\n\n\n\n장시온 기자\n\n구독\n구독중\n\n\n\n\n구독자\n0\n\n\n응원수\n0\n\n\n\n더보기\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n추천\n\n\n\n\n쏠쏠정보\n0\n\n\n\n\n흥미진진\n0\n\n\n\n\n공감백배\n0\n\n\n\n\n분석탁월\n0\n\n\n\n\n후속강추\n0\n\n\n \n\n\n\n댓글\n\n\n\n\n\n본문 요약봇\n\n\n\n본문 요약봇도움말\n자동 추출 기술로 요약된 내용입니다. 요약 기술의 특성상 본문의 주요 내용이 제외될 수 있어, 전체 맥락을 이해하기 위해서는 기사 본문 전체보기를 권장합니다.\n닫기\n\n\n\n\n\n\n\n\n텍스트 음성 변환 서비스 사용하기\n\n\n\n성별\n남성\n여성\n\n\n말하기 속도\n느림\n보통\n빠름\n\n이동 통신망을 이용하여 음성을 재생하면 별도의 데이터 통화료가 부과될 수 있습니다.\n본문듣기 시작\n\n닫기\n\n\n \n\n글자 크기 변경하기\n\n\n\n가1단계\n작게\n\n\n가2단계\n보통\n\n\n가3단계\n크게\n\n\n가4단계\n아주크게\n\n\n가5단계\n최대크게\n\n\n\n\n\n\nSNS 보내기\n\n\n\n인쇄하기\n\n\n\n\n\n[스몰캡]한국IR협 "HBM에 투자 몰려…135억 적자 전망"수요 증가로 내년부터 \'흑자 전환\'…"매출 \'147%\' 오를 것"\n\n\n\n윤진식 한국무역협회(KITA) 회장(오른쪽)이 6일 경기도 판교 테크노밸리 반도체 테스트 장비 전문 기업 엑시콘을 방문, 최명배 대표와 기념촬영을 하고 있다. (한국무역협회 제공) 2024.3.6/뉴스1(서울=뉴스1) 장시온 기자 = 반도체 후공정 검사장비 업체 엑시콘(092870)이 올해 고객사 투자가 줄면서 전년 대비 실적이 나빠질 것이라는 전망이 나왔다. 하반기에 일부 개선되기는 하지만 본격적인 실적 반등은 내년부터 나타날 것이란 분석이다.한국IR협의회 리서치센터(이하 한국IR협)는 24일 기업보고서를 내고 이같이 밝혔다. 박성순 한국IR협 연구원은 "엑시콘의 올해 매출액은 전년 대비 51.5% 감소한 399억 원을 기록할 전망"이라며 "영업손실도 135억 원으로 적자 전환이 예상된다"고 밝혔다.작년 하반기부터 고객사가 후공정 투자를 축소하고 고대역폭 메모리(HBM)에 투자를 집중하고 있다는 설명이다. 엑시콘은 디램(DRAM) 메모리 테스터, 솔리드스테이트드라이브(SSD) 테스터, 번인(Burn-in) 테스터 등을 제조하고 있다. 상반기 기준 SSD 테스터에서 54.1%, 메모리 테스터에서 31.6%의 매출을 올리고 있으며 주요 고객사는 삼성전자다.본격적인 실적 반등은 2025년부터 나타날 것으로 보인다. 내년 매출액이 전년 대비 147.2% 오른 986억 원을 기록하고 영업이익도 101억 원으로 흑자 전환할 것이란 전망이다.박 연구원은 "SSD 테스터는 하반기부터 6세대(Gen6)에 대한 투자가 발생할 것으로 예상되고 내년 하반기에는 고객사의 컴퓨트익스프레스링크(CXL) 테스터 수요도 일부 발생할 것으로 보인다"고 설명했다.메모리 테스터 점유율 확대가 예상되고 반도체 경쟁력 평가 도구(CLT) 장비 수요도 커질 것이란 전망이다. 박 연구원은 "더블데이터레이트(DDR)5향 DRAM Burn-in 테스터 투자 재개로 점유율이 오를 전망"이라며 "기존 일본 CLT 장비가 노후화되고 DDR5로의 전환이 이뤄지며 신규 장비에 대한 수요도 증가할 것"이라고 내다봤다.\n\t\t\n'),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/014/0005257877'}, page_content='\n비트코인, 트럼프 때문에 \'오르고\' vs 트럼프 때문에 \'떨어지고\' [코인브리핑]\n\n\n\n입력2024.10.24. 오후 2:10\n\n기사원문\n \n\n\n\n\n한영준 기자\n\nTALK\n\n\n\n\n\n\n\n\n\n한영준 기자\n\nTALK\n구독\n구독중\n\n\n\n\n구독자\n0\n\n\n응원수\n0\n\n\n\n더보기\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n추천\n\n\n\n\n쏠쏠정보\n0\n\n\n\n\n흥미진진\n0\n\n\n\n\n공감백배\n0\n\n\n\n\n분석탁월\n0\n\n\n\n\n후속강추\n0\n\n\n \n\n\n\n댓글\n\n\n\n\n\n본문 요약봇\n\n\n\n본문 요약봇도움말\n자동 추출 기술로 요약된 내용입니다. 요약 기술의 특성상 본문의 주요 내용이 제외될 수 있어, 전체 맥락을 이해하기 위해서는 기사 본문 전체보기를 권장합니다.\n닫기\n\n\n\n\n\n\n\n\n텍스트 음성 변환 서비스 사용하기\n\n\n\n성별\n남성\n여성\n\n\n말하기 속도\n느림\n보통\n빠름\n\n이동 통신망을 이용하여 음성을 재생하면 별도의 데이터 통화료가 부과될 수 있습니다.\n본문듣기 시작\n\n닫기\n\n\n \n\n글자 크기 변경하기\n\n\n\n가1단계\n작게\n\n\n가2단계\n보통\n\n\n가3단계\n크게\n\n\n가4단계\n아주크게\n\n\n가5단계\n최대크게\n\n\n\n\n\n\nSNS 보내기\n\n\n\n인쇄하기\n\n\n\n\n\n\n\n\n\n지난 8월 뉴저지주 베드민스터에 있는 트럼프 내셔널 골프클럽에서 미국 공화당 대선 후보인 도널드 트럼프 전 대통령이 기자회견을 마친 뒤 자신의 귀에 손을 대고 취재진의 질문을 듣고 있다. 연합뉴스 제공 [파이낸셜뉴스] \'트럼프 수혜주\' 비트코인의 가격이 롤러코스터를 타고 있다. 도널드 트럼프 공화당 후보의 당선 가능성이 높아지면서 다양한 나비효과를 내고 있기 때문이다.     트럼프의 적은 트럼프?...\'親코인 정책\' vs \'국채금리 상승\'   24일 코인시황 플랫폼 코인마켓캡에 따르면 오후 2시 기준 비트코인의 가격은 9280만7014원을 가리키고 있다. 지난 21일 9500만원선을 돌파했던 비트코인은 이날 오전 9000만원선까지 밀리기도 했다.   비트코인에 이어 시가총액 2위 가상자산 이더리움의 가격 움직임도 비슷하다. 지난 21일 378만원대까지 올랐던 이더리움은 이날 오전 342만원까지 하락했다. 이날 오후 2시에는 351만8021원으로 회복세를 보였다.   이날 가상자산시장의 조정세는 미국 국채금리의 상승에 의한 것으로 분석된다. 10년 만기 미 국채금리는 기준금리 인하로 지난 달 16일 3.618%까지 떨어졌다. 그러나 다시 가파르게 오르기 시작해 이달 23일(현지시간) 4.242%까지 올랐다.   시장은 사흘 연속 약세를 기록했다. 추가 상승 재료가 부재한 상황에서 미국 국채금리까지 급등하며 발목이 잡힌 것이다. 대장주 비트코인은 지난 21일 9400만원대까지 치솟으며 1억원 돌파에 가까워졌으나, 현재는 해당 가격 대비 4% 넘게 빠졌다. 이는 7월 말이 최대치이다.   미 국채금리가 다시 오르는 이유는 크게 2가지로 분석된다. 미 연방준비제도(Fed)의 금리인하 행보가 미뤄질 수 있다는 우려와 보호 무역을 강조하는 도널드 트럼프 공화당 후보의 당선 가능성이 높아졌기 때문이다.   iM증권 이상헌 연구원은 "최근 트럼프가 당선될 것이라는 가능성에 베팅하는 수요가 늘면서 10년물 국채금리가 4.2%까지 올랐다"라며 "금리가 오르는 배경에는 트럼프가 당선될 경우 수출에서 관세를 올리게 될 것이라는 우려가 커졌기 때문"이라고 설명했다.   \'친(親) 가상자산\' 후보인 트럼프의 당선 가능성이 비트코인을 9500만원까지 올렸지만, \'보호 무역\'과 \'관세\'를 강조하는 트럼프의 당선 가능성이 국채 금리를 올려 비트코인의 가격 상승을 누르고 있는 역설적인 상황이 펼쳐진 셈이다.     단기 조정은 있지만...옵션시장은 "비트코인 1.1억 간다"   그러나 시장에선 코인시장의 강세에 초점을 맞추고 있다. 외신에 따르면 비트코인 옵션 시장에선 콜옵션 투자자들이 다음 달 29일 만기인 비트코인 콜옵션의 행사가격이 8만달러 부근에 집중돼 있다. 콜옵션 투자자들 사이에선 다음 달 말이면 비트코인이 8만달러(약 1억1030만원)에 도달할 것이란 전망이 확산한 것이다. 콜옵션은 특정 시점 안에 미리 정해진 가격에 자산을 매수할 수 있는 권리를 말한다.   8만달러는 글로벌 가격 기준 올해 3월 기록했던 사상 최고가 7만3800달러(약 1억180만원)보다 10%가량 더 높은 가격이다. 결국 옵션 시장에선 비트코인이 다음 달 말 사상 최고가를 경신할 가능성을 제기한 것이다.   다만 미국 대선을 2주 앞두고 단기 조정이 이어질 수 있다는 분석이 나왔다.   가상자산 커스터디 기업 코퍼는 보고서를 통해 "온체인 지표가 시장 과열 징후를 나타내고 있다"며 "비트코인 월렛 주소의 98%가 현재 수익 상태다. 역사적으로 이 비율이 상승하면(최근 75%) 수익 확보를 원하는 투자자로 인해 매도 압박이 종종 발생한다"고 전했다.   이어 "이는 비트코인이 단기 정점에 가까워지고 있다는 신호로 해석할 수 있다"며 "미국 대선을 앞두고 가격 정점에 단기 도달한 것으로 보인다"고 설명했다.\n\t\t\n'),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/003/0012861683'}, page_content='\n안덕근 "전기료 인상, 다음 세대에 책임 떠넘기지 않을 것"\n\n\n\n입력2024.10.24. 오후 2:09\n\n\n수정2024.10.24. 오후 2:10\n\n기사원문\n \n\n이승주 외 2명\n\n\n\n\n\n\n\n\n\n\n이승주 기자\n\nTALK\n구독\n구독중\n\n\n\n\n구독자\n0\n\n\n응원수\n0\n\n\n\n더보기\n\n\n\n\n\n\n\n\n\n여동준 기자\n\n구독\n구독중\n\n\n\n\n구독자\n0\n\n\n응원수\n0\n\n\n\n더보기\n\n\n\n\n\n\n\n\n손차민 기자\n\n구독\n구독중\n\n\n\n\n구독자\n0\n\n\n응원수\n0\n\n\n\n더보기\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n추천\n\n\n\n\n쏠쏠정보\n0\n\n\n\n\n흥미진진\n0\n\n\n\n\n공감백배\n0\n\n\n\n\n분석탁월\n0\n\n\n\n\n후속강추\n0\n\n\n \n\n\n\n댓글\n\n\n\n\n\n본문 요약봇\n\n\n\n본문 요약봇도움말\n자동 추출 기술로 요약된 내용입니다. 요약 기술의 특성상 본문의 주요 내용이 제외될 수 있어, 전체 맥락을 이해하기 위해서는 기사 본문 전체보기를 권장합니다.\n닫기\n\n\n\n\n\n\n\n\n텍스트 음성 변환 서비스 사용하기\n\n\n\n성별\n남성\n여성\n\n\n말하기 속도\n느림\n보통\n빠름\n\n이동 통신망을 이용하여 음성을 재생하면 별도의 데이터 통화료가 부과될 수 있습니다.\n본문듣기 시작\n\n닫기\n\n\n \n\n글자 크기 변경하기\n\n\n\n가1단계\n작게\n\n\n가2단계\n보통\n\n\n가3단계\n크게\n\n\n가4단계\n아주크게\n\n\n가5단계\n최대크게\n\n\n\n\n\n\nSNS 보내기\n\n\n\n인쇄하기\n\n\n\n\n\n산업장관, 국회 산중위 종합국감 주호영 질의에 답변"제 때 승인 안 한 책임" 지적에 "누군가 궂은일 해야"\n\n\n\n[서울=뉴시스] 조성봉 기자 = 안덕근 산업통상자원부 장관이 7일 오전 서울 여의도 국회에서 열린 산업통상자원중소벤처기업위원회의 산업통상자원부에 대한 국정감사에서 의원들의 질의에 답변하고 있다. 2024.10.07. suncho21@newsis.com[세종=뉴시스]이승주 여동준 손차민 기자 = 안덕근 산업통상자원부 장관은 24일 한국전력 등 에너지공기업 재무상태를 개선하기 위해 전기요금 현실화가 필요하다는 지적에 "이번 정부 내에 저희가 할 바는 꼭 다 해서 다음 세대에 책임을 떠넘기지 않도록 최선을 다하겠다"고 밝혔다.안덕근 산업부 장관은 이날 오전 국회 산업통상중소벤처기업위원회 종합 국정감사에서 주호영 국민의힘 의원이 "누군가는 궂은 일을 하지 않으면 안 된다"는 말에 이같이 답했다.주호영 의원이 "에너지 공기업 재무상태를 보니 어느 기업 하나 온전한 게 없어 걱정이 많다. 한전의 부채는 202조원으로 연 이자만 5조원, 석유공사는 자본잠식 부채가 19조원"이라며 "이대로 두면 에너지 산업 전체가 우려된다"고 말했다.주 의원은 "원인은 여럿이겠지만 전기요금을 제 때 승인하지 않은 산업부에 책임이 많다"며 "한전이 (부채를 해소하기 위해) 자구 노력을 한다는데 그것도 필요하지만 \'언 발에 오줌누기\'다. 요금 정상화를 하지 않으면 해결하기 어렵다"고 지적했다.\n\n\n\n[서울=뉴시스] 조성봉 기자 = 안덕근 산업통상자원부 장관이 7일 오전 서울 여의도 국회에서 열린 산업통상자원중소벤처기업위원회의 산업통상자원부에 대한 국정감사에서 의원들의 질의에 답변하고 있다. 2024.10.07. suncho21@newsis.com그러면서 "전기요금이 국민 생활과 연관된 문제다 보니 선거 때마다 제대로 올리지 않아 이런 괴리가 생긴 것"이라며 "이 정부가 맡은 몫 만이라도 제대로 가도록 해야지, 부채 202조가 사실은 \'눈 가리고 아웅\'하는 것이지 사실 국가 부채나 마찬가지 아니겠나"라고 질타했다. 이에 안 장관은 "명심하겠다. 최선을 다하겠다"고 답했다.주 의원은 "구체적인 계획과 목표를 세우고 이번 정부 내에서 어느 정도 (올리겠다) 발표를 해야지, 그때 그때 마다 임시로 요금을 올리겠다 해서 해결될 문제가 아니다"라고 했다.이에 안 장관은 "지금 국내외 경제 상황이 불확실한 부분이 많다"며 "의원님 말처럼 먼저 (목표치를) 알려줘서 시장이 준비할 기간을 주는 게 맞긴 한데, 그런 부분이 있다"고 답했다. 주 의원은 "공기업 재무 정상화를 제대로 실천해주길 바란다"고 당부했다.\n\n'),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/001/0015004146'}, page_content="\n[2보] LG전자, 3분기 영업익 20.9% 감소…매출은 3분기 최대\n\n\n\n입력2024.10.24. 오후 2:07\n\n\n수정2024.10.24. 오후 2:08\n\n기사원문\n \n\n\n\n\n장하나 기자\n\n\n\n\n\n\n\n\n\n\n장하나 기자\n\n구독\n구독중\n\n\n\n\n구독자\n0\n\n\n응원수\n0\n\n\n\n더보기\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n추천\n\n\n\n\n쏠쏠정보\n0\n\n\n\n\n흥미진진\n0\n\n\n\n\n공감백배\n0\n\n\n\n\n분석탁월\n0\n\n\n\n\n후속강추\n0\n\n\n \n\n\n\n댓글\n\n\n\n\n\n본문 요약봇\n\n\n\n본문 요약봇도움말\n자동 추출 기술로 요약된 내용입니다. 요약 기술의 특성상 본문의 주요 내용이 제외될 수 있어, 전체 맥락을 이해하기 위해서는 기사 본문 전체보기를 권장합니다.\n닫기\n\n\n\n\n\n\n\n\n텍스트 음성 변환 서비스 사용하기\n\n\n\n성별\n남성\n여성\n\n\n말하기 속도\n느림\n보통\n빠름\n\n이동 통신망을 이용하여 음성을 재생하면 별도의 데이터 통화료가 부과될 수 있습니다.\n본문듣기 시작\n\n닫기\n\n\n \n\n글자 크기 변경하기\n\n\n\n가1단계\n작게\n\n\n가2단계\n보통\n\n\n가3단계\n크게\n\n\n가4단계\n아주크게\n\n\n가5단계\n최대크게\n\n\n\n\n\n\nSNS 보내기\n\n\n\n인쇄하기\n\n\n\n\n\n\n\n\n\n서울 여의도 LG전자 사옥[연합뉴스 자료사진](서울=연합뉴스) 장하나 기자 = LG전자가 올해 3분기 물류비 인상 등의 여파로 영업이익이 20%가량 감소했다. 다만 사업 포트폴리오 고도화로 매출 성장세를 이어가며 매출은 3분기 기준 최대치를 기록했다.     LG전자는 연결 기준 올해 3분기 영업이익이 7천519억원으로 지난해 동기보다 20.9% 감소한 것으로 잠정 집계됐다고 24일 공시했다.    이번 영업이익은 연합인포맥스가 집계한 시장 전망치 9천686억원을 22.4% 밑도는 수준이다.    매출은 22조1천764억원으로 작년 동기 대비 10.7% 증가했다. 순이익은 902억원으로 81.4% 줄었다.    역대 3분기 실적과 비교하면 매출은 최대치, 영업이익은 4번째로 높은 수치다.     기업간거래(B2B) 사업 가속화 등 포트폴리오 고도화를 통해 4개 분기 연속으로 전년 동기 대비 매출이 성장했다.    다만 중동 지역의 지정학적 분쟁, 미국의 대중국 관세 인상 등의 여파로 글로벌 해상 운임이 상승하며 수익성에 영향을 끼쳤다.    사업부별로 보면 생활가전을 맡은 H&A사업본부의 경우 3분기 매출액은 전년 동기 대비 11.7% 증가한 8조3천376억원, 영업이익은 5.5% 증가한 5천272억원을 기록했다.     글로벌 가전 수요 회복 지연에도 B2B 냉난방공조(HVAC) 사업과 가전구독 사업의 빠른 성장이 매출 확대를 견인했다. 연결 영업이익의 70%가 생활가전에서 나오며 '가전은 LG' 공식을 재확인했다.     TV 사업을 담당하는 HE사업본부는 3분기 매출액 3조7천473억원, 영업이익 494억원을 기록했다. 매출은 올레드 TV 주요 시장인 유럽 지역의 출하량 증가에 힘입어 전년 동기 대비 5.2% 늘었다.     전장 사업을 맡은 VS사업본부의 3분기 매출은 2조6천113억원으로 전년 동기 대비 성장세를 유지했으나 전기차 수요 둔화로 전 분기보다는 소폭 줄었다. 영업이익은 11억원에 그쳤다.    BS사업본부는 3분기 매출액 1조3천989억원, 영업손실 769억원을 기록했다. 신사업 육성을 위한 투자 등으로 영업손실 규모가 늘었다.    hanajjang@yna.co.kr\n\n"),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/018/0005867017'}, page_content='\n코스닥, 외국인·기관 순매도에 1%대 약세…740선 깨져\n\n\n\n입력2024.10.24. 오후 2:05\n\n기사원문\n \n\n\n\n\n박순엽 기자\n\n\n\n\n\n\n\n\n\n\n박순엽 기자\n\n구독\n구독중\n\n\n\n\n구독자\n0\n\n\n응원수\n0\n\n\n\n더보기\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n추천\n\n\n\n\n쏠쏠정보\n0\n\n\n\n\n흥미진진\n0\n\n\n\n\n공감백배\n0\n\n\n\n\n분석탁월\n0\n\n\n\n\n후속강추\n0\n\n\n \n\n\n\n댓글\n\n\n\n\n\n본문 요약봇\n\n\n\n본문 요약봇도움말\n자동 추출 기술로 요약된 내용입니다. 요약 기술의 특성상 본문의 주요 내용이 제외될 수 있어, 전체 맥락을 이해하기 위해서는 기사 본문 전체보기를 권장합니다.\n닫기\n\n\n\n\n\n\n\n\n텍스트 음성 변환 서비스 사용하기\n\n\n\n성별\n남성\n여성\n\n\n말하기 속도\n느림\n보통\n빠름\n\n이동 통신망을 이용하여 음성을 재생하면 별도의 데이터 통화료가 부과될 수 있습니다.\n본문듣기 시작\n\n닫기\n\n\n \n\n글자 크기 변경하기\n\n\n\n가1단계\n작게\n\n\n가2단계\n보통\n\n\n가3단계\n크게\n\n\n가4단계\n아주크게\n\n\n가5단계\n최대크게\n\n\n\n\n\n\nSNS 보내기\n\n\n\n인쇄하기\n\n\n\n\n\n외국인·기관 ‘순매도’…개인 홀로 순매수 유지“고금리 지속·美 주식시장 조정 등 투심 위축”업종별 대체로 약세…의료·정밀기기 등 2%대↓시총 상위 약세…‘매수 경쟁 기대’ 영풍정밀 상한가[이데일리 박순엽 기자] 코스닥 지수가 외국인과 기관 투자자의 순매도세가 이어지면서 1%대 약세를 나타내고 있다. 24일 엠피닥터에 따르면 코스닥 지수는 이날 오후 2시 1분 현재 전 거래일 대비 8.30포인트(1.11%) 내린 736.89에 거래되고 있다. 코스닥 시장에선 외국인과 기관 투자자가 각각 923억원, 889억원치를 순매도하고 있으며, 개인 투자자가 홀로 1943억원 규모를 순매수하고 있다. 프로그램별로는 차익과 비차익을 합쳐 1094억원 매도 우위를 나타내고 있다. \n\n\n\n증권가에선 코스닥 지수가 고금리 지속과 미국 주식시장 조정에 투자심리가 위축되면서 전일 상승 폭을 반납하고 있다고 평가했다. 이재원 신한투자증권 연구원은 “외국인과 기관 투자자가 순매도로 전환하면서 대형주 위주의 약세가 나타나고 있다”며 “테슬라와 SK하이닉스의 실적 호조에도 미국 주식시장 조정 영향에 내림세를 보이고 있다”고 설명했다. 이날 코스닥 시장에선 업종별 대체로 약세를 나타내고 있다. 그중 의료·정밀기기(-2.12%), 일반전기전자(-1.86%), 출판·매체복제(-1.65%) 등의 하락 폭이 크게 나타나고 있다. 반면, 금융(-1.49%), 화학(-1.45%) 등의 업종도 약세다. 시가총액 상위종목은 대체로 약세를 나타내고 있다. 에코프로비엠(247540)은 전 거래일 대비 4800원(2.96%) 내린 15만 7400원을 가리키고 있고, 같은 시간 에코프로(086520) 역시 1500원(1.88%) 하락한 7만 8500원을 나타내고 있다. HLB(028300)와 엔켐(348370)도 각각 3.08%, 1.37% 내리고 있다. 반면, 알테오젠(196170)은 전 거래일 대비 6500원(0.26%) 상승한 38만 7000원을 나타내고 있고, 리가켐바이오(141080) 역시 2500원(1.95%) 오른 13만 400원을 기록하고 있다. 또 영풍정밀(036560)은 고려아연의 경영권 분쟁 속 장내 매수 경쟁 기대감이 반영되면서 전 거래일 대비 6000원(30.00%) 오른 2만 6000원을 가리키고 있다. 영풍정밀은 고려아연 지분을 1.85% 보유해 고려아연 경영권 분쟁의 캐스팅보트 역할을 하고 있다. 한편, 이날 코스닥 시장에 처음 상장한 씨메스(475400)는 공모가(3만원) 대비 4300원(14.33%) 내린 2만 5700원에 거래되고 있다. 씨메스는 장 초반엔 24.83%까지 오르기도 했으나 이후 매도 물량이 나오면서 약세 전환했다.\n\n'),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/014/0005257868'}, page_content='\n상업용 부동산 레고랜드 충격 잊었다[fn마켓워치]\n\n\n\n입력2024.10.24. 오후 2:04\n\n\n수정2024.10.24. 오후 2:21\n\n기사원문\n \n\n\n\n\n강구귀 기자\n\n\n\n\n\n\n\n\n\n\n강구귀 기자\n\n구독\n구독중\n\n\n\n\n구독자\n0\n\n\n응원수\n0\n\n\n\n더보기\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n추천\n\n\n\n\n쏠쏠정보\n0\n\n\n\n\n흥미진진\n0\n\n\n\n\n공감백배\n0\n\n\n\n\n분석탁월\n0\n\n\n\n\n후속강추\n0\n\n\n \n\n\n\n댓글\n\n\n\n\n\n본문 요약봇\n\n\n\n본문 요약봇도움말\n자동 추출 기술로 요약된 내용입니다. 요약 기술의 특성상 본문의 주요 내용이 제외될 수 있어, 전체 맥락을 이해하기 위해서는 기사 본문 전체보기를 권장합니다.\n닫기\n\n\n\n\n\n\n\n\n텍스트 음성 변환 서비스 사용하기\n\n\n\n성별\n남성\n여성\n\n\n말하기 속도\n느림\n보통\n빠름\n\n이동 통신망을 이용하여 음성을 재생하면 별도의 데이터 통화료가 부과될 수 있습니다.\n본문듣기 시작\n\n닫기\n\n\n \n\n글자 크기 변경하기\n\n\n\n가1단계\n작게\n\n\n가2단계\n보통\n\n\n가3단계\n크게\n\n\n가4단계\n아주크게\n\n\n가5단계\n최대크게\n\n\n\n\n\n\nSNS 보내기\n\n\n\n인쇄하기\n\n\n\n\n\n3분기 누적 6조6684억..2022년 1분기 후 최대 규모 \n\n\n\nCBRE코리아 제공 [파이낸셜뉴스] 상업용 부동산 투자 시장이 2022년 10월 레고랜드 사태(강원중도개발공사 회생 신청)의 충격을 잊었다.   글로벌 최대 종합 부동산 서비스 기업 CBRE코리아는 2024년 3·4분기 상업용 부동산 투자 시장 규모가 전 분기 대비 43% 증가한 6조6684억원을 기록했다고 24일 밝혔다. 2022년 1·4분기(약 7조4000억원) 이후 상업용 부동산 분기 거래 규모 중 최대 규모다.   2024년 3·4분기까지 누적 거래 규모는 약 15조5000억원으로 2023년 전체 규모인 14조8000억원을 이미 넘어섰다. 올해 4·4분기까지 예상되는 상업용 부동산 투자 시장 규모는 약 20조원에 육박할 것으로 보인다.   올해 3·4분기 상업용 부동산은 오피스 거래가 전체 거래의 57%(약 3조8030억원)로 시장 규모를 견인했다. 이어 물류 약 1조9267억원, 리테일 4797억원, 호텔 4590억원 순이다.   3·4분기 오피스 시장은 전략적투자자(SI) 대신 국내 투자자 중심의 투자 활동이 활발했다. 삼성SRA자산운용의 1조1040억원 규모 강남권역의 더에셋빌딩 매입, 캐피탈랜드투자운용의 4410억원에 골든타워 인수, 신한리츠운용의 씨티스퀘어 인수 등 코어 딜 규모 1조9731억원에 달했다.   반면 하나금융강남사옥 및 한화장교빌딩의 리츠 유동화 등 특수 거래는 1조900억원이다. 3·4분기 오피스 거래 규모의 약 29% 수준을 차지했다. 대기업 계열사간 특수 거래를 제외하면 그 회복세는 다소 제한적인 수준으로 보인다.   물류 시장은 지난 분기 1조3222억원 대비 45% 이상 증가했다. LB자산운용이 스위스계 파트너스 그룹과 함께 매입한 브릭 화성 물류센터가 이번 분기 유일한 코어 자산의 거래로 파악됐다. JB자산운용의 그린웨이브 시화 물류센터 등 최근 신규 공급된 자산의 선매입 투자 규모가 올해 3·4분기 물류 투자 시장의 약 60%를 차지하며 전체 규모를 견인했다.   3·4분기에는 총 5개의 신규 A급 물류센터가 약 63만3323㎡의 규모로 공급됐다. 선임차 계약 면적은 전체 규모의 5% 수준에 그친 것으로 확인됐다.   리테일은 외래 관광객 수가 올해 8월 기준 약 1067만명으로 팬데믹 직전인 2019년 동기 대비 93% 수준으로 회복돼 수혜로 작용했다. 메디컬 리테일의 확장이 두드러졌다. 강남과 명동, 홍대 등 전통상권을 중심으로 신규 개원 증가세를 보였다. 뷰티도 외래 관광객 수 증가에 따라 주요 역세권 중심으로 확장세를 보이고 있다. 도산대로, 한남, 성수 등 대부분의 주요 가두상권 공실률 및 임대료는 보합세를 보였다.   최수혜 CBRE 코리아 리서치 총괄 상무는 “3·4분기 상업용 부동산 시장을 이끈 오피스 시장의 거래 규모 증가는 적극적인 시장 회복의 신호로 해석될 수도 있으나 불확실한 경제 상황 및 금리 변동에 따른 유동성 제약, PF(프로젝트 파이낸싱) 리스크 등을 고려할 때 온전한 시장 회복에는 시간이 걸릴 것으로 예상된다”며 “그럼에도 올해 상업용 부동산 시장 규모의 회복은 국내 투자 시장의 긍정적인 전환점이 되고 있다”고 말했다.  #CBRE #상업용 부동산 #오피스  \n\n'),
 Document(metadata={'source': 'https://n.news.naver.com/mnews/article/015/0005048418'}, page_content='\n"오늘도 지옥이네요"…1300억 쓸어담은 개미들 \'눈물\' [종목+]\n\n\n\n입력2024.10.24. 오후 2:02\n\n\n수정2024.10.24. 오후 2:05\n\n기사원문\n \n\n\n\n\n진영기 기자\n\n\n\n\n\n\n\n\n\n\n진영기 기자\n\n구독\n구독중\n\n\n\n\n구독자\n0\n\n\n응원수\n0\n\n\n\n더보기\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n추천\n\n\n\n\n쏠쏠정보\n0\n\n\n\n\n흥미진진\n0\n\n\n\n\n공감백배\n0\n\n\n\n\n분석탁월\n0\n\n\n\n\n후속강추\n0\n\n\n \n\n\n\n댓글\n\n\n\n\n\n본문 요약봇\n\n\n\n본문 요약봇도움말\n자동 추출 기술로 요약된 내용입니다. 요약 기술의 특성상 본문의 주요 내용이 제외될 수 있어, 전체 맥락을 이해하기 위해서는 기사 본문 전체보기를 권장합니다.\n닫기\n\n\n\n\n\n\n\n\n텍스트 음성 변환 서비스 사용하기\n\n\n\n성별\n남성\n여성\n\n\n말하기 속도\n느림\n보통\n빠름\n\n이동 통신망을 이용하여 음성을 재생하면 별도의 데이터 통화료가 부과될 수 있습니다.\n본문듣기 시작\n\n닫기\n\n\n \n\n글자 크기 변경하기\n\n\n\n가1단계\n작게\n\n\n가2단계\n보통\n\n\n가3단계\n크게\n\n\n가4단계\n아주크게\n\n\n가5단계\n최대크게\n\n\n\n\n\n\nSNS 보내기\n\n\n\n인쇄하기\n\n\n\n\n\n아모레퍼시픽, 이달 들어 16% \'하락\'외국인 1130억 순매도…개인 투자자 대부분 평가손실"북미 외 지역 실적 개선·중국 구조조정 완료되면 주가 상승"\n\n\n\n아모레퍼시픽 본사. 사진=한경DB"오늘도 지옥이네요." (네이버 종목 토론방)아모레퍼시픽에 투자한 개인 투자자의 근심이 커지고 있다. 주가가 \'12만원대 늪\'을 빠져나오지 못하면서다. 설상가상으로 다음주 발표될 3분기 실적도 부진할 것으로 예상된다. 증권가에선 북미 외 지역 실적이 개선되고, 중국법인 구조조정이 끝나야 주가 반등의 기회를 노릴 수 있을 것으로 전망했다.24일 오후 1시55분 현재 유가증권 시장에서 아모레퍼시픽은 전일 대비 300원(0.24%) 내린 12만3600원에 거래되고 있다. 3거래일 연속 하락세다. 지난 7월 말까지 18만원을 웃돌았던 아모레퍼시픽은 8월 폭락장 당시 11만7900까지 밀린 후 9월 들어 소폭 회복하는 모습을 보였지만, 이달 초부터 전날까지 16.25% 다시 하락하며 12만원대 초반에 머무르고 있다.기관과 외국인이 쏟아낸 물량을 개인이 받아내는 모습이다. 이달 들어 전날까지 외국인은 1132억원, 기관은 166억원어치를 순매도했다. 반면 개인은 1287억원을 순매수했다. 이 기간 아모레퍼시픽은 이 기간 개인 순매수 8위에 올랐다.주가 흐름이 부진해 대부분의 개인 투자자들은 손해를 보고 있는 것으로 추정된다. 지난 22일 기준 NH투자증권을 통해 아모레퍼시픽에 투자한 1만9860명 중 손실투자자 비율은 92.13%에 달했다. 투자자들의 평균 손실률은 29.69%로 집계됐다. 평균단가는 18만7717원이다. 전날 종가(12만2500원)에서 53% 올라야 수익권에 진입할 수 있다.실적 우려에 상승 동력이 약해진 것으로 풀이된다. 금융정보업체 에프앤가이드에 따르면 전날 기준 아모레퍼시픽의 3분기 영업이익 추정치는 446억원으로 3개월 전(1085억원)에 비해 반토막 났다. 매출액 추정치도 1조898억원에서 9824억원으로 하향 조정됐다. 아모레퍼시픽은 오는 31일 3분기 실적을 공개한다.중국 법인은 아모레퍼시픽의 아픈 손가락으로 꼽힌다. 아모레퍼시픽은 중국 오프라인 매장을 줄이고 인력을 재배치하는 등 수익성 개선을 위한 작업을 진행하고 있다. 작업 비용 영향으로 연말까지 중국 법인은 적자를 낼 것으로 예상된다.이지원 흥국증권 연구원은 "아모레퍼시픽의 3분기 영업이익은 390억원으로 시장 기대치를 밑돌 것으로 예상된다"며 "중국 사업을 구조조정하며 관련 손실이 커졌기 때문"이라고 설명했다. 흥국증권은 중국 관련 적자 규모가 최대 500억원에 달할 것으로 봤다. 이 증권사는 아모레퍼시픽의 목표주가를 기존 16만원에서 15만원으로 낮췄다.다만 중국과 달리 북미 지역에선 성과를 내고 있다. 지난해 자회사로 편입한 코스알엑스(COSRX), 자체브랜드인 라네즈, 이니스프리가 북미 시장에서 주목받으면서다. 이 연구원은 "최근 진행된 \'아마존 프라임 데이\'에서 코스알엑스, 라네즈의 핵심 제품이 아마존 베스트셀러 상위권에 올라가 있는 것을 확인했다"며 "특히 코스알엑스는 견고한 브랜드파워를 바탕으로 2025~2026년 영업이익률 25.2~26.8%를 기록할 것"이라고 전망했다.대신증권은 부진의 끝이 보인다며 아모레퍼시픽에 목표주가 17만원을 제시했다. 이 증권사 정한솔 연구원은 "코스알엑스와 자체 브랜드의 서구권 매출 확대 기대감과 중국 실적 우려가 동시에 반영돼 변동성이 큰 모습을 보이고 있다"며 "주가가 안정적으로 오르기 위해선 북미 외 지역에서 성장성을 증명해야 하고, 중국 법인의 실적 개선도 가시화할 필요가 있다"고 덧붙였다.\n\n'),

#### TextLoader

.txt 확장자를 가지는 파일 로드

<br>

> ```python
> loader = loader = TextLoader(<path>)
> 
> documents = loader.load()   # 전체 문서 로드
> documents = loader.get_summaries_as_docs()  # 요약 문서 로드
> ```

<br>

디렉토리 내 대량 파일 로드 <br>

```python
loader = DirectoryLoader(
    <path>,
    glob='**/*.txt',
    loader_cls=TextLoader,
    silent_errors=True, # 로드 불가 파일 skip
    loader_kwargs={'autodetect_encoding': True},    # encoding 자동 감지
)
docs = loader.load()
```

In [193]:
# TextLoader 클래스를 사용하여 './data/keywords.txt' 파일을 로드합니다.
loader = TextLoader('./data/keywords.txt')

# 로드한 파일의 내용을 documents 변수에 저장합니다.
documents = loader.load()

In [197]:
# DirectoryLoader 클래스를 사용하여 './data' 디렉토리에서 .txt 파일들을 로드합니다.
loader = DirectoryLoader(
    './data',                      # 파일을 로드할 디렉토리 경로
    glob='*.txt',                 # 로드할 파일의 패턴 (여기서는 모든 .txt 파일)
    loader_cls=TextLoader,        # 각 파일을 로드할 때 사용할 클래스
    silent_errors=True,           # 오류 발생 시 조용히 처리하도록 설정
    loader_kwargs={'autodetect_encoding': True},  # 로더에 전달할 추가 인수 (인코딩 자동 감지)
)

# 설정된 로더를 사용하여 파일들을 로드하고, 결과를 documents 변수에 저장합니다.
documents = loader.load()

# 로드된 documents 변수를 출력하여 내용을 확인합니다.
documents

[Document(metadata={'source': 'data\\keywords.txt'}, page_content='GPT (Generative Pretrained Transformer)\n\n정의: GPT는 대규모 데이터셋으로 사전 훈련된 생성적 언어 모델로, 다양한 텍스트 기반 작업에 활용됩니다.\n예시: 사용자가 제공한 질문에 대해 자세한 답변을 생성하는 챗봇은 GPT 모델을 사용할 수 있습니다.\n연관키워드: 자연어 처리, 텍스트 생성, 딥러닝\n\nAttention 메커니즘\n\n정의: Attention 메커니즘은 딥러닝에서 중요한 정보에 더 많은 \'주의\'를 기울이도록 하는 기법입니다.\n예시: 번역 모델에서 Attention 메커니즘은 입력 문장의 중요한 부분에 더 집중하여 정확한 번역을 생성합니다.\n연관키워드: 딥러닝, 자연어 처리, 시퀀스 모델링\n\n판다스 (Pandas)\n\n정의: 판다스는 파이썬 프로그래밍 언어를 위한 데이터 분석 및 조작 도구를 제공하는 라이브러리입니다.\n예시: 판다스를 사용하여 CSV 파일을 읽고, 데이터를 정제하며, 다양한 분석을 수행할 수 있습니다.\n연관키워드: 데이터 분석, 파이썬, 데이터 처리\n\nDeep Learning\n\n정의: 딥러닝은 인공신경망을 이용하여 복잡한 문제를 해결하는 머신러닝의 한 분야입니다.\n예시: 이미지 인식, 음성 인식, 자연어 처리 등에서 딥러닝 모델이 활용됩니다.\n연관키워드: 인공신경망, 머신러닝, 데이터 분석\n\nDataFrame\n\n정의: DataFrame은 행과 열로 이루어진 테이블 형태의 데이터 구조로, 주로 데이터 분석 및 처리에 사용됩니다.\n예시: 판다스 라이브러리에서 DataFrame은 다양한 데이터 타입의 열을 가질 수 있으며, 데이터 조작과 분석을 용이하게 합니다.\n연관키워드: 데이터 분석, 판다스, 데이터 처리\n\nLLM (Large Language Model)\n\n정의: LLM은 대규모의 텍스트 데이터로 훈련된 큰 규모의 언어 모델을 의미합니다.\n예시: OpenAI의 GPT 시리즈는 대표적인 대규모 언어 모델입니다.\n연관키워드: 자연어 처리, 딥러닝, 텍스트 생성\n\nHuggingFace\n\n정의: HuggingFace는 자연어 처리를 위한 다양한 사전 훈련된 모델과 도구를 제공하는 라이브러리입니다.\n예시: HuggingFace의 Transformers 라이브러리를 사용하여 감정 분석, 텍스트 생성 등의 작업을 수행할 수 있습니다.\n연관키워드: 자연어 처리, 딥러닝, 라이브러리\n\nTransformer\n\n정의: 트랜스포머는 자연어 처리에서 사용되는 딥러닝 모델의 한 유형으로, 주로 번역, 요약, 텍스트 생성 등에 사용됩니다.\n예시: 구글 번역기는 트랜스포머 모델을 사용하여 다양한 언어 간의 번역을 수행합니다.\n연관키워드: 딥러닝, 자연어 처리, Attention\n\nSQL\n\n정의: SQL(Structured Query Language)은 데이터베이스에서 데이터를 관리하기 위한 프로그래밍 언어입니다.\n예시: SELECT * FROM users WHERE age > 18;은 18세 이상의 사용자 정보를 조회합니다.\n연관키워드: 데이터베이스, 쿼리, 데이터 관리\n\nJSON\n\n정의: JSON(JavaScript Object Notation)은 경량의 데이터 교환 형식으로, 사람과 기계 모두에게 읽기 쉬운 텍스트를 사용하여 데이터 객체를 표현합니다.\n예시: {"이름": "홍길동", "나이": 30, "직업": "개발자"}는 JSON 형식의 데이터입니다.\n연관키워드: 데이터 교환, 웹 개발, API\n\nCSV\n\n정의: CSV(Comma-Separated Values)는 데이터를 저장하는 파일 형식으로, 각 데이터 값은 쉼표로 구분됩니다.\n예시: 이름, 나이, 직업이라는 헤더를 가진 CSV 파일에는 홍길동, 30, 개발자와 같은 데이터가 포함될 수 있습니다.\n연관키워드: 데이터 형식, 파일 처리, 데이터 교환\n\nStructured Data\n\n정의: 구조화된 데이터는 정해진 형식이나 스키마에 따라 조직된 데이터입니다.\n예시: 관계형 데이터베이스에 저장된 고객 정보 테이블은 구조화된 데이터의 예입니다.\n연관키워드: 데이터베이스, 데이터 분석, 데이터 모델링\n\nTF-IDF (Term Frequency-Inverse Document Frequency)\n\n정의: TF-IDF는 문서 내에서 단어의 중요도를 평가하는 데 사용되는 통계적 척도입니다.\n예시: 많은 문서에서 자주 등장하지 않는 단어는 높은 TF-IDF 값을 가집니다.\n연관키워드: 자연어 처리, 정보 검색, 데이터 마이닝\n\nSemantic Search\n\n정의: 의미론적 검색은 사용자의 질의를 단순한 키워드 매칭을 넘어서 그 의미를 파악하여 관련된 결과를 반환하는 검색 방식입니다.\n예시: 사용자가 "태양계 행성"이라고 검색하면, "목성", "화성" 등과 같이 관련된 행성에 대한 정보를 반환합니다.\n연관키워드: 자연어 처리, 검색 알고리즘, 데이터 마이닝\n\nToken\n\n정의: 토큰은 텍스트를 더 작은 단위로 분할하는 것을 의미합니다.\n예시: 문장 "나는 학교에 간다"를 "나는", "학교에", "간다"로 분할합니다.\n연관키워드: 토큰화, 자연어 처리, 구문 분석\n\nTokenizer\n\n정의: 토크나이저는 텍스트 데이터를 토큰으로 분할하는 도구입니다.\n예시: "I love programming."이라는 문장을 ["I", "love", "programming", "."]으로 분할합니다.\n연관키워드: 토큰화, 자연어 처리, 구문 분석\n\nVectorStore\n\n정의: 벡터스토어는 벡터 형식으로 변환된 데이터를 저장하는 시스템입니다.\n예시: 단어 임베딩 벡터들을 데이터베이스에 저장하여 빠르게 접근할 수 있습니다.\n연관키워드: 임베딩, 데이터베이스, 벡터화\n\nCrawling\n\n정의: 크롤링은 자동화된 방식으로 웹 페이지를 방문하여 데이터를 수집하는 과정입니다.\n예시: 구글 검색 엔진이 인터넷 상의 웹사이트를 방문하여 콘텐츠를 수집하고 인덱싱하는 것이 크롤링입니다.\n연관키워드: 데이터 수집, 웹 스크래핑, 검색 엔진\n\nWord2Vec\n\n정의: Word2Vec은 단어를 벡터 공간에 매핑하여 단어 간의 의미적 관계를 나타내는 자연어 처리 기술입니다.\n예시: Word2Vec 모델에서 "왕"과 "여왕"은 서로 가까운 위치에 벡터로 표현됩니다.\n연관키워드: 자연어 처리, 임베딩, 의미론적 유사성\n\nFAISS (Facebook AI Similarity Search)\n\n정의: FAISS는 페이스북에서 개발한 고속 유사성 검색 라이브러리로, 특히 대규모 벡터 집합에서 유사 벡터를 효과적으로 검색할 수 있도록 설계되었습니다.\n예시: 수백만 개의 이미지 벡터 중에서 비슷한 이미지를 빠르게 찾는 데 FAISS가 사용될 수 있습니다.\n연관키워드: 벡터 검색, 머신러닝, 데이터베이스 최적화\n')]

#### JSON

json 파일 로드

<br>

> ```python
> loader = JSONLoader(
>     file_path=<path>,
>     jq_schema='.[].phoneNumbers',
>     text_content=False,
> )
> 
> documents = loader.load()   # 전체 문서 로드
> documents = loader.get_summaries_as_docs()  # 요약 문서 로드
> ```

<br>

ex) jq_schema
> ```
> [
>     {
>         "name": "Alice",
>         "phoneNumbers": ["123-456-7890", "987-654-3210"]
>     },
>     {
>         "name": "Bob",
>         "phoneNumbers": ["555-555-5555"]
>     }
> ]
> ```

-> ["123-456-7890", "987-654-3210", "555-555-5555"]와 같은 배열을 반환

In [225]:
# JSONLoader 클래스를 사용하여 './data/phone_numbers.json' 파일에서 데이터를 로드합니다.
loader = JSONLoader(
    file_path='./data/phone_numbers.json',  # 로드할 JSON 파일의 경로
    jq_schema='.[].name',                    # JQ 쿼리를 사용하여 각 항목의 'name' 필드를 선택
    text_content=False                       # 텍스트 내용은 로드하지 않도록 설정
)

# 설정된 로더를 사용하여 JSON 데이터를 로드합니다.
loader.load()

[Document(metadata={'source': 'C:\\Users\\USER\\Documents\\git\\2024-08-05_Encore\\day52\\data\\phone_numbers.json', 'seq_num': 1}, page_content='Alice'),
 Document(metadata={'source': 'C:\\Users\\USER\\Documents\\git\\2024-08-05_Encore\\day52\\data\\phone_numbers.json', 'seq_num': 2}, page_content='Bob')]

In [229]:
# JSONLoader 클래스를 사용하여 './data/test.json' 파일에서 데이터를 로드합니다.
loader = JSONLoader(
    file_path='./data/test.json',            # 로드할 JSON 파일의 경로
    jq_schema='.[].role, .[].content',       # JQ 쿼리를 사용하여 각 항목의 'role'과 'content' 필드를 선택
    text_content=False                        # 텍스트 내용은 로드하지 않도록 설정
)

# 설정된 로더를 사용하여 JSON 데이터를 로드합니다.
loader.load()

[Document(metadata={'source': 'C:\\Users\\USER\\Documents\\git\\2024-08-05_Encore\\day52\\data\\test.json', 'seq_num': 1}, page_content='system'),
 Document(metadata={'source': 'C:\\Users\\USER\\Documents\\git\\2024-08-05_Encore\\day52\\data\\test.json', 'seq_num': 2}, page_content='user'),
 Document(metadata={'source': 'C:\\Users\\USER\\Documents\\git\\2024-08-05_Encore\\day52\\data\\test.json', 'seq_num': 3}, page_content='assistant'),
 Document(metadata={'source': 'C:\\Users\\USER\\Documents\\git\\2024-08-05_Encore\\day52\\data\\test.json', 'seq_num': 4}, page_content='기업공시 요약을 위한 봇이다.'),
 Document(metadata={'source': 'C:\\Users\\USER\\Documents\\git\\2024-08-05_Encore\\day52\\data\\test.json', 'seq_num': 5}, page_content="1. 회사의 개요 가. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 사업보고서, 분기ㆍ반기보고서를 제출하는 경우에 한함)※ 연결대상 종속회사 현황(요약) 1. 연결대상 종속회사 개황(연결재무제표를 작성하는 주권상장법인이 사업보고서, 분기ㆍ반기보고서를 제출하는 경우에 한함)연결대상 종속회사 현황(요약) (단위 : 사) 구분 연결대상회사수 주요종속회사수 기초 증가 감소 기말 상장 - - - - - 비상장 5 - - 5 - 합계 5 - - 5 - ※상세 현황은 '상세표-1. 연결대상 종속회사 현황(상세)' 참조 가-1. 연결대상회사의 변동내용 1-1. 연결대상회사의 변동내용 구 분 자회사 사 유 신규연결 - - - - 연결제외 - - - - 나. 회사의 법적ㆍ상업적 명칭 당사의 명칭은「컨버즈주식회사」라 표기하며, 영문으로는 CONBUZZ INC. (약호: CONBUZZ)라 표기 합니다.다. 설립일자 당사는 2009년 2월 17일자로 주식회사 이엔페이퍼로부터 분할되어 2009년 2월 25일 설립된 회사입니다.라. 본사의 주소, 전화번호 및 홈페이지(1) 주 소 : 충청남도 당진시 시곡로 307(2) 전 화 : 070)7563-6333(3) 홈페이지 : http://www.conbuzz.co.kr마. 회사사업 영위의 근거가 되는 법률당사는 상법에 의거 영리를 목적으로 설립된 회사입니다.바. 중소기업 등 해당 여부 중소기업 등 해당 여부 중소기업 해당 여부 해당 벤처기업 해당 여부 미해당 중견기업 해당 여부 미해당 사. 주요 사업의 내용 및 향후 추진하려는 신규사업(1) 주요 사업의 내용 1. 정보통신기기 제조 및 판매업1. 정보통신기기 수출입 및 도소매1. 정보통신 서비스업1. 정보통신망 설계구축 및 자문업1. 정보통신공사업1. 차량용 블랙박스 개발, 제조 및 판매업1. 각종 지류의 제조, 가공 및 판매업1. 보안솔루션제품의 개발, 제조 및 판매업1. 보안솔루션제품의 수출입 및 도소매 ※ 상세한 내용은 동 공시서류의 'II.사업의 내용'을 참조하시기 바랍니다. (2) 향후 추진하려는 신규사업 1. 2차전지 및 장비 제조업 1. 2차전지 및 2차전지 소재의 제조 및 판매업 1. 2차전지 부품 및 모듈 제조, 조립 및 판매업 1. 자동차용 및 에너지 저장용 배터리의 개발, 제조, 판매 및 관련 부가사업 아. 계열회사에 관한 사항당사는 본 보고서 작성기준일 현재 당사를 제외하고 5개의 비상장 계열회사를 가지고 있습니다. 계열회사에 관한 세부내역은 'IX. 계열회사 등에 관한 사항'을 참조하시기 바랍니다.자. 신용평가에 관한 사항※ 해당사항 없음 차. 회사의 주권상장(또는 등록ㆍ지정)여부 및 특례상장에 관한 사항 주권상장(또는 등록ㆍ지정)여부 주권상장(또는 등록ㆍ지정)일자 특례상장 등여부 특례상장 등적용법규 유가증권시장 2009년 03월 17일 해당사항 없음 해당사항 없음"),
 Document(metadata={'source': 'C:\\Users\\USER\\Documents\\git\\2024-08-05_Encore\\day52\\data\\test.json', 'seq_num': 6}, page_content='보통신기기 제조 및 판매, 정보통신 서비스업, 차량용 블랙박스 제조 및 판매, 보안솔루션 제품 개발 및 판매 사업을 영위하고 있습니다.')]

#### Arxiv

arxiv에서 데이터 접근
- arxiv: 수학, 컴퓨터 과학 등 학술 논문을 위한 오픈 엑세스 아카이브

<br>

> ```python
> loader = ArxivLoader(
>     query='Deep Learning',
>     load_max_docs=10,  # 최대 문서 수
>     load_all_available_meta=False,  # 메타데이터 전체 로드 여부
> )
> 
> documents = loader.load()   # 전체 문서 로드
> documents = loader.get_summaries_as_docs()  # 요약 문서 로드
>

In [205]:
# ArxivLoader 클래스를 사용하여 'large language model'에 대한 논문을 로드합니다.
loader = ArxivLoader(
    query='large language model',  # Arxiv에서 검색할 쿼리
    load_max_docs=10,              # 최대 10개의 문서를 로드하도록 설정, 현재 동작하지 않음
)

# 설정된 로더를 사용하여 논문 데이터를 로드하고, 결과를 documents 변수에 저장합니다.
documents = loader.load()

In [206]:
documents

[Document(metadata={'Published': '2023-06-12', 'Title': 'Lost in Translation: Large Language Models in Non-English Content Analysis', 'Authors': 'Gabriel Nicholas, Aliya Bhatia', 'Summary': "In recent years, large language models (e.g., Open AI's GPT-4, Meta's LLaMa,\nGoogle's PaLM) have become the dominant approach for building AI systems to\nanalyze and generate language online. However, the automated systems that\nincreasingly mediate our interactions online -- such as chatbots, content\nmoderation systems, and search engines -- are primarily designed for and work\nfar more effectively in English than in the world's other 7,000 languages.\nRecently, researchers and technology companies have attempted to extend the\ncapabilities of large language models into languages other than English by\nbuilding what are called multilingual language models.\n  In this paper, we explain how these multilingual language models work and\nexplore their capabilities and limits. Part I provides a simple technical\nexplanation of how large language models work, why there is a gap in available\ndata between English and other languages, and how multilingual language models\nattempt to bridge that gap. Part II accounts for the challenges of doing\ncontent analysis with large language models in general and multilingual\nlanguage models in particular. Part III offers recommendations for companies,\nresearchers, and policymakers to keep in mind when considering researching,\ndeveloping and deploying large and multilingual language models."}, page_content='Lost in Translation\nMay 2023\nA report from\nGabriel Nicholas\nAliya Bhatia\nLarge Language Models in \nNon-English Content Analysis\nGABRIEL NICHOLAS\nResearch Fellow at the Center for Democracy & Technology.\nALIYA BHATIA\nPolicy Analyst, Free Expression Project at the Center for \nDemocracy & Technology.\nThe Center for Democracy & Technology (CDT) is the leading \nnonpartisan, nonprofit organization fighting to advance civil rights and \ncivil liberties in the digital age. We shape technology policy, governance, \nand design with a focus on equity and democratic values. Established in \n1996, CDT has been a trusted advocate for digital rights since the earliest \ndays of the internet. The organization is headquartered in Washington, \nD.C., and has a Europe Office in Brussels, Belgium.\nA report from\nGabriel Nicholas and Aliya Bhatia\nWITH CONTRIBUTIONS BY\nSamir Jain, Mallory Knodel, Emma Llansó, Michal Luria, Nathalie Maréchal, Dhanaraj Thakur, and \nCaitlin Vogus.\nACKNOWLEDGMENTS \nWe thank Pratik Joshi, Sebastin Santy, and Aniket Kesari for their invaluable feedback on the technical \naspects of this report. We also thank Jacqueline Rowe, Damini Satija, and Ángel Díaz for their \ninsightful comments and suggestions. The translation of our executive summary is made possible by \nGlobal Voices Translations and with the help of Iverna McGowan, Maria Villamar, Ophélie Stockhem, \nand Tomás Pomar. All views in this report are those of CDT. \nThis work is made possible through a grant from the John S. and James L. Knight Foundation.\nSuggested Citation: Nicholas, G. and Bhatia, A. (2023) Lost in Translation: Large Language Models \nin Non-English Content Analysis. Center for Democracy & Technology. https://cdt.org/insights/lost-\nin-translation-large-language-models-in-non-english-content-analysis/\nReferences in this report include original links and links archived and shortened by the Perma.cc service. \nThe Perma.cc links also contain information on the date of retrieval and archive. \nThis report is licensed under a Creative Commons Attribution 4.0 International License.\nLost in Translation\nLarge Language Models in Non-\nEnglish Content Analysis\nLost in Translation\nCDT Research\n4\nCDT Research\n4\nContents\nExecutive Summary\x08\n5\nIntroduction\x08\n8\nI.\t Background\x08\n12\nA. How Large Language Models Work\x08\n12\nB. The Resourcedness Gap: Why the Largest Language \nModels are in English\x08\n15\nC. Multilingual Language Models: Efforts to Bridge the \nResourcedness Gap\x08\n19\nII.\t Limitations of Language Models in English and \nNon-English Contexts\x08\n23\nA. Concerns with Building and Deploying Large \nLanguage Models\x08\n23\nB. Limitations of Multilingual Language Models\x08\n25\nIII.\tRecommendations\x08\n31\nA. Companies\x08\n31\nB. Researchers and Funders\x08\n33\nC. Governments\x08\n36\nWorks Cited\x08\n39\n5\nLost in Translation\nExecutive \nSummary\nT\nhe internet is the primary source of information, economic \nopportunity, and community for many around the world. \nHowever, the automated systems that increasingly mediate our \ninteractions online — such as chatbots, content moderation \nsystems, and search engines — are primarily designed for and work far \nmore effectively in English than in the world’s other 7,000 languages.\nIn recent years, large language models have become the dominant \napproach for building AI systems to analyze and generate language \nonline, but again, they have been built primarily for the English \nlanguage. A large language model (e.g., Open AI’s GPT-4, Meta’s \nLLaMa, Google’s PaLM) is a machine learning algorithm that scans \nenormous volumes of text to learn which words and sentences \nfrequently appear near one another and in what context. Large language \nmodels can be adapted to perform a wide range of tasks across different \ndomains. They are most known for being used to build chatbots, \nsuch as ChatGPT, but researchers and technology companies also \nuse them for content analysis tasks, such as sentiment analysis, text \nsummarization, and hate speech detection. Google, Meta, Microsoft, \nand other companies have already incorporated large language models \ninto their core product functions, such as content moderation and \nsearch. Other vendors soon may incorporate them into automated \ndecision-making systems, such as resume scanners.\nRecently though, researchers and technology companies have attempted \nto extend the capabilities of large language models into languages other \nthan English by building what are called multilingual language models. \nInstead of being trained on text from only one language, multilingual \nlanguage models are trained on text from dozens or hundreds of \nlanguages at once. Researchers posit that multilingual language models \ninfer connections between languages, allowing them to apply word \nassociations and underlying grammatical rules learned from languages \nwith more text data available to train on (in particular English) to \nthose with less. In some applications, multilingual language models \noutperform models trained on only one language — for instance, a \nmodel trained on lots of text from lots of languages, including Hindi, \nmight perform better in Hindi contexts than a model just trained on \nHindi text.\nMultilingual language models give technology companies a way to scale \ntheir AI systems to many languages at once, and some have already \nbegun to integrate them into their products. Online service providers \nin particular have deployed multilingual language models to moderate \nLost in Translation\nCDT Research\n6\ncontent: Meta uses a multilingual language model to detect harmful content on its \nplatforms in over 100 languages; Alphabet’s Perspective API uses one to detect toxic \ncontent in eighteen different languages; Bumble uses one to detect and take action on \nunwanted sexual messages around the world.\nMultilingual language models allow technologists to attempt to build models in languages \nfor which they otherwise might not have enough digitized text. Languages vary widely \nin resourcedness, or the volume, quality, and diversity of text data they have available to \ntrain language models on. English is the highest resourced language by multiple orders of \nmagnitude, but Spanish, Chinese, German, and a handful of other languages are sufficiently \nhigh resource enough to build language models in. Medium resource languages, with fewer \nbut still high-quality data sets, such as Russian, Hebrew, and Vietnamese, and low resource \nlanguages, with almost no training data sets, such as Amharic, Cherokee, and Haitian \nCreole, have too little text for training their own large language models. Language data in \nlow resource languages is also often of particularly poor quality: either it is mistranslated or \neven nonsensical language scraped from the internet, or is limited to sources with narrow \ndomains, such as religious texts and Wikipedia. This gap in data availability between \nlanguages is known as the resourcedness gap.\nMultilingual language models are designed to address these gaps in data availability by \ninferring semantic and grammatical connections between higher- and lower-resource \nlanguages, allowing the former to bootstrap the latter. However, this architecture \nraises its own concerns. Multilingual language models are still usually trained \ndisproportionately on English language text and thus end up transferring values and \nassumptions encoded in English into other language contexts where they may not \nbelong. For example, a multilingual model might associate the word “dove” in all \nlanguages with “peace” even though the Basque word for dove (“uso”) can be an insult. \nThe disparity in available data also means multilingual language models work far better \nin higher resource languages and languages similar to them than lower resource ones. \nModel developers will sometimes try to fill in these gaps with machine-translated text, \nbut translation errors may further compound language misrepresentation. And when \nmultilingual language models do fail, their unintuitive connections between languages \ncan make those problems harder to identify, diagnose, and fix.\nLarge language models’ general use in content analysis raises further concerns. \nComputational linguists argue that large language models are limited in their capacity \nto analyze forms of expression not included in their training data, meaning they may \nstruggle to perform in new contexts. They may also reproduce any biases present in \ntheir training data. Often, this text is scraped from the internet, meaning that large \nlanguage models may encode and reinforce dominant views expressed online.\nLarge Language Models in Non-English Content Analysis\n7\n\u200bCompanies, researchers, and governments each have a role to play in protecting the \npublic from the potential dangers of multilingual language model content analysis \nsystems. To ensure better public accountability, companies that deploy large language \nmodels should always be transparent about how they use them and in which languages. \nCompanies should deploy language models with narrow remits and adequate channels \nfor human review.\nResearchers and research funders meanwhile should invest in efforts to improve the \nuse and performance of language models in languages other than English, in particular, \nto reduce failures that disparately impact speakers of lower-resourced languages. The \nbest way to do this is by supporting language-specific research communities, who can \npromote the virtuous cycle of collecting data, curating datasets, training language \nmodels, publishing, and building applications. Local language speakers and context \nexperts need to be part of each step of this process and also be curating the data and \nassessing the language models deployed by large, global online services.\nFinally, governments need to be careful about how they use or encourage the use of \nlarge language models. Large language models should never power systems used to make \nhigh-stakes decisions without oversight, such as decisions about immigration status or \nhealthcare, nor should governments mandate or inadvertently require by law the use of \nlarge language model-powered systems to moderate content from online services. Instead, \ngovernments should convene different stakeholders to align on what norms and guardrails \nshould be around developing and deploying large language models.\nLarge language models in general and multilingual language models in particular \nhave the potential to create new economic opportunities and improve the web for \nall. However, mis- or over-application of these technologies poses real threats to \nindividuals’ rights, such as undermining their right to free expression by inaccurately \ntaking down a person’s post on social media or their right to be free of discrimination \nby misinterpreting an individual’s job or visa application. Multilingual language \nmodels specifically can inadvertently further entrench the Anglocentrism they are \nintended to address. In light of these limitations, technology companies, researchers, \nand governments must consider potential human and civil rights risks when studying, \nprocuring, developing, or using multilingual language models to power systems, in \nparticular when they are used to make critical information available or play a role \nin decisions affecting people’s access to economic opportunities, liberty, or other \nimportant interests or rights.\nExecutive Summary\nLost in Translation\nCDT Research\n8\nIntroduction\nD\nespite the modern internet’s power to mobilize and connect \npeople around the world, the web still does not reflect the \nlinguistic diversity of its users. In particular, the automated \nsystems that increasingly mediate our interactions online — \nsuch as chatbots, search engines, and content moderation systems — \nare built using and perform far better on English-language text than \nthe world’s other 7,000 languages (Kornai, 2013; Sengupta, 2022). \nIndividuals speaking languages other than English face barriers to \nexpressing themselves freely online and may face greater challenges \nwhen it comes to accessing critical information, public services, and \neven asylum and safety (Torbati, 2019).\nIn the last few years, however, there have been rapid advancements in \ndeveloping machine learning tools that can analyze content in a wide \nvariety of languages and across different domains. Large language \nmodels, machine learning tools trained on enormous amounts of text \nto recognize patterns in language, power many of these systems. Large \nlanguage models already underlie translation apps, search autocomplete, \nand chatbots such as ChatGPT. They are known for being adaptable to \nmany different language tasks, and today, researchers and technologists \nare constantly on the lookout for new applications and contexts \nin which to deploy them. Since the late 2010s, major U.S.-based \ntechnology companies have mostly invested in building large language \nmodels that work primarily for English, such as Open AI’s GPT-4, \nMeta’s LLaMa, and Google’s PaLM.\nRecently, companies and researchers have begun building and researching \nmultilingual language models, large language models trained on text \ndata from several different languages at once. Meta’s XLM-RoBERTa \n(XLM-R) for instance is trained on text from 100 languages (Meta AI, \n2019) at once. Google’s mBERT, a multilingual version of its popular \nBERT model, is trained on 104 languages. Researchers claim that these \nmodels extend the multifaceted capabilities of large language models to \nlanguages other than English, even to languages for which there is little or \nno text data for the model to learn from (Artetxe & Schwenk, 2019; Wu \n& Dredze, 2019).\nTechnology companies have their own interests in improving how \nwell large language models work in different languages. Some may \nwant to make their products available in multiple languages to gain a \ncompetitive edge in emerging and populous markets. Online services \nLarge Language Models in Non-English Content Analysis\n9\nthat host user-generated content may especially be interested in using multilingual \nlanguage models to detect and take action on hate speech, disinformation, and other \ncontent that violates their policies or the law (Dulhanty et al., 2019). This is top of \nmind for services after facing criticism for not taking more aggressive action against \ncontent that incited violence and genocide in Ethiopia, Nigeria, and Myanmar, among \nothers. Services have begun to deploy multilingual language models into their content \nmoderation systems: Meta claims their XLM-R model can detect harmful content \nin all 100 languages it is trained on (Meta AI, 2021); Alphabet’s Perspective API uses \na large language model to detect toxic content in eighteen different languages (Lees \net al., 2022); Bumble uses one to detect rude and abusive messages in at least fifteen \nlanguages (Belloni, 2021). Technology companies are also repurposing these models to \nmake health care information available and soon may reach into other domains as well \n(Lunden, 2023).\nIn the future, governments could also seek to use automated systems built using \nlarge language models to make information available, answer questions in languages \nspoken by their constituents (in the form of chatbots), or, more dangerously, analyze \ninformation to make critical decisions such as benefits allocation or refugee status \ndeterminations (Kinchin & Mougouei, 2022).\nStill, studies show that even multilingual language models struggle to deal with the \nwide disparities between different languages in how much text data they have available \nto train and test language models. English has, by multiple orders of magnitude, more \ntext data available than any other language and commands most of the attention of the \nnatural language processing research community. The abundance of English language \ndata stems from its position as the official or de facto language of international business, \npolitics, and media, itself a legacy of British colonialism and American neocolonialism \nand the subsequent erasure of regional and indigenous languages. American technology \ncompanies have further entrenched English as the predominant language of the internet \nby rolling out early standards, coding languages, and social media platforms in English \nlong before other languages.\nThe hegemony of English data means that most large language models, even \nmultilingual ones, are built predominantly using Standard English language text and \nwork best in Standard English language contexts. Spanish, Chinese, Arabic, and a few \nother “high resource” languages also have significant amounts of text data available, but \nmany “medium resource” languages, such as Hindi and Portuguese, and “low resource” \nlanguages, such as Haitian Creole and Swahili, have hardly any data available at all, and \nmultilingual language models perform much worse in those languages. This skewed \nemphasis fails to reflect the diversity of languages spoken by the world’s internet users \nand further perpetuates the dominance of the English language.\nIntroduction\nLost in Translation\nCDT Research\n10\nDespite being deployed in real-world systems, multilingual language models have largely \nbeen absent from public discourse, particularly about digital rights and public policy, \nand have instead been relegated to computer science academia and tech company public \nrelations. This paper seeks to address this gap by offering several resources to bolster \npolicy discussions. Part I provides a simple technical explanation of how large language \nmodels work in general, why there is a gap in available data between English and other \nlanguages, and how multilingual language models attempt to bridge that gap. Part II \naccounts for the challenges of doing content analysis with large language models in \ngeneral and multilingual language models in particular, namely:\n1.\t Multilingual language models often rely on machine-translated text that can \ncontain errors or terms native language speakers don’t actually use. \n2.\t When multilingual language models fail, their prob

## 텍스트 분할

site: https://chunkviz.up.railway.app/

### CharacterTextSplitter

기본적으로 "\n\n" 을 기준으로 문자 단위로 텍스트 분할. <br>
청크의 크기를 문자 수로 측정. <br>

- 텍스트 분할 방식: 단일 문자
- 청크 크기 측정 방식: 문자 수

<br>

> ```python
> with open(<path>) as file:
>     file = file.read()
> 
> text_splitter = CharacterTextSplitter(
>     separator='\n\n',              # 텍스트를 분할할 때 사용할 구분자
>     chunk_size=250,               # 분할된 텍스트 chunk의 최대 크기
>     chunk_overlap=50,             # 분할된 텍스트 chunk 간 중복되는 문자 수
>     length_function=len,          # 텍스트의 길이를 계산하는 함수
>     is_separator_regex=False,      # 구분자가 정규식인지 여부
> )
> 
> metadatas = [
>     {'document1': 1},
> ]
> 
> documents = text_splitter.create_documents(
>     [file],
>     metadatas=metadatas,
> )
> ```

In [246]:
# documents 리스트에서 파일들을 files 변수에 저장합니다.
files = documents

# 첫 번째 문서의 페이지 내용을 file1 변수에 저장합니다.
file1 = files[0].page_content

# 두 번째 문서의 페이지 내용을 file2 변수에 저장합니다.
file2 = files[1].page_content

In [251]:
# CharacterTextSplitter 클래스를 사용하여 텍스트를 분할하는 설정을 정의합니다.
text_splitter = CharacterTextSplitter(
    separator='\n',            # 각 청크를 분할할 구분자 (여기서는 줄바꿈)
    chunk_size=300,           # 각 청크의 최대 크기 (300 문자)
    chunk_overlap=100,        # 청크 간의 겹치는 문자 수 (100 문자)
    length_function=len,      # 텍스트 길이를 측정할 함수 (여기서는 기본 len 함수 사용)
)

# 문서 메타데이터를 정의합니다. (여기서는 문서 ID를 포함)
metadatas = [
    {'document': 1},          # 첫 번째 문서 메타데이터
    {'document': 2},          # 두 번째 문서 메타데이터
]

# file1과 file2의 내용을 청크로 분할하고, 메타데이터를 추가하여 새로운 문서 리스트를 생성합니다.
documents = text_splitter.create_documents(
    [file1, file2],           # 분할할 텍스트 리스트
    metadatas=metadatas,      # 각 문서에 대한 메타데이터
)

# 생성된 documents 변수를 출력하여 내용을 확인합니다.
documents

Created a chunk of size 1002, which is longer than the specified 300

[Document(metadata={'document': 1}, page_content='LG전자 3분기 영업이익 20.9% 감소…매출은 최대\n입력2024.10.24. 오후 2:04\n수정2024.10.24. 오후 2:36\n기사원문\n \n김지성 기자\n김지성 기자\n구독\n구독중\n구독자\n0\n응원수\n0\n더보기\n추천\n쏠쏠정보\n0\n흥미진진\n0\n공감백배\n0\n분석탁월\n0\n후속강추\n0\n \n댓글\n본문 요약봇\n본문 요약봇도움말\n자동 추출 기술로 요약된 내용입니다. 요약 기술의 특성상 본문의 주요 내용이 제외될 수 있어, 전체 맥락을 이해하기 위해서는 기사 본문 전체보기를 권장합니다.\n닫기\n텍스트 음성 변환 서비스 사용하기\n성별\n남성\n여성'),
 Document(metadata={'document': 1}, page_content='닫기\n텍스트 음성 변환 서비스 사용하기\n성별\n남성\n여성\n말하기 속도\n느림\n보통\n빠름\n이동 통신망을 이용하여 음성을 재생하면 별도의 데이터 통화료가 부과될 수 있습니다.\n본문듣기 시작\n닫기\n \n글자 크기 변경하기\n가1단계\n작게\n가2단계\n보통\n가3단계\n크게\n가4단계\n아주크게\n가5단계\n최대크게\nSNS 보내기\n인쇄하기\n▲ 서울 영등포구 여의도 LG전자 사옥\nLG전자가 올해 3분기 물류비 인상 등의 영향으로 영업이익이 20%가량 감소했습니다.\n다만 사업 포트폴리오 고도화로 매출 성장세를 이어가며 매출은 3분기 기준 최대치를 기록했습니다.'),
 Document(metadata={'document': 1}, page_content='다만 사업 포트폴리오 고도화로 매출 성장세를 이어가며 매출은 3분기 기준 최대치를 기록했습니다.\nLG전자는 연결 기준 올해 3분기 영업이익이 7,519억 원으로, 지난해 같은 기간보다 20.9% 감소한 것으로 잠정 집계됐다고 공시했습니다.\n이는 시장 전망치 9,686억 원을 22.4% 밑도는 수준입니다.\n매출은 22조 1,764억 원으로 지난해 동기 대비 10.7% 증가했습니다.\n순이익은 902억 원으로 81.4% 줄었습니다.\n역대 3분기 실적과 비교하면 매출은 최대치, 영업이익은 4번째로 높은 수치입니다.'),
 Document(metadata={'document': 1}, page_content='순이익은 902억 원으로 81.4% 줄었습니다.\n역대 3분기 실적과 비교하면 매출은 최대치, 영업이익은 4번째로 높은 수치입니다.\n기업간거래(B2B) 사업 가속화 등 포트폴리오 고도화를 통해 4개 분기 연속 전년 대비 매출이 성장했습니다.\n다만 중동 지역의 지정학적 분쟁, 미국의 대중국 관세 인상 등의 여파로 글로벌 해상 운임이 상승하면서 수익성에 영향을 끼쳤습니다.'),
 Document(metadata={'document': 1}, page_content='다만 중동 지역의 지정학적 분쟁, 미국의 대중국 관세 인상 등의 여파로 글로벌 해상 운임이 상승하면서 수익성에 영향을 끼쳤습니다.\n사업부별로 보면 생활가전을 맡은 H&A사업본부의 경우 3분기 매출액은 지난해 대비 11.7% 증가한 8조 3,376억 원, 영업이익은 5.5% 증가한 5,272억 원을 기록했습니다.\n글로벌 가전 수요 회복 지연에도 B2B 냉난방공조 사업과 가전구독 사업의 빠른 성장이 매출 확대를 이끌었습니다.\n연결 영업이익의 70%가 생활가전에서 나왔습니다.'),
 Document(metadata={'document': 1}, page_content='글로벌 가전 수요 회복 지연에도 B2B 냉난방공조 사업과 가전구독 사업의 빠른 성장이 매출 확대를 이끌었습니다.\n연결 영업이익의 70%가 생활가전에서 나왔습니다.\nTV 사업을 담당하는 HE사업본부는 3분기 매출액 3조 7,473억 원, 영업이익 494억 원을 기록했습니다.\n매출은 올레드 TV 주요 시장인 유럽 지역의 출하량 증가에 힘입어 지난해 대비 5.2% 늘었습니다.\n전장 사업을 맡은 VS사업본부의 3분기 매출은 2조 6,113억 원으로 지난해보다 성장세를 유지했지만 전기차 수요 둔화로 전 분기보다는 소폭 줄었습니다.'),
 Document(metadata={'document': 1}, page_content='전장 사업을 맡은 VS사업본부의 3분기 매출은 2조 6,113억 원으로 지난해보다 성장세를 유지했지만 전기차 수요 둔화로 전 분기보다는 소폭 줄었습니다.\n영업이익은 11억 원이었습니다.\n(사진=연합뉴스)'),
 Document(metadata={'document': 2}, page_content='"반도체 장비사 엑시콘, 고객사 투자 줄어 적자 전환"[줌인e종목]\n입력2024.10.24. 오후 2:11\n수정2024.10.24. 오후 2:12\n기사원문\n \n장시온 기자\n장시온 기자\n구독\n구독중\n구독자\n0\n응원수\n0\n더보기\n추천\n쏠쏠정보\n0\n흥미진진\n0\n공감백배\n0\n분석탁월\n0\n후속강추\n0\n \n댓글\n본문 요약봇\n본문 요약봇도움말\n자동 추출 기술로 요약된 내용입니다. 요약 기술의 특성상 본문의 주요 내용이 제외될 수 있어, 전체 맥락을 이해하기 위해서는 기사 본문 전체보기를 권장합니다.\n닫기\n텍스트 음성 변환 서비스 사용하기\n성별'),
 Document(metadata={'document': 2}, page_content='닫기\n텍스트 음성 변환 서비스 사용하기\n성별\n남성\n여성\n말하기 속도\n느림\n보통\n빠름\n이동 통신망을 이용하여 음성을 재생하면 별도의 데이터 통화료가 부과될 수 있습니다.\n본문듣기 시작\n닫기\n \n글자 크기 변경하기\n가1단계\n작게\n가2단계\n보통\n가3단계\n크게\n가4단계\n아주크게\n가5단계\n최대크게\nSNS 보내기\n인쇄하기\n[스몰캡]한국IR협 "HBM에 투자 몰려…135억 적자 전망"수요 증가로 내년부터 \'흑자 전환\'…"매출 \'147%\' 오를 것"'),
 Document(metadata={'document': 2}, page_content='윤진식 한국무역협회(KITA) 회장(오른쪽)이 6일 경기도 판교 테크노밸리 반도체 테스트 장비 전문 기업 엑시콘을 방문, 최명배 대표와 기념촬영을 하고 있다. (한국무역협회 제공) 2024.3.6/뉴스1(서울=뉴스1) 장시온 기자 = 반도체 후공정 검사장비 업체 엑시콘(092870)이 올해 고객사 투자가 줄면서 전년 대비 실적이 나빠질 것이라는 전망이 나왔다. 하반기에 일부 개선되기는 하지만 본격적인 실적 반등은 내년부터 나타날 것이란 분석이다.한국IR협의회 리서치센터(이하 한국IR협)는 24일 기업보고서를 내고 이같이 밝혔다. 박성순 한국IR협 연구원은 "엑시콘의 올해 매출액은 전년 대비 51.5% 감소한 399억 원을 기록할 전망"이라며 "영업손실도 135억 원으로 적자 전환이 예상된다"고 밝혔다.작년 하반기부터 고객사가 후공정 투자를 축소하고 고대역폭 메모리(HBM)에 투자를 집중하고 있다는 설명이다. 엑시콘은 디램(DRAM) 메모리 테스터, 솔리드스테이트드라이브(SSD) 테스터, 번인(Burn-in) 테스터 등을 제조하고 있다. 상반기 기준 SSD 테스터에서 54.1%, 메모리 테스터에서 31.6%의 매출을 올리고 있으며 주요 고객사는 삼성전자다.본격적인 실적 반등은 2025년부터 나타날 것으로 보인다. 내년 매출액이 전년 대비 147.2% 오른 986억 원을 기록하고 영업이익도 101억 원으로 흑자 전환할 것이란 전망이다.박 연구원은 "SSD 테스터는 하반기부터 6세대(Gen6)에 대한 투자가 발생할 것으로 예상되고 내년 하반기에는 고객사의 컴퓨트익스프레스링크(CXL) 테스터 수요도 일부 발생할 것으로 보인다"고 설명했다.메모리 테스터 점유율 확대가 예상되고 반도체 경쟁력 평가 도구(CLT) 장비 수요도 커질 것이란 전망이다. 박 연구원은 "더블데이터레이트(DDR)5향 DRAM Burn-in 테스터 투자 재개로 점유율이 오를 전망"이라며 "기존 일본 CLT 장비가 노후화되고 DDR5로의 전환이 이뤄지며 신규 장비에 대한 수요도 증가할 것"이라고 내다봤다.')]

### RecursiveCharacterTextSplitter

일반적인 텍스트에 권장되는 방식. <br>
문자 목록을 매개변수로 받아 동작. <br>
chunk가 충분히 작아질 때까지 주어진 문자 목록의 순서대로 텍스트 분할 시도.
&nbsp;&nbsp;&nbsp;&nbsp; 기본 문자 목록: ["\n\n", "\n", " ", ""] <br>
단락 -> 문장 -> 단어 순서로 재귀적으로 분할. <br>
-> 이는 순서대로 단위가 의미적으로 가장 강하게 연관된 텍스트 조각으로 간주되어, 가능한 한 함께 유지하려는 효과가 있음. <br>
문자 수에 의해 청크 크기 측정. <br>

<br>

> ```python
> with open(<path>) as file:
>     file = file.read()
> 
> text_splitter = RecursiveCharacterTextSplitter(
>     chunk_size=250,               # 분할된 텍스트 chunk의 최대 크기
>     chunk_overlap=50,             # 분할된 텍스트 chunk 간 중복되는 문자 수
>     length_function=len,          # 텍스트의 길이를 계산하는 함수
>     is_separator_regex=False,     # 구분자가 정규식인지 여부
> )
> 
> metadatas = [
>     {'document1': 1},
> ]
> 
> documents = text_splitter.create_documents([file])
> ```

In [252]:
# RecursiveCharacterTextSplitter 클래스를 사용하여 텍스트를 분할하는 설정을 정의합니다.
text_splitter = RecursiveCharacterTextSplitter(
    chunk_size=300,            # 각 청크의 최대 크기 (300 문자)
    chunk_overlap=100,         # 청크 간의 겹치는 문자 수 (100 문자)
    length_function=len,       # 텍스트 길이를 측정할 함수 (여기서는 기본 len 함수 사용)
    is_separator_regex=False    # 구분자를 정규 표현식으로 사용할지 여부 (여기서는 사용하지 않음)
)

# file1의 내용을 청크로 분할하여 새로운 문서 리스트를 생성합니다.
documents = text_splitter.create_documents([file1])

# 생성된 documents 변수를 출력하여 내용을 확인합니다.
documents

[Document(metadata={}, page_content='LG전자 3분기 영업이익 20.9% 감소…매출은 최대\n\n\n\n입력2024.10.24. 오후 2:04\n\n\n수정2024.10.24. 오후 2:36\n\n기사원문\n \n\n\n\n\n김지성 기자\n\n\n\n\n\n\n\n\n\n\n김지성 기자\n\n구독\n구독중\n\n\n\n\n구독자\n0\n\n\n응원수\n0\n\n\n\n더보기\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n추천\n\n\n\n\n쏠쏠정보\n0\n\n\n\n\n흥미진진\n0\n\n\n\n\n공감백배\n0\n\n\n\n\n분석탁월\n0\n\n\n\n\n후속강추\n0\n\n\n \n\n\n\n댓글\n\n\n\n\n\n본문 요약봇'),
 Document(metadata={}, page_content='추천\n\n\n\n\n쏠쏠정보\n0\n\n\n\n\n흥미진진\n0\n\n\n\n\n공감백배\n0\n\n\n\n\n분석탁월\n0\n\n\n\n\n후속강추\n0\n\n\n \n\n\n\n댓글\n\n\n\n\n\n본문 요약봇\n\n\n\n본문 요약봇도움말\n자동 추출 기술로 요약된 내용입니다. 요약 기술의 특성상 본문의 주요 내용이 제외될 수 있어, 전체 맥락을 이해하기 위해서는 기사 본문 전체보기를 권장합니다.\n닫기\n\n\n\n\n\n\n\n\n텍스트 음성 변환 서비스 사용하기\n\n\n\n성별\n남성\n여성\n\n\n말하기 속도\n느림\n보통\n빠름'),
 Document(metadata={}, page_content='텍스트 음성 변환 서비스 사용하기\n\n\n\n성별\n남성\n여성\n\n\n말하기 속도\n느림\n보통\n빠름\n\n이동 통신망을 이용하여 음성을 재생하면 별도의 데이터 통화료가 부과될 수 있습니다.\n본문듣기 시작\n\n닫기\n\n\n \n\n글자 크기 변경하기\n\n\n\n가1단계\n작게\n\n\n가2단계\n보통\n\n\n가3단계\n크게\n\n\n가4단계\n아주크게\n\n\n가5단계\n최대크게\n\n\n\n\n\n\nSNS 보내기\n\n\n\n인쇄하기\n\n\n\n\n\n\n\n\n\n▲ 서울 영등포구 여의도 LG전자 사옥\n\nLG전자가 올해 3분기 물류비 인상 등의 영향으로 영업이익이 20%가량 감소했습니다.'),
 Document(metadata={}, page_content='SNS 보내기\n\n\n\n인쇄하기\n\n\n\n\n\n\n\n\n\n▲ 서울 영등포구 여의도 LG전자 사옥\n\nLG전자가 올해 3분기 물류비 인상 등의 영향으로 영업이익이 20%가량 감소했습니다.\n\n다만 사업 포트폴리오 고도화로 매출 성장세를 이어가며 매출은 3분기 기준 최대치를 기록했습니다.\n\nLG전자는 연결 기준 올해 3분기 영업이익이 7,519억 원으로, 지난해 같은 기간보다 20.9% 감소한 것으로 잠정 집계됐다고 공시했습니다.\n\n이는 시장 전망치 9,686억 원을 22.4% 밑도는 수준입니다.'),
 Document(metadata={}, page_content='이는 시장 전망치 9,686억 원을 22.4% 밑도는 수준입니다.\n\n매출은 22조 1,764억 원으로 지난해 동기 대비 10.7% 증가했습니다.\n\n순이익은 902억 원으로 81.4% 줄었습니다.\n\n역대 3분기 실적과 비교하면 매출은 최대치, 영업이익은 4번째로 높은 수치입니다.\n\n기업간거래(B2B) 사업 가속화 등 포트폴리오 고도화를 통해 4개 분기 연속 전년 대비 매출이 성장했습니다.\n\n다만 중동 지역의 지정학적 분쟁, 미국의 대중국 관세 인상 등의 여파로 글로벌 해상 운임이 상승하면서 수익성에 영향을 끼쳤습니다.'),
 Document(metadata={}, page_content='다만 중동 지역의 지정학적 분쟁, 미국의 대중국 관세 인상 등의 여파로 글로벌 해상 운임이 상승하면서 수익성에 영향을 끼쳤습니다.\n\n사업부별로 보면 생활가전을 맡은 H&A사업본부의 경우 3분기 매출액은 지난해 대비 11.7% 증가한 8조 3,376억 원, 영업이익은 5.5% 증가한 5,272억 원을 기록했습니다.\n\n글로벌 가전 수요 회복 지연에도 B2B 냉난방공조 사업과 가전구독 사업의 빠른 성장이 매출 확대를 이끌었습니다.\n\n연결 영업이익의 70%가 생활가전에서 나왔습니다.'),
 Document(metadata={}, page_content='글로벌 가전 수요 회복 지연에도 B2B 냉난방공조 사업과 가전구독 사업의 빠른 성장이 매출 확대를 이끌었습니다.\n\n연결 영업이익의 70%가 생활가전에서 나왔습니다.\n\nTV 사업을 담당하는 HE사업본부는 3분기 매출액 3조 7,473억 원, 영업이익 494억 원을 기록했습니다.\n\n매출은 올레드 TV 주요 시장인 유럽 지역의 출하량 증가에 힘입어 지난해 대비 5.2% 늘었습니다.\n\n전장 사업을 맡은 VS사업본부의 3분기 매출은 2조 6,113억 원으로 지난해보다 성장세를 유지했지만 전기차 수요 둔화로 전 분기보다는 소폭 줄었습니다.'),
 Document(metadata={}, page_content='전장 사업을 맡은 VS사업본부의 3분기 매출은 2조 6,113억 원으로 지난해보다 성장세를 유지했지만 전기차 수요 둔화로 전 분기보다는 소폭 줄었습니다.\n\n영업이익은 11억 원이었습니다.\n\n(사진=연합뉴스)')]

#### Code Splitter

프로그래밍 언어로 작성된 코드를 분할

<br>

> ```python
> python_code = ""
> 
> python_splitter = RecursiveCharacterTextSplitter.from_language(
>     language=Language.PYTHON,
>     chunk_size=100,
>     chunk_overlap=0,
> )
> ```

In [260]:
# 파이썬 코드를 정의하는 문자열입니다.
python_code = '''
def show_stream(response):
    for token in response:
        print(token.content, end='', flush=True)

show_stream(response)
'''

# RecursiveCharacterTextSplitter를 사용하여 파이썬 코드의 청크를 분할하는 설정을 정의합니다.
code_splitter = RecursiveCharacterTextSplitter.from_language(
    language=Language.PYTHON,  # 코드 언어 설정 (여기서는 파이썬)
    chunk_size=120,            # 각 청크의 최대 크기 (120 문자)
    chunk_overlap=0,           # 청크 간의 겹치는 문자 수 (0으로 설정하여 겹치지 않음)
    length_function=len,       # 텍스트 길이를 측정할 함수 (여기서는 기본 len 함수 사용)
)

# python_code를 청크로 분할하여 새로운 문서 리스트를 생성합니다.
documents = code_splitter.create_documents([python_code])

[Document(metadata={}, page_content="def show_stream(response):\n    for token in response:\n        print(token.content, end='', flush=True)"),
 Document(metadata={}, page_content='show_stream(response)')]

### TokenTextSplitter

토큰 수를 기반으로 chunk 생성. <br>

#### tiktoken

tiktoken 은 OpenAI에서 만든 빠른 BPE Tokenizer

<br>

> ```python
> text_splitter = CharacterTextSplitter.from_tiktoken_encoder(
>     chunk_size=300,               # 분할된 텍스트 chunk의 최대 크기
>     chunk_overlap=50,             # 분할된 텍스트 chunk 간 중복되는 문자 수
> )
> documents= text_splitter.split_text(file)
> ```

In [271]:
# CharacterTextSplitter를 사용하여 TikToken 인코더로부터 청크 분할기를 생성합니다.
text_splitter = CharacterTextSplitter.from_tiktoken_encoder(
    chunk_size=300,            # 각 청크의 최대 크기 (300 문자)
    chunk_overlap=100,         # 청크 간의 겹치는 문자 수 (100 문자)
)

In [272]:
# 설정된 text_splitter를 사용하여 file1의 내용을 청크로 분할하고,
# 새로운 문서 리스트를 생성합니다.
documents = text_splitter.create_documents([file1])

[Document(metadata={}, page_content='LG전자 3분기 영업이익 20.9% 감소…매출은 최대\n\n입력2024.10.24. 오후 2:04\n\n\n수정2024.10.24. 오후 2:36\n\n기사원문\n \n\n\n김지성 기자\n\n\n김지성 기자\n\n구독\n구독중\n\n\n구독자\n0\n\n\n응원수\n0\n\n더보기\n\n\n추천\n\n\n쏠쏠정보\n0\n\n\n흥미진진\n0\n\n\n공감백배\n0\n\n\n분석탁월\n0\n\n\n후속강추\n0\n\n\n \n\n댓글'),
 Document(metadata={}, page_content='추천\n\n\n쏠쏠정보\n0\n\n\n흥미진진\n0\n\n\n공감백배\n0\n\n\n분석탁월\n0\n\n\n후속강추\n0\n\n\n \n\n댓글\n\n본문 요약봇'),
 Document(metadata={}, page_content='공감백배\n0\n\n\n분석탁월\n0\n\n\n후속강추\n0\n\n\n \n\n댓글\n\n본문 요약봇\n\n본문 요약봇도움말\n자동 추출 기술로 요약된 내용입니다. 요약 기술의 특성상 본문의 주요 내용이 제외될 수 있어, 전체 맥락을 이해하기 위해서는 기사 본문 전체보기를 권장합니다.\n닫기'),
 Document(metadata={}, page_content='텍스트 음성 변환 서비스 사용하기\n\n성별\n남성\n여성\n\n\n말하기 속도\n느림\n보통\n빠름\n\n이동 통신망을 이용하여 음성을 재생하면 별도의 데이터 통화료가 부과될 수 있습니다.\n본문듣기 시작\n\n닫기\n\n\n \n\n글자 크기 변경하기\n\n가1단계\n작게\n\n\n가2단계\n보통'),
 Document(metadata={}, page_content='닫기\n\n\n \n\n글자 크기 변경하기\n\n가1단계\n작게\n\n\n가2단계\n보통\n\n\n가3단계\n크게\n\n\n가4단계\n아주크게\n\n\n가5단계\n최대크게\n\n\nSNS 보내기\n\n인쇄하기\n\n▲ 서울 영등포구 여의도 LG전자 사옥\n\nLG전자가 올해 3분기 물류비 인상 등의 영향으로 영업이익이 20%가량 감소했습니다.'),
 Document(metadata={}, page_content='LG전자가 올해 3분기 물류비 인상 등의 영향으로 영업이익이 20%가량 감소했습니다.\n\n다만 사업 포트폴리오 고도화로 매출 성장세를 이어가며 매출은 3분기 기준 최대치를 기록했습니다.'),
 Document(metadata={}, page_content='LG전자는 연결 기준 올해 3분기 영업이익이 7,519억 원으로, 지난해 같은 기간보다 20.9% 감소한 것으로 잠정 집계됐다고 공시했습니다.\n\n이는 시장 전망치 9,686억 원을 22.4% 밑도는 수준입니다.\n\n매출은 22조 1,764억 원으로 지난해 동기 대비 10.7% 증가했습니다.'),
 Document(metadata={}, page_content='매출은 22조 1,764억 원으로 지난해 동기 대비 10.7% 증가했습니다.\n\n순이익은 902억 원으로 81.4% 줄었습니다.\n\n역대 3분기 실적과 비교하면 매출은 최대치, 영업이익은 4번째로 높은 수치입니다.'),
 Document(metadata={}, page_content='역대 3분기 실적과 비교하면 매출은 최대치, 영업이익은 4번째로 높은 수치입니다.\n\n기업간거래(B2B) 사업 가속화 등 포트폴리오 고도화를 통해 4개 분기 연속 전년 대비 매출이 성장했습니다.'),
 Document(metadata={}, page_content='다만 중동 지역의 지정학적 분쟁, 미국의 대중국 관세 인상 등의 여파로 글로벌 해상 운임이 상승하면서 수익성에 영향을 끼쳤습니다.'),
 Document(metadata={}, page_content='사업부별로 보면 생활가전을 맡은 H&A사업본부의 경우 3분기 매출액은 지난해 대비 11.7% 증가한 8조 3,376억 원, 영업이익은 5.5% 증가한 5,272억 원을 기록했습니다.'),
 Document(metadata={}, page_content='글로벌 가전 수요 회복 지연에도 B2B 냉난방공조 사업과 가전구독 사업의 빠른 성장이 매출 확대를 이끌었습니다.\n\n연결 영업이익의 70%가 생활가전에서 나왔습니다.\n\nTV 사업을 담당하는 HE사업본부는 3분기 매출액 3조 7,473억 원, 영업이익 494억 원을 기록했습니다.'),
 Document(metadata={}, page_content='매출은 올레드 TV 주요 시장인 유럽 지역의 출하량 증가에 힘입어 지난해 대비 5.2% 늘었습니다.\n\n전장 사업을 맡은 VS사업본부의 3분기 매출은 2조 6,113억 원으로 지난해보다 성장세를 유지했지만 전기차 수요 둔화로 전 분기보다는 소폭 줄었습니다.'),
 Document(metadata={}, page_content='영업이익은 11억 원이었습니다.\n\n(사진=연합뉴스)')]

#### Hugging Face tokenizer

huggingface library 내의 tokenizer를 통한 text 분할

<br>

> ```python
> text_splitter = CharacterTextSplitter.from_huggingface_tokenizer(
>     tokenizer,
>     chunk_size=300,
>     chunk_overlap=50,
> )
> texts = text_splitter.split_text(file)
> ```

In [274]:
# Hugging Face의 사전 훈련된 토크나이저를 로드합니다.
tokenizer = AutoTokenizer.from_pretrained('skt/kobert-base-v1')

# CharacterTextSplitter를 사용하여 Hugging Face 토크나이저로부터 청크 분할기를 생성합니다.
text_splitter = CharacterTextSplitter.from_huggingface_tokenizer(
    tokenizer=tokenizer,        # 사용할 토크나이저
    chunk_size=300,             # 각 청크의 최대 크기 (300 토큰)
    chunk_overlap=100,          # 청크 간의 겹치는 토큰 수 (100 토큰)
)

# 설정된 text_splitter를 사용하여 주어진 file의 내용을 청크로 분할합니다.
documents = text_splitter.split_text(file)

# 생성된 documents 변수를 출력하여 내용을 확인합니다.
documents

['LG전자 3분기 영업이익 20.9% 감소…매출은 최대\n\n입력2024.10.24. 오후 2:04\n\n\n수정2024.10.24. 오후 2:36\n\n기사원문\n \n\n\n김지성 기자\n\n\n김지성 기자\n\n구독\n구독중\n\n\n구독자\n0\n\n\n응원수\n0\n\n더보기\n\n\n추천\n\n\n쏠쏠정보\n0\n\n\n흥미진진\n0\n\n\n공감백배\n0\n\n\n분석탁월\n0\n\n\n후속강추\n0\n\n\n \n\n댓글\n\n본문 요약봇',
 '더보기\n\n\n추천\n\n\n쏠쏠정보\n0\n\n\n흥미진진\n0\n\n\n공감백배\n0\n\n\n분석탁월\n0\n\n\n후속강추\n0\n\n\n \n\n댓글\n\n본문 요약봇\n\n본문 요약봇도움말\n자동 추출 기술로 요약된 내용입니다. 요약 기술의 특성상 본문의 주요 내용이 제외될 수 있어, 전체 맥락을 이해하기 위해서는 기사 본문 전체보기를 권장합니다.\n닫기\n\n\n텍스트 음성 변환 서비스 사용하기\n\n성별\n남성\n여성\n\n\n말하기 속도\n느림\n보통\n빠름',
 '텍스트 음성 변환 서비스 사용하기\n\n성별\n남성\n여성\n\n\n말하기 속도\n느림\n보통\n빠름\n\n이동 통신망을 이용하여 음성을 재생하면 별도의 데이터 통화료가 부과될 수 있습니다.\n본문듣기 시작\n\n닫기\n\n\n \n\n글자 크기 변경하기\n\n가1단계\n작게\n\n\n가2단계\n보통\n\n\n가3단계\n크게\n\n\n가4단계\n아주크게\n\n\n가5단계\n최대크게\n\n\nSNS 보내기\n\n인쇄하기\n\n▲ 서울 영등포구 여의도 LG전자 사옥',
 '가3단계\n크게\n\n\n가4단계\n아주크게\n\n\n가5단계\n최대크게\n\n\nSNS 보내기\n\n인쇄하기\n\n▲ 서울 영등포구 여의도 LG전자 사옥\n\nLG전자가 올해 3분기 물류비 인상 등의 영향으로 영업이익이 20%가량 감소했습니다.\n\n다만 사업 포트폴리오 고도화로 매출 성장세를 이어가며 매출은 3분기 기준 최대치를 기록했습니다.',
 '다만 사업 포트폴리오 고도화로 매출 성장세를 이어가며 매출은 3분기 기준 최대치를 기록했습니다.\n\nLG전자는 연결 기준 올해 3분기 영업이익이 7,519억 원으로, 지난해 같은 기간보다 20.9% 감소한 것으로 잠정 집계됐다고 공시했습니다.\n\n이는 시장 전망치 9,686억 원을 22.4% 밑도는 수준입니다.\n\n매출은 22조 1,764억 원으로 지난해 동기 대비 10.7% 증가했습니다.\n\n순이익은 902억 원으로 81.4% 줄었습니다.',
 '매출은 22조 1,764억 원으로 지난해 동기 대비 10.7% 증가했습니다.\n\n순이익은 902억 원으로 81.4% 줄었습니다.\n\n역대 3분기 실적과 비교하면 매출은 최대치, 영업이익은 4번째로 높은 수치입니다.\n\n기업간거래(B2B) 사업 가속화 등 포트폴리오 고도화를 통해 4개 분기 연속 전년 대비 매출이 성장했습니다.\n\n다만 중동 지역의 지정학적 분쟁, 미국의 대중국 관세 인상 등의 여파로 글로벌 해상 운임이 상승하면서 수익성에 영향을 끼쳤습니다.',
 '다만 중동 지역의 지정학적 분쟁, 미국의 대중국 관세 인상 등의 여파로 글로벌 해상 운임이 상승하면서 수익성에 영향을 끼쳤습니다.\n\n사업부별로 보면 생활가전을 맡은 H&A사업본부의 경우 3분기 매출액은 지난해 대비 11.7% 증가한 8조 3,376억 원, 영업이익은 5.5% 증가한 5,272억 원을 기록했습니다.\n\n글로벌 가전 수요 회복 지연에도 B2B 냉난방공조 사업과 가전구독 사업의 빠른 성장이 매출 확대를 이끌었습니다.',
 '글로벌 가전 수요 회복 지연에도 B2B 냉난방공조 사업과 가전구독 사업의 빠른 성장이 매출 확대를 이끌었습니다.\n\n연결 영업이익의 70%가 생활가전에서 나왔습니다.\n\nTV 사업을 담당하는 HE사업본부는 3분기 매출액 3조 7,473억 원, 영업이익 494억 원을 기록했습니다.\n\n매출은 올레드 TV 주요 시장인 유럽 지역의 출하량 증가에 힘입어 지난해 대비 5.2% 늘었습니다.',
 '매출은 올레드 TV 주요 시장인 유럽 지역의 출하량 증가에 힘입어 지난해 대비 5.2% 늘었습니다.\n\n전장 사업을 맡은 VS사업본부의 3분기 매출은 2조 6,113억 원으로 지난해보다 성장세를 유지했지만 전기차 수요 둔화로 전 분기보다는 소폭 줄었습니다.\n\n영업이익은 11억 원이었습니다.\n\n(사진=연합뉴스)']

In [284]:
# example: keyword

# './data/keywords.txt' 파일을 로드하고, 첫 번째 문서의 페이지 내용을 file 변수에 저장합니다.
file = TextLoader('./data/keywords.txt').load()[0].page_content

# CharacterTextSplitter를 사용하여 TikToken 인코더로부터 청크 분할기를 생성합니다.
text_splitter = CharacterTextSplitter.from_tiktoken_encoder(
    chunk_size=300,            # 각 청크의 최대 크기 (300 토큰)
    chunk_overlap=100,         # 청크 간의 겹치는 토큰 수 (100 토큰)
)

# 설정된 text_splitter를 사용하여 file의 내용을 청크로 분할합니다.
documents = text_splitter.split_text(file)

# 생성된 documents 변수를 출력하여 내용을 확인합니다.
documents

Created a chunk of size 307, which is longer than the specified 300
Created a chunk of size 358, which is longer than the specified 300

['GPT (Generative Pretrained Transformer)',
 '정의: GPT는 대규모 데이터셋으로 사전 훈련된 생성적 언어 모델로, 다양한 텍스트 기반 작업에 활용됩니다.\n예시: 사용자가 제공한 질문에 대해 자세한 답변을 생성하는 챗봇은 GPT 모델을 사용할 수 있습니다.\n연관키워드: 자연어 처리, 텍스트 생성, 딥러닝',
 "Attention 메커니즘\n\n정의: Attention 메커니즘은 딥러닝에서 중요한 정보에 더 많은 '주의'를 기울이도록 하는 기법입니다.\n예시: 번역 모델에서 Attention 메커니즘은 입력 문장의 중요한 부분에 더 집중하여 정확한 번역을 생성합니다.\n연관키워드: 딥러닝, 자연어 처리, 시퀀스 모델링",
 '판다스 (Pandas)\n\n정의: 판다스는 파이썬 프로그래밍 언어를 위한 데이터 분석 및 조작 도구를 제공하는 라이브러리입니다.\n예시: 판다스를 사용하여 CSV 파일을 읽고, 데이터를 정제하며, 다양한 분석을 수행할 수 있습니다.\n연관키워드: 데이터 분석, 파이썬, 데이터 처리',
 'Deep Learning\n\n정의: 딥러닝은 인공신경망을 이용하여 복잡한 문제를 해결하는 머신러닝의 한 분야입니다.\n예시: 이미지 인식, 음성 인식, 자연어 처리 등에서 딥러닝 모델이 활용됩니다.\n연관키워드: 인공신경망, 머신러닝, 데이터 분석\n\nDataFrame',
 '정의: DataFrame은 행과 열로 이루어진 테이블 형태의 데이터 구조로, 주로 데이터 분석 및 처리에 사용됩니다.\n예시: 판다스 라이브러리에서 DataFrame은 다양한 데이터 타입의 열을 가질 수 있으며, 데이터 조작과 분석을 용이하게 합니다.\n연관키워드: 데이터 분석, 판다스, 데이터 처리',
 'LLM (Large Language Model)\n\n정의: LLM은 대규모의 텍스트 데이터로 훈련된 큰 규모의 언어 모델을 의미합니다.\n예시: OpenAI의 GPT 시리즈는 대표적인 대규모 언어 모델입니다.\n연관키워드: 자연어 처리, 딥러닝, 텍스트 생성\n\nHuggingFace',
 'HuggingFace\n\n정의: HuggingFace는 자연어 처리를 위한 다양한 사전 훈련된 모델과 도구를 제공하는 라이브러리입니다.\n예시: HuggingFace의 Transformers 라이브러리를 사용하여 감정 분석, 텍스트 생성 등의 작업을 수행할 수 있습니다.\n연관키워드: 자연어 처리, 딥러닝, 라이브러리\n\nTransformer',
 'Transformer\n\n정의: 트랜스포머는 자연어 처리에서 사용되는 딥러닝 모델의 한 유형으로, 주로 번역, 요약, 텍스트 생성 등에 사용됩니다.\n예시: 구글 번역기는 트랜스포머 모델을 사용하여 다양한 언어 간의 번역을 수행합니다.\n연관키워드: 딥러닝, 자연어 처리, Attention\n\nSQL',
 'SQL\n\n정의: SQL(Structured Query Language)은 데이터베이스에서 데이터를 관리하기 위한 프로그래밍 언어입니다.\n예시: SELECT * FROM users WHERE age > 18;은 18세 이상의 사용자 정보를 조회합니다.\n연관키워드: 데이터베이스, 쿼리, 데이터 관리\n\nJSON',
 'JSON\n\n정의: JSON(JavaScript Object Notation)은 경량의 데이터 교환 형식으로, 사람과 기계 모두에게 읽기 쉬운 텍스트를 사용하여 데이터 객체를 표현합니다.\n예시: {"이름": "홍길동", "나이": 30, "직업": "개발자"}는 JSON 형식의 데이터입니다.\n연관키워드: 데이터 교환, 웹 개발, API\n\nCSV',
 'CSV\n\n정의: CSV(Comma-Separated Values)는 데이터를 저장하는 파일 형식으로, 각 데이터 값은 쉼표로 구분됩니다.\n예시: 이름, 나이, 직업이라는 헤더를 가진 CSV 파일에는 홍길동, 30, 개발자와 같은 데이터가 포함될 수 있습니다.\n연관키워드: 데이터 형식, 파일 처리, 데이터 교환',
 'Structured Data\n\n정의: 구조화된 데이터는 정해진 형식이나 스키마에 따라 조직된 데이터입니다.\n예시: 관계형 데이터베이스에 저장된 고객 정보 테이블은 구조화된 데이터의 예입니다.\n연관키워드: 데이터베이스, 데이터 분석, 데이터 모델링\n\nTF-IDF (Term Frequency-Inverse Document Frequency)',
 'TF-IDF (Term Frequency-Inverse Document Frequency)\n\n정의: TF-IDF는 문서 내에서 단어의 중요도를 평가하는 데 사용되는 통계적 척도입니다.\n예시: 많은 문서에서 자주 등장하지 않는 단어는 높은 TF-IDF 값을 가집니다.\n연관키워드: 자연어 처리, 정보 검색, 데이터 마이닝\n\nSemantic Search',
 '정의: 의미론적 검색은 사용자의 질의를 단순한 키워드 매칭을 넘어서 그 의미를 파악하여 관련된 결과를 반환하는 검색 방식입니다.\n예시: 사용자가 "태양계 행성"이라고 검색하면, "목성", "화성" 등과 같이 관련된 행성에 대한 정보를 반환합니다.\n연관키워드: 자연어 처리, 검색 알고리즘, 데이터 마이닝',
 'Token\n\n정의: 토큰은 텍스트를 더 작은 단위로 분할하는 것을 의미합니다.\n예시: 문장 "나는 학교에 간다"를 "나는", "학교에", "간다"로 분할합니다.\n연관키워드: 토큰화, 자연어 처리, 구문 분석\n\nTokenizer',
 'Tokenizer\n\n정의: 토크나이저는 텍스트 데이터를 토큰으로 분할하는 도구입니다.\n예시: "I love programming."이라는 문장을 ["I", "love", "programming", "."]으로 분할합니다.\n연관키워드: 토큰화, 자연어 처리, 구문 분석\n\nVectorStore',
 'VectorStore\n\n정의: 벡터스토어는 벡터 형식으로 변환된 데이터를 저장하는 시스템입니다.\n예시: 단어 임베딩 벡터들을 데이터베이스에 저장하여 빠르게 접근할 수 있습니다.\n연관키워드: 임베딩, 데이터베이스, 벡터화\n\nCrawling',
 'Crawling\n\n정의: 크롤링은 자동화된 방식으로 웹 페이지를 방문하여 데이터를 수집하는 과정입니다.\n예시: 구글 검색 엔진이 인터넷 상의 웹사이트를 방문하여 콘텐츠를 수집하고 인덱싱하는 것이 크롤링입니다.\n연관키워드: 데이터 수집, 웹 스크래핑, 검색 엔진',
 'Word2Vec\n\n정의: Word2Vec은 단어를 벡터 공간에 매핑하여 단어 간의 의미적 관계를 나타내는 자연어 처리 기술입니다.\n예시: Word2Vec 모델에서 "왕"과 "여왕"은 서로 가까운 위치에 벡터로 표현됩니다.\n연관키워드: 자연어 처리, 임베딩, 의미론적 유사성\n\nFAISS (Facebook AI Similarity Search)',
 '정의: FAISS는 페이스북에서 개발한 고속 유사성 검색 라이브러리로, 특히 대규모 벡터 집합에서 유사 벡터를 효과적으로 검색할 수 있도록 설계되었습니다.\n예시: 수백만 개의 이미지 벡터 중에서 비슷한 이미지를 빠르게 찾는 데 FAISS가 사용될 수 있습니다.\n연관키워드: 벡터 검색, 머신러닝, 데이터베이스 최적화']

### SemanticChunker

텍스트를 유사성에 기반하여 분할. 

<br>

> ```python
> text_splitter = SemanticChunker(OpenAIEmbeddings())
> chunks = text_splitter.split_text(file)
> documents = text_splitter.create_documents([file])
> ```

### MarkdownHeaderTextSplitter

문서를 지정된 헤더 집합에 따라 분할. <br>
각 헤더 그룹 아래의 내용을 별도의 chunk로 관리. <br>
-> 문서의 전반적인 구조를 유지하면서도 내용을 더 세밀하게 다룰 수 있음

<br>

> ```python
> markdown_document = ''
> 
> headers_to_split_on = [  # 문서를 분할할 헤더 레벨과 해당 레벨의 이름을 정의.
>     (
>         "#",
>         "Header 1",  # 헤더 레벨 1은 '#'로 표시되며, 'Header 1'이라는 이름을 가짐
>     ),  
>     (
>         "##",
>         "Header 2",  # 헤더 레벨 2는 '##'로 표시되며, 'Header 2'라는 이름을 가짐
>     ),  
>     (
>         "###",
>         "Header 3",  # 헤더 레벨 3은 '###'로 표시되며, 'Header 3'이라는 이름을 가짐
>     ), 
> ]
> 
> markdown_splitter = MarkdownHeaderTextSplitter(
>     headers_to_split_on=headers_to_split_on,
>     strip_headers = False,    # 헤더를 제거하지 않도록 설정
> )
> documents = markdown_splitter.split_text(markdown_document)
>
> # RecursiveCharacterTextSplitter로 분할된 결과 분할
> text_splitter = RecursiveCharacterTextSplitter(
>     chunk_size=200,
>     chunk_overlap=20,
> )
documents = text_splitter.split_documents(md_header_splits)
> ```

In [285]:
markdown = '''
# 딥러닝(Deep Learning)

딥러닝은 **인공지능(AI)**의 한 분야로, **신경망(Neural Networks)**을 기반으로 하는 기계 학습 기술입니다. 이 기술은 복잡한 데이터의 패턴을 학습하고 예측하는 데 매우 효과적입니다.

## 주요 구성 요소

### 신경망(Neural Network)

신경망은 여러 개의 노드(뉴런)로 구성된 구조로, 다음과 같은 층으로 이루어져 있습니다:

- **입력층(Input Layer)**: 모델이 데이터를 받는 첫 번째 층입니다.
- **은닉층(Hidden Layer)**: 입력층과 출력층 사이에 위치하며, 데이터의 특성을 추출합니다.
- **출력층(Output Layer)**: 모델의 최종 결과를 출력합니다.

### 훈련 데이터(Training Data)

훈련 데이터는 신경망이 학습하는 데 사용하는 데이터입니다. 주로 레이블이 있는 데이터가 사용됩니다. 데이터의 품질은 모델의 성능에 큰 영향을 미칩니다.

### 손실 함수(Loss Function)

손실 함수는 모델의 예측값과 실제값 간의 차이를 계산하는 함수입니다. 주로 사용되는 손실 함수는 다음과 같습니다:

- **회귀 문제**: 평균 제곱 오차(Mean Squared Error, MSE)
- **분류 문제**: 교차 엔트로피 손실(Cross-Entropy Loss)

## 딥러닝의 응용 분야

### 이미지 인식

딥러닝은 이미지 인식 분야에서 크게 발전하였으며, 다음과 같은 응용이 있습니다:

- **얼굴 인식**: 보안 시스템에서 사용자 인증에 사용됩니다.
- **자율주행차**: 도로와 물체를 인식하여 안전한 주행을 가능하게 합니다.

### 자연어 처리

자연어 처리 분야에서도 딥러닝은 중요한 역할을 합니다:

- **번역**: 기계 번역 시스템에서 언어를 자동으로 번역합니다.
- **감정 분석**: 소셜 미디어 데이터에서 감정을 분석하여 인사이트를 제공합니다.

### 의료

의료 분야에서도 딥러닝의 활용이 증가하고 있습니다:

- **질병 진단**: 의료 이미지를 분석하여 질병을 조기에 발견합니다.
- **환자 데이터 분석**: 대규모 환자 데이터를 분석하여 치료법을 개선합니다.

## 결론

딥러닝은 다양한 분야에서 혁신을 가져오고 있으며, 앞으로도 계속 발전할 것으로 기대됩니다. 기술의 발전과 함께 윤리적 고려도 중요한 이슈로 떠오르고 있습니다.
'''

In [289]:
# 분할할 헤더를 정의합니다. 각 튜플은 헤더 마크와 해당 헤더의 이름을 포함합니다.
headers_to_split_on = [
    ('#', 'Header 1'),         # 1단계 헤더
    ('##', 'Header 2'),        # 2단계 헤더
    ('###', 'Header 3'),       # 3단계 헤더
]

# MarkdownHeaderTextSplitter를 사용하여 마크다운 텍스트를 헤더를 기준으로 분할하는 설정을 정의합니다.
markdown_splitter = MarkdownHeaderTextSplitter(
    headers_to_split_on=headers_to_split_on,  # 분할할 헤더 목록
    strip_headers=True,                         # 분할 후 헤더를 제거할지 여부
)

# 설정된 markdown_splitter를 사용하여 markdown 텍스트를 분할합니다.
documents = markdown_splitter.split_text(markdown)

# 생성된 documents 변수를 출력하여 내용을 확인합니다.
documents

[Document(metadata={'Header 1': '딥러닝(Deep Learning)'}, page_content='딥러닝은 **인공지능(AI)**의 한 분야로, **신경망(Neural Networks)**을 기반으로 하는 기계 학습 기술입니다. 이 기술은 복잡한 데이터의 패턴을 학습하고 예측하는 데 매우 효과적입니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '주요 구성 요소', 'Header 3': '신경망(Neural Network)'}, page_content='신경망은 여러 개의 노드(뉴런)로 구성된 구조로, 다음과 같은 층으로 이루어져 있습니다:  \n- **입력층(Input Layer)**: 모델이 데이터를 받는 첫 번째 층입니다.\n- **은닉층(Hidden Layer)**: 입력층과 출력층 사이에 위치하며, 데이터의 특성을 추출합니다.\n- **출력층(Output Layer)**: 모델의 최종 결과를 출력합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '주요 구성 요소', 'Header 3': '훈련 데이터(Training Data)'}, page_content='훈련 데이터는 신경망이 학습하는 데 사용하는 데이터입니다. 주로 레이블이 있는 데이터가 사용됩니다. 데이터의 품질은 모델의 성능에 큰 영향을 미칩니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '주요 구성 요소', 'Header 3': '손실 함수(Loss Function)'}, page_content='손실 함수는 모델의 예측값과 실제값 간의 차이를 계산하는 함수입니다. 주로 사용되는 손실 함수는 다음과 같습니다:  \n- **회귀 문제**: 평균 제곱 오차(Mean Squared Error, MSE)\n- **분류 문제**: 교차 엔트로피 손실(Cross-Entropy Loss)'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '딥러닝의 응용 분야', 'Header 3': '이미지 인식'}, page_content='딥러닝은 이미지 인식 분야에서 크게 발전하였으며, 다음과 같은 응용이 있습니다:  \n- **얼굴 인식**: 보안 시스템에서 사용자 인증에 사용됩니다.\n- **자율주행차**: 도로와 물체를 인식하여 안전한 주행을 가능하게 합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '딥러닝의 응용 분야', 'Header 3': '자연어 처리'}, page_content='자연어 처리 분야에서도 딥러닝은 중요한 역할을 합니다:  \n- **번역**: 기계 번역 시스템에서 언어를 자동으로 번역합니다.\n- **감정 분석**: 소셜 미디어 데이터에서 감정을 분석하여 인사이트를 제공합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '딥러닝의 응용 분야', 'Header 3': '의료'}, page_content='의료 분야에서도 딥러닝의 활용이 증가하고 있습니다:  \n- **질병 진단**: 의료 이미지를 분석하여 질병을 조기에 발견합니다.\n- **환자 데이터 분석**: 대규모 환자 데이터를 분석하여 치료법을 개선합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '결론'}, page_content='딥러닝은 다양한 분야에서 혁신을 가져오고 있으며, 앞으로도 계속 발전할 것으로 기대됩니다. 기술의 발전과 함께 윤리적 고려도 중요한 이슈로 떠오르고 있습니다.')]

In [288]:
# MarkdownHeaderTextSplitter를 사용하여 마크다운 텍스트를 헤더를 기준으로 분할하는 설정을 정의합니다.
markdown_splitter = MarkdownHeaderTextSplitter(
    headers_to_split_on=headers_to_split_on,  # 분할할 헤더 목록
    strip_headers=False,                        # 분할 후 헤더를 유지할지 여부 (여기서는 유지)
)

# 설정된 markdown_splitter를 사용하여 markdown 텍스트를 분할합니다.
documents = markdown_splitter.split_text(markdown)

# 생성된 documents 변수를 출력하여 내용을 확인합니다.
documents

[Document(metadata={'Header 1': '딥러닝(Deep Learning)'}, page_content='# 딥러닝(Deep Learning)  \n딥러닝은 **인공지능(AI)**의 한 분야로, **신경망(Neural Networks)**을 기반으로 하는 기계 학습 기술입니다. 이 기술은 복잡한 데이터의 패턴을 학습하고 예측하는 데 매우 효과적입니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '주요 구성 요소', 'Header 3': '신경망(Neural Network)'}, page_content='## 주요 구성 요소  \n### 신경망(Neural Network)  \n신경망은 여러 개의 노드(뉴런)로 구성된 구조로, 다음과 같은 층으로 이루어져 있습니다:  \n- **입력층(Input Layer)**: 모델이 데이터를 받는 첫 번째 층입니다.\n- **은닉층(Hidden Layer)**: 입력층과 출력층 사이에 위치하며, 데이터의 특성을 추출합니다.\n- **출력층(Output Layer)**: 모델의 최종 결과를 출력합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '주요 구성 요소', 'Header 3': '훈련 데이터(Training Data)'}, page_content='### 훈련 데이터(Training Data)  \n훈련 데이터는 신경망이 학습하는 데 사용하는 데이터입니다. 주로 레이블이 있는 데이터가 사용됩니다. 데이터의 품질은 모델의 성능에 큰 영향을 미칩니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '주요 구성 요소', 'Header 3': '손실 함수(Loss Function)'}, page_content='### 손실 함수(Loss Function)  \n손실 함수는 모델의 예측값과 실제값 간의 차이를 계산하는 함수입니다. 주로 사용되는 손실 함수는 다음과 같습니다:  \n- **회귀 문제**: 평균 제곱 오차(Mean Squared Error, MSE)\n- **분류 문제**: 교차 엔트로피 손실(Cross-Entropy Loss)'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '딥러닝의 응용 분야', 'Header 3': '이미지 인식'}, page_content='## 딥러닝의 응용 분야  \n### 이미지 인식  \n딥러닝은 이미지 인식 분야에서 크게 발전하였으며, 다음과 같은 응용이 있습니다:  \n- **얼굴 인식**: 보안 시스템에서 사용자 인증에 사용됩니다.\n- **자율주행차**: 도로와 물체를 인식하여 안전한 주행을 가능하게 합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '딥러닝의 응용 분야', 'Header 3': '자연어 처리'}, page_content='### 자연어 처리  \n자연어 처리 분야에서도 딥러닝은 중요한 역할을 합니다:  \n- **번역**: 기계 번역 시스템에서 언어를 자동으로 번역합니다.\n- **감정 분석**: 소셜 미디어 데이터에서 감정을 분석하여 인사이트를 제공합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '딥러닝의 응용 분야', 'Header 3': '의료'}, page_content='### 의료  \n의료 분야에서도 딥러닝의 활용이 증가하고 있습니다:  \n- **질병 진단**: 의료 이미지를 분석하여 질병을 조기에 발견합니다.\n- **환자 데이터 분석**: 대규모 환자 데이터를 분석하여 치료법을 개선합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '결론'}, page_content='## 결론  \n딥러닝은 다양한 분야에서 혁신을 가져오고 있으며, 앞으로도 계속 발전할 것으로 기대됩니다. 기술의 발전과 함께 윤리적 고려도 중요한 이슈로 떠오르고 있습니다.')]

In [291]:
# RecursiveCharacterTextSplitter를 사용하여 텍스트를 분할하는 설정을 정의합니다.
text_splitter = RecursiveCharacterTextSplitter(
    chunk_size=300,            # 각 청크의 최대 크기 (300 문자)
    chunk_overlap=100,         # 청크 간의 겹치는 문자 수 (100 문자)
)

# 설정된 text_splitter를 사용하여 documents 리스트의 내용을 분할합니다.
splits = text_splitter.split_documents(documents)

# 생성된 splits 변수를 출력하여 내용을 확인합니다.
splits

[Document(metadata={'Header 1': '딥러닝(Deep Learning)'}, page_content='딥러닝은 **인공지능(AI)**의 한 분야로, **신경망(Neural Networks)**을 기반으로 하는 기계 학습 기술입니다. 이 기술은 복잡한 데이터의 패턴을 학습하고 예측하는 데 매우 효과적입니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '주요 구성 요소', 'Header 3': '신경망(Neural Network)'}, page_content='신경망은 여러 개의 노드(뉴런)로 구성된 구조로, 다음과 같은 층으로 이루어져 있습니다:  \n- **입력층(Input Layer)**: 모델이 데이터를 받는 첫 번째 층입니다.\n- **은닉층(Hidden Layer)**: 입력층과 출력층 사이에 위치하며, 데이터의 특성을 추출합니다.\n- **출력층(Output Layer)**: 모델의 최종 결과를 출력합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '주요 구성 요소', 'Header 3': '훈련 데이터(Training Data)'}, page_content='훈련 데이터는 신경망이 학습하는 데 사용하는 데이터입니다. 주로 레이블이 있는 데이터가 사용됩니다. 데이터의 품질은 모델의 성능에 큰 영향을 미칩니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '주요 구성 요소', 'Header 3': '손실 함수(Loss Function)'}, page_content='손실 함수는 모델의 예측값과 실제값 간의 차이를 계산하는 함수입니다. 주로 사용되는 손실 함수는 다음과 같습니다:  \n- **회귀 문제**: 평균 제곱 오차(Mean Squared Error, MSE)\n- **분류 문제**: 교차 엔트로피 손실(Cross-Entropy Loss)'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '딥러닝의 응용 분야', 'Header 3': '이미지 인식'}, page_content='딥러닝은 이미지 인식 분야에서 크게 발전하였으며, 다음과 같은 응용이 있습니다:  \n- **얼굴 인식**: 보안 시스템에서 사용자 인증에 사용됩니다.\n- **자율주행차**: 도로와 물체를 인식하여 안전한 주행을 가능하게 합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '딥러닝의 응용 분야', 'Header 3': '자연어 처리'}, page_content='자연어 처리 분야에서도 딥러닝은 중요한 역할을 합니다:  \n- **번역**: 기계 번역 시스템에서 언어를 자동으로 번역합니다.\n- **감정 분석**: 소셜 미디어 데이터에서 감정을 분석하여 인사이트를 제공합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '딥러닝의 응용 분야', 'Header 3': '의료'}, page_content='의료 분야에서도 딥러닝의 활용이 증가하고 있습니다:  \n- **질병 진단**: 의료 이미지를 분석하여 질병을 조기에 발견합니다.\n- **환자 데이터 분석**: 대규모 환자 데이터를 분석하여 치료법을 개선합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '결론'}, page_content='딥러닝은 다양한 분야에서 혁신을 가져오고 있으며, 앞으로도 계속 발전할 것으로 기대됩니다. 기술의 발전과 함께 윤리적 고려도 중요한 이슈로 떠오르고 있습니다.')]

### HTMLHeaderTextSplitter

텍스트를 요소 수준에서 분할하고 각 헤더에 대한 메타데이터를 추가하는 구조 인식 chunk 생성. <br>
-> 각 청크와 관련된 메타데이터를 추가. <br>
요소별로 chunk를 반환하거나 동일한 메타데이터를 가진 요소를 결합 가능. <br>
-> 관련 텍스트를 대략적으로, 의미론적으로 그룹화.
-> 문서 구조에 인코딩된 context의 풍부한 정보를 보존.

<br>

> ```python
> html_data = ''
> headers_to_split_on = [
>     ('h1', 'Header 1'),  # 헤더 태그와 해당 헤더의 이름을 지정.
>     ('h2', 'Header 2'),
>     ('h3', 'Header 3'),
> ]
> 
> html_splitter = HTMLHeaderTextSplitter(headers_to_split_on=headers_to_split_on)
> documents = html_splitter.split_text(html_data)
>
> ###################
> 
> chunk_size = 300
> chunk_overlap = 30
> text_splitter = RecursiveCharacterTextSplitter(
>     chunk_size=300,
>     chunk_overlap=30,
> )
> documents = text_splitter.split_documents(documents)
> ```

In [295]:
html = '''
<h1>딥러닝(Deep Learning)</h1>

<p>딥러닝은 <strong>인공지능(AI)</strong>의 한 분야로, <strong>신경망(Neural Networks)</strong>을 기반으로 하는 기계 학습 기술입니다. 이 기술은 복잡한 데이터의 패턴을 학습하고 예측하는 데 매우 효과적입니다.</p>

<h2>주요 구성 요소</h2>

<h3>신경망(Neural Network)</h3>

<p>신경망은 여러 개의 노드(뉴런)로 구성된 구조로, 다음과 같은 층으로 이루어져 있습니다:</p>
<ul>
    <li><strong>입력층(Input Layer)</strong>: 모델이 데이터를 받는 첫 번째 층입니다.</li>
    <li><strong>은닉층(Hidden Layer)</strong>: 입력층과 출력층 사이에 위치하며, 데이터의 특성을 추출합니다.</li>
    <li><strong>출력층(Output Layer)</strong>: 모델의 최종 결과를 출력합니다.</li>
</ul>

<h3>훈련 데이터(Training Data)</h3>

<p>훈련 데이터는 신경망이 학습하는 데 사용하는 데이터입니다. 주로 레이블이 있는 데이터가 사용됩니다. 데이터의 품질은 모델의 성능에 큰 영향을 미칩니다.</p>

<h3>손실 함수(Loss Function)</h3>

<p>손실 함수는 모델의 예측값과 실제값 간의 차이를 계산하는 함수입니다. 주로 사용되는 손실 함수는 다음과 같습니다:</p>
<ul>
    <li><strong>회귀 문제</strong>: 평균 제곱 오차(Mean Squared Error, MSE)</li>
    <li><strong>분류 문제</strong>: 교차 엔트로피 손실(Cross-Entropy Loss)</li>
</ul>

<h2>딥러닝의 응용 분야</h2>

<h3>이미지 인식</h3>

<p>딥러닝은 이미지 인식 분야에서 크게 발전하였으며, 다음과 같은 응용이 있습니다:</p>
<ul>
    <li><strong>얼굴 인식</strong>: 보안 시스템에서 사용자 인증에 사용됩니다.</li>
    <li><strong>자율주행차</strong>: 도로와 물체를 인식하여 안전한 주행을 가능하게 합니다.</li>
</ul>

<h3>자연어 처리</h3>

<p>자연어 처리 분야에서도 딥러닝은 중요한 역할을 합니다:</p>
<ul>
    <li><strong>번역</strong>: 기계 번역 시스템에서 언어를 자동으로 번역합니다.</li>
    <li><strong>감정 분석</strong>: 소셜 미디어 데이터에서 감정을 분석하여 인사이트를 제공합니다.</li>
</ul>

<h3>의료</h3>

<p>의료 분야에서도 딥러닝의 활용이 증가하고 있습니다:</p>
<ul>
    <li><strong>질병 진단</strong>: 의료 이미지를 분석하여 질병을 조기에 발견합니다.</li>
    <li><strong>환자 데이터 분석</strong>: 대규모 환자 데이터를 분석하여 치료법을 개선합니다.</li>
</ul>

<h2>결론</h2>

<p>딥러닝은 다양한 분야에서 혁신을 가져오고 있으며, 앞으로도 계속 발전할 것으로 기대됩니다. 기술의 발전과 함께 윤리적 고려도 중요한 이슈로 떠오르고 있습니다.</p>
'''

In [296]:
headers_to_split_on = [
    ('h1', 'Header 1'),
    ('h2', 'Header 2'),
    ('h3', 'Header 3'),
]

html_splitter = HTMLHeaderTextSplitter(
    headers_to_split_on=headers_to_split_on,
)
documents = html_splitter.split_text(html)
documents

[Document(metadata={'Header 1': '딥러닝(Deep Learning)'}, page_content='딥러닝은 인공지능(AI)의 한 분야로, 신경망(Neural Networks)을 기반으로 하는 기계 학습 기술입니다. 이 기술은 복잡한 데이터의 패턴을 학습하고 예측하는 데 매우 효과적입니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '주요 구성 요소', 'Header 3': '신경망(Neural Network)'}, page_content='신경망은 여러 개의 노드(뉴런)로 구성된 구조로, 다음과 같은 층으로 이루어져 있습니다:  \n입력층(Input Layer): 모델이 데이터를 받는 첫 번째 층입니다. 은닉층(Hidden Layer): 입력층과 출력층 사이에 위치하며, 데이터의 특성을 추출합니다. 출력층(Output Layer): 모델의 최종 결과를 출력합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '주요 구성 요소', 'Header 3': '훈련 데이터(Training Data)'}, page_content='훈련 데이터는 신경망이 학습하는 데 사용하는 데이터입니다. 주로 레이블이 있는 데이터가 사용됩니다. 데이터의 품질은 모델의 성능에 큰 영향을 미칩니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '주요 구성 요소', 'Header 3': '손실 함수(Loss Function)'}, page_content='손실 함수는 모델의 예측값과 실제값 간의 차이를 계산하는 함수입니다. 주로 사용되는 손실 함수는 다음과 같습니다:  \n회귀 문제: 평균 제곱 오차(Mean Squared Error, MSE) 분류 문제: 교차 엔트로피 손실(Cross-Entropy Loss)'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '딥러닝의 응용 분야', 'Header 3': '이미지 인식'}, page_content='딥러닝은 이미지 인식 분야에서 크게 발전하였으며, 다음과 같은 응용이 있습니다:  \n얼굴 인식: 보안 시스템에서 사용자 인증에 사용됩니다. 자율주행차: 도로와 물체를 인식하여 안전한 주행을 가능하게 합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '딥러닝의 응용 분야', 'Header 3': '자연어 처리'}, page_content='자연어 처리 분야에서도 딥러닝은 중요한 역할을 합니다:  \n번역: 기계 번역 시스템에서 언어를 자동으로 번역합니다. 감정 분석: 소셜 미디어 데이터에서 감정을 분석하여 인사이트를 제공합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '딥러닝의 응용 분야', 'Header 3': '의료'}, page_content='의료 분야에서도 딥러닝의 활용이 증가하고 있습니다:  \n질병 진단: 의료 이미지를 분석하여 질병을 조기에 발견합니다. 환자 데이터 분석: 대규모 환자 데이터를 분석하여 치료법을 개선합니다.'),
 Document(metadata={'Header 1': '딥러닝(Deep Learning)', 'Header 2': '결론'}, page_content='딥러닝은 다양한 분야에서 혁신을 가져오고 있으며, 앞으로도 계속 발전할 것으로 기대됩니다. 기술의 발전과 함께 윤리적 고려도 중요한 이슈로 떠오르고 있습니다.')]

### RecursiveJsonSplitter

깊이 우선 탐색을 통하여 더 작은 json chunk 생성. <br> 
중첩된 json 객체를 가능한 한 유지하려고 시도. <br>
-> but 청크의 크기를 min_chunk_size와 max_chunk_size 사이로 유지하기 위해 필요한 경우 객체 분할. 
값이 중첩된 json이 아니라 매우 큰 문자열인 경우, 해당 문자열은 분할되지 않음. <br
chunk 크기에 제한이 필요한 경우, RecursiveTextSplitter를 사용하여 해당 청크를 처리하는 것을 고려해 볼 수 있음. <br>

분할 기준:
- 텍스트 분할 방식: json 값
- 청크 크기 측정 방식: 문자 수

> ```python
> json_data = ''
> splitter = RecursiveJsonSplitter(max_chunk_size=300)
> json_chunks = splitter.split_json(
>     json_data=json_data,
>     onvert_lists=True,    # 리스트를 index:item 형태의 key:value 쌍으로 변환
>     )
> 
> # json data 기반 문서 생성
> documents = splitter.create_documents(texts=[json_data])
> 
> # json data 기반 문자열 청크 생성
> texts = splitter.split_text(json_data=json_data)
> ```

In [301]:
# JSON 형식의 문자열을 파이썬 딕셔너리로 변환합니다.
json_data = json.loads(''' 
{
    "name": "Alice",               # 이름
    "age": 30,                     # 나이
    "address": {                   # 주소 정보
        "street": "123 Main St",   # 거리
        "city": "Wonderland",      # 도시
        "postalCode": "12345"      # 우편번호
    },
    "hobbies": ["reading", "traveling", "swimming"],  # 취미 목록
    "employment": {                # 고용 정보
        "company": "Tech Co",      # 회사명
        "position": "Engineer"      # 직책
    }
}''')

In [306]:
# RecursiveJsonSplitter를 사용하여 JSON 데이터를 분할하는 설정을 정의합니다.
json_splitter = RecursiveJsonSplitter(max_chunk_size=50)  # 최대 청크 크기를 50으로 설정

# 설정된 json_splitter를 사용하여 json_data를 분할합니다.
# convert_lists=True는 리스트 항목을 개별적으로 분할하도록 설정합니다.
json_chunks = json_splitter.split_json(
    json_data=json_data,         # 분할할 JSON 데이터
    convert_lists=True,          # 리스트를 개별 항목으로 변환
)

# 생성된 json_chunks 변수를 출력하여 내용을 확인합니다.
json_chunks

[{'name': 'Alice', 'age': 30, 'address': {'street': '123 Main St'}},
 {'address': {'city': 'Wonderland', 'postalCode': '12345'}},
 {'hobbies': {'0': 'reading', '1': 'traveling', '2': 'swimming'}},
 {'employment': {'company': 'Tech Co', 'position': 'Engineer'}}]

In [304]:
# RecursiveJsonSplitter를 사용하여 JSON 데이터를 분할하는 설정을 정의합니다.
json_splitter = RecursiveJsonSplitter(max_chunk_size=300)  # 최대 청크 크기를 300으로 설정

# 설정된 json_splitter를 사용하여 json_data를 분할합니다.
json_chunks = json_splitter.split_json(
    json_data=json_data,  # 분할할 JSON 데이터
)

# 생성된 json_chunks 변수를 출력하여 내용을 확인합니다.
json_chunks

[{'name': 'Alice',
  'age': 30,
  'address': {'street': '123 Main St',
   'city': 'Wonderland',
   'postalCode': '12345'},
  'hobbies': ['reading', 'traveling', 'swimming'],
  'employment': {'company': 'Tech Co', 'position': 'Engineer'}}]

### Embedding

한국어 검색을 위한 임베딩 벤치마크: https://github.com/teddylee777/Kor-IR?tab=readme-ov-file

#### OpenAIEmbeddings

OpenAI의 embeding API를 사용한 embedding.

<br>

> ```python
> embedding_model = OpenAIEmbeddings(
>     model="text-embedding-3-small",
>     # dimensions=1024, # 차원 조정
> )
> 
> # text embedding
> embedded_text = embedding_model.embed_query(text)
> 
> # document embedding
> embedded_documents = embeddings.embed_documents([text])
> ```

#### CacheBackedEmbeddings

재계산을 피하기 위해 저장하거나 일시적으로 caching. <br>
embeddings을 key-value 저장소에 caching하는 wrapper. <br>
텍스트는 해시되고 이 해시는 캐시에서 키로 사용. <br>

<br>

CacheBackedEmbeddings:
- underlying_embeddings: embedding을 위해 사용하는 모델.
- document_embedding_cache: 문서 임베딩을 캐싱하기 위한 ByteStore.
- namespace (optional): 다른 캐시와의 충돌을 피하기 위해 사용하는 네임스페이스.

<br>

> ```python
> store = LocalFileStore("./cache/")    # 영구적
> store = InMemoryByteStore()           # 비영구적
> 
> cached_embedder = CacheBackedEmbeddings.from_bytes_store(
>     underlying_embeddings=embedding,
>     document_embedding_cache=store,
>     namespace=embedding.model,
> )
> ```

#### HuggingFace Embeddings

huggingface endpoint를 통한 embedding. <br>

<br>

> ```python
> embedding_model = OllamaEmbeddings(
>     model=<model_name>,
>     task='feature-extraction',
>     huggingfacehub_api_token=os.environ['HUGGINGFACEHUB_API_TOKEN'],
>     # model_kwargs: optional ={'device': 'cuda'},  # cuda, cpu
>     # encode_kwargs={'normalize_embeddings': True},
> )
> 
> # 문서 임베딩
> embedded_documents = embedding_model.embed_documents(texts)
> ```

#### OllamaEmbeddings

ollama를 통한 embedding. <br>

<br>

> ```python
> ollama_embeddings = OllamaEmbeddings(
>     model=<model_name>,
> )
> 
> # 문서 임베딩
> embedded_documents = ollama_embeddings.embed_documents(texts)
> ```